<div class="ui-dialog dialog-xs">
    <div class="modal-header">
        <h4 class="modal-title">{{MULTI_JOB_SEL_TITLE}}</h4>
    </div>
    <div class="modal-body">
        <div class="grid js-job-grid grid-height-md"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-min-width js-ok">
            {{COMMON_OK}}
        </button>
        <button type="button" class="btn btn-default btn-min-width js-cancel" data-dismiss>
            {{COMMON_CANCEL}}
        </button>
    </div>
</div>