<div class="sdesigner">
    <div id="tabs" class="ui-tabs">
        <ul class="ui-tabs-nav">
            <li>
                <a href="#tabs-setting">设置</a>
            </li>
            <li>
                <a href="#tabs-other-setting">数据源</a>
            </li>
            <li>
                <a href="#tabs-json-editor">JSON</a>
            </li>
        </ul>
        <div id="tabs-setting" class="ui-tabs-panel">
            <div class="m_u_box">
                <div class="bi-attr-edit-list-div">
                    <h4>显示设置</h4>
                    <div class="bi-attr-edit-list-div-rengs">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="from-inline">
                                    <div class="form-group">
                                        <label for="gtext_colorpicker" class="bi-lable">文字颜色:</label>
                                        <input type="text" class="gtext_colorpicker" name="gtext_colorpicker">
                                    </div>
                                    <div class="form-group">
                                        <label for="axis_colorpicker" class="bi-lable">轴线颜色:</label>
                                        <input type="text" class="axis_colorpicker" name="axis_colorpicker">
                                    </div>
                                    <div class="form-group">
                                        <label for="bar_colorpicker" class="bi-lable">柱状颜色:</label>
                                        <input type="text" class="bar_colorpicker" name="bar_colorpicker">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </div>
        <div id="tabs-other-setting" class="ui-tabs-panel">
        </div>
        <div id="tabs-json-editor" class="ui-tabs-panel">
             <div class="json-menu">
                <a href="#" class="btn btn-blue btn-sm btn-sure" style="float:right">确定</a>
              </div>
             <div id="json-editor"></div>
        </div>

    </div>
</div>
