<div class="sdesigner">
    <div id="tabs" class="ui-tabs">
        <ul class="ui-tabs-nav">
            <li>
                <a href="#tabs-setting">设置</a>
            </li>
            <li>
                <a href="#tabs-other-setting">数据源</a>
            </li>
            <!-- <li>
                <a href="#tabs-json-editor">JSON</a>
            </li> -->
        </ul>
        <div id="tabs-setting" class="ui-tabs-panel">
            <div class="m_u_box">
                <div class="bi-attr-edit-list-div">
                    <h4>数字图设置</h4>
                    <!-- TODO:  位数(done)-->
                    <div class="bi-attr-edit-list-div-rengs">
                        <div class="row">
                            <div class="col-md-3 col-sm-3">
                                <label class="bi-lable" style="margin-right:0px;margin-left:10px;padding-top:5px">
                                 数字位数:
                                </label>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div id="digit_nums" style="position:relative; top:12px;"></div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <input id="digit_nums_input" type="text" class="bi-input-number-range-input" readonly>
                            </div>
                        </div>
                    </div>
                    <!--TODO:  -->
                    <div class="bi-attr-edit-list-div-rengs">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="from-inline">
                                    <div class="form-group">
                                        <label for="unit_title" class="bi-lable">数字单位:</label>
                                        <input type="text" class="unit_title" name="unit_title">
                                    </div>
                                    <div class="form-group">
                                        <label for="gtext_colorpicker" class="bi-lable">数值颜色:</label>
                                        <input type="text" class="gtext_colorpicker" name="gtext_colorpicker">
                                    </div>
                                    <div class="form-group">
                                        <label for="panel_colorpicker" class="bi-lable">面板颜色:</label>
                                        <input type="text" class="panel_colorpicker" name="panel_colorpicker">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </div>
        <div id="tabs-other-setting" class="ui-tabs-panel">
          <div class="dbCofnfigTree"></div>
        </div>
        <!-- <div id="tabs-json-editor" class="ui-tabs-panel">
             <div class="json-menu">
                <a href="#" class="btn btn-blue btn-sm btn-sure" style="float:right">确定</a>
              </div>
             <div id="json-editor"></div>
        </div> -->

    </div>
</div>
