<div class="sdesigner">
    <div id="tabs" class="ui-tabs">
        <ul class="ui-tabs-nav">
            <li>
                <a href="#tabs-setting">设置</a>
            </li>
            <li>
                <a href="#tabs-other-setting">数据源</a>
            </li>
            <!-- <li>
                <a href="#tabs-json-editor">JSON</a>
            </li> -->
        </ul>
        <div id="tabs-setting" class="ui-tabs-panel">
            <div class="m_u_box">

                <div class="bi-attr-edit-list-div">
                    <h4>显示设置</h4>
                    <div class="bi-attr-edit-list-div-rengs">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="from-inline">
                                    <div class="form-group">
                                        <label for="g_titile" class="bi-lable">名称:</label>
                                        <input type="text" class="g_titile" name="g_titile">
                                    </div>
                                    <div class="form-group">
                                        <label for="g_titile" class="bi-lable">显示:</label>
                                        <select class="labelSelect">
                                            <option value="1">值</option>
                                            <option value="2">百分比</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </div>
        <div id="tabs-other-setting" class="ui-tabs-panel">
          <div class="dbCofnfigTree"></div>
        </div>
        <!-- <div id="tabs-json-editor" class="ui-tabs-panel">
             <div class="json-menu">
                <a href="#" class="btn btn-blue btn-sm btn-sure" style="float:right">确定</a>
              </div>
             <div id="json-editor"></div>
        </div> -->

    </div>
</div>
