<div class="sdesigner">
    <div id="tabs" class="ui-tabs">
        <ul class="ui-tabs-nav">
            <li>
                <a href="#tabs-setting">设置</a>
            </li>
            <li>
                <a href="#tabs-other-setting">数据源</a>
            </li>
        </ul>
        <div id="tabs-setting" class="ui-tabs-panel">
            <div class="m_u_box">

                <div class="bi-attr-edit-list-div">
                    <h4>标题设置</h4>
                    <div class="bi-attr-edit-list-div-rengs">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="from-inline">
                                    <div class="form-group">
                                        <label for="g_titile" class="bi-lable">名称:</label>
                                        <input type="text" class="g_titile" name="g_titile">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </div>
        <div id="tabs-other-setting" class="ui-tabs-panel">
        </div>

    </div>
</div>
