<div class="sdesigner">
    <div id="tabs" class="ui-tabs">
        <ul class="ui-tabs-nav">
            <li>
                <a href="#tabs-setting">设置</a>
            </li>
            <li>
                <a href="#tabs-other-setting">数据源</a>
            </li>
        </ul>
        <div id="tabs-setting" class="ui-tabs-panel">
            <div class="m_u_box">
                <div class="bi-attr-edit-list-div">
                    <h4>列头设置</h4>
                    <div class="bi-attr-edit-list-div-rengs">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="from-inline">
                                    <div class="form-group">
                                        <label for="gtext_title" class="bi-lable">列头标题:</label>
                                        <input type="text" class="gtext_title" name="gtext_title">
                                    </div>
                                    <div class="form-group">
                                        <label for="gtext_colorpicker" class="bi-lable">列头颜色:</label>
                                        <input type="text" class="gtext_colorpicker" name="gtext_colorpicker">
                                    </div>

                                    <div class="form-group">
                                        <label for="gtext_colorpicker" class="bi-lable">分隔线色:</label>
                                        <input type="text" class="divide_colorpicker" name="divide_colorpicker">
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bi-attr-edit-list-div">
                    <h4>序号设置</h4>
                    <!-- TODO: 显示 / 隐藏(done) -->
                    <div class="bi-attr-edit-list-div-rengs">
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <lable class="bi-lable" style="margin-right:0px;margin-left:10px">显示/隐藏:</lable>
                            </div>
                            <div class="col-md-4 col-sm-4  col-md-offset-4 .col-sm-offset-4">
                                <label class="switch">
                                    <input type="checkbox" checked="true" class='seq_switch'>
                                    <span style=""></span>
                                 </label>
                            </div>
                        </div>

                    </div>
                    <div class="bi-attr-edit-list-div-rengs seq_config_palne" >
                        <div class="row">
                            <div class="col-md-12">
                                <form class="from-inline">
                                    <div class="form-group">
                                        <label for="seqName" class="bi-lable">列头标题:</label>
                                        <input type="text" class="seqName" name="seqName">
                                    </div>
                                    <div class="form-group">
                                        <label for="gtext_title" class="bi-lable">序号位置:</label>
                                        <select class="seq_select">
                                            <option value="1" selected="true">首位</option>
                                            <option value="2">尾部</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="seq_colorpicker" class="bi-lable">序号颜色:</label>
                                        <input type="text" class="seq_colorpicker" name="seq_colorpicker">
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </div>
        <div id="tabs-other-setting" class="ui-tabs-panel">
        </div>

    </div>
</div>
