<div class="modal-header">
    <h4 class="modal-title">组件配置</h4>
</div>
<div class="modal-body">
    <div class="panel panel-default">
        <div class="panel-heading">基本配置</div>
        <div class="panel-body">
            <form class="form-inline">
                <div class="form-group">
                    <label for="gtext_title">标题:</label>
                    <input type="text" class="gtext_title" name="gtext_title">
                </div>
                 <div class="form-group">
                    <label for="gtext_colorpicker">标题颜色:</label>
                    <input type="text" class="gtext_colorpicker" name="gtext_colorpicker">
                </div>
            </form>

            <form class="form-inline">
                <div class="form-group">
                    <label for="gtext_num_colorpicker">数值颜色:</label>
                    <input type="text" class="gtext_num_colorpicker" name="gtext_num_colorpicker">
                </div>
            </form>
        </div>
    </div>
</div>
