<div class="header-title">
  <div class="title">
    <h1>编辑仪表盘</h1>
  </div>
  <div class='dashbrd-edit'>
    <ul>
      <li>
          <div class="row">
          <div class="form-horizontal" style="width:200px;position:relative;top:4px">
            <div class="form-group">
                <label class="control-label col-md-4">自动刷新</label>
                <div class="col-md-8">
                  <input type="text" name="combobox2" id="combobox2">
                </div>
            </div>
        </div>
      </div>
      </li>
      <li>
        <span class="glyphicon glyphicon-refresh zrefresh pointer" ></span>
      </li>
      <li>
        <div class="z-btn btn-add">
            <span>添加组件</span>
        </div>

      </li>
      <li>
        <div class="z-btn btn-save">
            <span>保存</span>
        </div>
      </li>
      <li>
        <div class="z-btn btn-cancel">
            <span>取消</span>
        </div>
      </li>

    </ul>
  </div>
</div>
<div style="margin-bottom:20px;">
  <div class="grid-stack zdash-container">


  </div>
</div>
<!-- <a href="download?fileName=nohup.out">12312</a> -->
