<div class="header-title">
  <div class="title">
    <h1>编辑仪表盘</h1>
  </div>
  <div class='dashbrd-edit'>
    <ul>
      <li>
        <span class="glyphicon glyphicon-cog zconfig" ></span>
      </li>
      <li>
        <div class="z-btn btn-add">
            <span>添加组件</span>
        </div>

      </li>
      <li>
        <div class="z-btn btn-save">
            <span>保存</span>
        </div>
      </li>
      <li>
        <div class="z-btn btn-cancel">
            <span>取消</span>
        </div>
      </li>
      <!-- <li>
        <div class="z-btn btn-saveimg">
          <span>Save as img</span>
        </div>
      </li> -->
    </ul>
  </div>
</div>

<div class="grid-stack zdash-container">

  <!-- <div class="grid-stack-item" >

              <div class="grid-stack-item-content">
                <div class="header">
                  <h4>Graphs Widget</h4>
                  <ul class="dash-widget-edit">
                    <li>
                      <span class="glyphicon glyphicon-cog"></span>
                    </li>
                    <li>
                      <span class="glyphicon glyphicon-trash"></span>
                    </li>
                  </ul>
                </div>


              </div>

   </div> -->

</div>
