<div class="kdo-dialog ui-dialog dialog-md">
  <div class="modal-header">
    <h4 class="modal-title">筛选条件</h4>
  </div>
  <div class="modal-body filterHostBody">
    <div class="row">
      <div class="col-xs-5 ml15">
        <div class="row">
          <div class="form-group">
            <label for="filterName">Name</label>
            <input type="text" class="filterName filterInput" name="FilterName">
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label for="filterIP">IP</label>
            <input type="text" class="filterIP filterInput" name="filterIP">
          </div>
        </div>

      </div>
      <div class="col-xs-5 col-md-offset-1">
        <div class="row">
          <div class="form-group">
            <label for="filterDNS">DNS</label>
            <input type="text" class="filterDNS filterInput" name="filterDNS">
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label for="filterPort">Port</label>
            <input type="text" class="filterPort filterInput" name="filterPort">
          </div>
        </div>
      </div>
    </div>
    <div class="row mt15px">
     <div class="RightDiv">
       <div class="btn reset">重置</div>
       <div class="btn OK green">应用</div>
     </div>
    </div>

  </div>
