<div class="kdo-right-page">
  <div class="kdo-right-page-header">
    <div class="title">监控点</div>
    <div class="kdoTopBtn">
         <div class="kdoBtn createHost"><i class="glyphicon glyphicon-plus"></i>创建监建点</div>
         <div class="kdoBtn"><i class="glyphicon glyphicon-download-alt"></i>导入</div>

    </div>
  </div>

  <div class="kdo-right-page-cotent">

      <div class="filterArea">
       <div class="kdoGrupids">
         <input type="text" name="combobox1" class="form-control comboboxGrupids ">
       </div>
       <div class="filterComands">
         <i class="glyphicon glyphicon-filter filterHostList"></i>
       </div>
      </div>
      <div class="hostListGrid kdoGrid">
      </div>
      <div  class="hostListBtn col-md-12">
         <button type="button"   class="btn btn-default kdoPageBtn" data-bis="enableHosts">Enable Hosts</button>
         <button type="button"   class="btn btn-default kdoPageBtn" data-bis="disHosts">Disable Hosts</button>
         <button type="button"   class="btn btn-default kdoPageBtn" data-bis="delHosts">Delete</button>
      </div>
  </div>

</div>
