<div class="hostPageContext container-fluid">

  <div class="row">

    <div class="col-md-6">
      <div class="row hostRow">
        <div class="form-group hostGroup">
          <label for="hostHost">Name<span class="host_red">*</span></label>
          <input type="text" class="hostHost filterInput" name="FilterName">
        </div>
      </div>
      <div class="row hostRow">
        <div class="form-group hostGroup">
          <label for="hostProxy">代理</label>
          <input type="text" class="hostProxy filterInput " name="filterIP">
        </div>
      </div>
    </div>


    <div class="col-md-6">
      <div class="row hostRow">
        <div class="form-group hostGroup">
          <label for="hostName">显示名称 <span class="host_red">*</span></label>
          <input type="text" class="hostName filterInput" name="FilterName">
        </div>
      </div>
      <div class="row hostRow">
        <div class="form-group hostGroup">
          <label for="filterIP">是否启用</label>
          <div class="radio">
            <label>
              <input type="radio" name="offon" value="0" checked>启用
             </label>
            <label>
             <input type="radio" name="offon" value="1">停用
             </label>

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group  " style="width:85%">
            <label for="HostDesc">描述</label>
            <textarea class="HostDesc" name="HostDesc" rows="1" style="width:100%"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" style="width:85%">
      <div class="kdoWizardSteps">
        <div style="width:50%" class="active Step1" data-view='.Step1Page'><span>群组</span><span class="host_red">*</span></div>
        <div style="width:50%" class=" Step2" data-view='.Step2Page'><span>接口</span><span class="host_red">*</span></div>
      </div>
      <div class="StepBody" style="height:200px">
        <div class="Step1Page " style="padding:20px">




        </div>
        <div class="Step2Page" style="display:none">
          Step2
        </div>
      </div>
      <div class="StepBtns">
        <div class="btn stepUp green hide">上一步</div>
        <div class="RightDiv">
          <div class="btn">取消</div>
          <div class="btn stepNext green">下一步</div>
        </div>

      </div>

    </div>
  </div>

</div>
