<tr>
  <td>
    <div class="kdo-drag-icon pt8"></div>
  </td>
  <td>
    <input type="text" class="interfaceItemInput" placeholder="IP Address">
        <input type="checkbox" name="" value="">
        <span>Use bulk requests</span>
  </td>
  <td>
    <input type="text" class="interfaceItemInput" placeholder="DNS">
  </td>
  <td width="20%">
    <div class="ipOrDns active pt8">IP</div>
    <div class="ipOrDns pt8">DNS</div>
</div>
</td>
<td>
<input type="text" class="interfaceItemInput" placeholder="Ports">
</td>
<td style="width:10%"  >
<!-- <input type="radio" name="agentPageRadio" checked> -->
<div class="hostDefault pt8"><span><i class="glyphicon glyphicon-ok"></i></span>Default</div>
</td>

<td>
<span class="hostBtn hostRemove">remove</span>
</td>
</tr>
