<div class="hostIntefce">
  <div class="row">
    <div class="col-md-2">
      <ul class="menuUL">
        <li class="active" data-view=".agentPage" data-type="1">Agent</li>
        <li data-view=".snmpPage" data-type="2">SNMP</li>
          <li data-view=".ipmiPage" data-type="3">IPMI</li>
        <li data-view=".jmxPage" data-type="4">JMX</li>

      </ul>
    </div>
    <div class="col-md-10 menuPage">
      <div class="agentPage  menuPageContet">

        <div class="hostPageContext">
          <table class="interfacesTable">
            <tbody>
            </tbody>
          </table>
        </div>
        <span class="hostBtn agentPageAdd">add</span>


      </div>

      <div class="snmpPage menuPageContet" style="display:none">

        <div class="hostPageContext">
          <table class="interfacesTable">
            <tbody>
            </tbody>
          </table>
        </div>
        <span class="hostBtn snmpPageAdd">add</span>

      </div>


      <div class="jmxPage menuPageContet" style="display:none">

        <div class="hostPageContext">
          <table class="interfacesTable">
            <tbody>
            </tbody>
          </table>
        </div>
        <span class="hostBtn jmxPageAdd">add</span>


      </div>

      <div class="ipmiPage menuPageContet" style="display:none">

        <div class="hostPageContext">
          <table class="interfacesTable">
            <tbody>
            </tbody>
          </table>
        </div>
        <span class="hostBtn ipmiPageAdd">add</span>

      </div>

    </div>
  </div>

</div>
