<div class="InventoryPageContext container-fluid">
 <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="form-group kdo-from-group">
              <label for="filterIP"></label>
              <div class="radio">
                <label>
                  <input type="radio" name="offon" value="0" >禁用
                 </label>
                <label>
                 <input type="radio" name="offon" value="1">手动
                 </label>
                 <label>
                  <input type="radio" name="offon" value="1">自动
                  </label>
              </div>
            </div>
          </div>
        </div>

       </div>
 <div class="InventoryBody">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="form-group kdo-from-group">
            <label for="Macro">Type</label>
            <input type="text" class="filterInput " name="Macro"></input>
          </div>
        </div>
      </div>
        <div class="col-md-6">
          <div class="form-group kdo-from-group">
            <label for="MValue">Type(Full details)</label>
            <input type="text" class="filterInput" name="MValue"></input>
          </div>
        </div>
     </div>
    <div class="row">
       <div class="col-md-6">
         <div class="row">
           <div class="form-group kdo-from-group">
             <label for="Macro">Name</label>
             <input type="text" class="filterInput " name="Macro"></input>
           </div>
         </div>
       </div>
         <div class="col-md-6">
           <div class="form-group kdo-from-group">
             <label for="MValue">Alias</label>
             <input type="text" class="filterInput" name="MValue"></input>
           </div>
         </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="form-group kdo-from-group">
            <label for="Macro">Type</label>
            <input type="text" class="filterInput " name="Macro"></input>
          </div>
        </div>
      </div>
        <div class="col-md-6">
          <div class="form-group kdo-from-group">
            <label for="MValue">Type(Full details)</label>
            <input type="text" class="filterInput" name="MValue"></input>
          </div>
        </div>
     </div>
    <div class="row">
       <div class="col-md-6">
         <div class="row">
           <div class="form-group kdo-from-group">
             <label for="Macro">Name</label>
             <input type="text" class="filterInput " name="Macro"></input>
           </div>
         </div>
       </div>
         <div class="col-md-6">
           <div class="form-group kdo-from-group">
             <label for="MValue">Alias</label>
             <input type="text" class="filterInput" name="MValue"></input>
           </div>
         </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="form-group kdo-from-group">
            <label for="Macro">Type</label>
            <input type="text" class="filterInput " name="Macro"></input>
          </div>
        </div>
      </div>
        <div class="col-md-6">
          <div class="form-group kdo-from-group">
            <label for="MValue">Type(Full details)</label>
            <input type="text" class="filterInput" name="MValue"></input>
          </div>
        </div>
     </div>
    <div class="row">
       <div class="col-md-6">
         <div class="row">
           <div class="form-group kdo-from-group">
             <label for="Macro">Name</label>
             <input type="text" class="filterInput " name="Macro"></input>
           </div>
         </div>
       </div>
         <div class="col-md-6">
           <div class="form-group kdo-from-group">
             <label for="MValue">Alias</label>
             <input type="text" class="filterInput" name="MValue"></input>
           </div>
         </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="form-group kdo-from-group">
            <label for="Macro">Type</label>
            <input type="text" class="filterInput " name="Macro"></input>
          </div>
        </div>
      </div>
        <div class="col-md-6">
          <div class="form-group kdo-from-group">
            <label for="MValue">Type(Full details)</label>
            <input type="text" class="filterInput" name="MValue"></input>
          </div>
        </div>
     </div>
    <div class="row">
       <div class="col-md-6">
         <div class="row">
           <div class="form-group kdo-from-group">
             <label for="Macro">Name</label>
             <input type="text" class="filterInput " name="Macro"></input>
           </div>
         </div>
       </div>
         <div class="col-md-6">
           <div class="form-group kdo-from-group">
             <label for="MValue">Alias</label>
             <input type="text" class="filterInput" name="MValue"></input>
           </div>
         </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="form-group kdo-from-group">
            <label for="Macro">Type</label>
            <input type="text" class="filterInput " name="Macro"></input>
          </div>
        </div>
      </div>
        <div class="col-md-6">
          <div class="form-group kdo-from-group">
            <label for="MValue">Type(Full details)</label>
            <input type="text" class="filterInput" name="MValue"></input>
          </div>
        </div>
     </div>
    <div class="row">
       <div class="col-md-6">
         <div class="row">
           <div class="form-group kdo-from-group">
             <label for="Macro">Name</label>
             <input type="text" class="filterInput " name="Macro"></input>
           </div>
         </div>
       </div>
         <div class="col-md-6">
           <div class="form-group kdo-from-group">
             <label for="MValue">Alias</label>
             <input type="text" class="filterInput" name="MValue"></input>
           </div>
         </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="form-group kdo-from-group">
            <label for="Macro">Type</label>
            <input type="text" class="filterInput " name="Macro"></input>
          </div>
        </div>
      </div>
        <div class="col-md-6">
          <div class="form-group kdo-from-group">
            <label for="MValue">Type(Full details)</label>
            <input type="text" class="filterInput" name="MValue"></input>
          </div>
        </div>
     </div>
    <div class="row">
       <div class="col-md-6">
         <div class="row">
           <div class="form-group kdo-from-group">
             <label for="Macro">Name</label>
             <input type="text" class="filterInput " name="Macro"></input>
           </div>
         </div>
       </div>
         <div class="col-md-6">
           <div class="form-group kdo-from-group">
             <label for="MValue">Alias</label>
             <input type="text" class="filterInput" name="MValue"></input>
           </div>
         </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="form-group kdo-from-group">
            <label for="Macro">Type</label>
            <input type="text" class="filterInput " name="Macro"></input>
          </div>
        </div>
      </div>
        <div class="col-md-6">
          <div class="form-group kdo-from-group">
            <label for="MValue">Type(Full details)</label>
            <input type="text" class="filterInput" name="MValue"></input>
          </div>
        </div>
     </div>
    <div class="row">
       <div class="col-md-6">
         <div class="row">
           <div class="form-group kdo-from-group">
             <label for="Macro">Name</label>
             <input type="text" class="filterInput " name="Macro"></input>
           </div>
         </div>
       </div>
         <div class="col-md-6">
           <div class="form-group kdo-from-group">
             <label for="MValue">Alias</label>
             <input type="text" class="filterInput" name="MValue"></input>
           </div>
         </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="form-group kdo-from-group">
            <label for="Macro">Type</label>
            <input type="text" class="filterInput " name="Macro"></input>
          </div>
        </div>
      </div>
        <div class="col-md-6">
          <div class="form-group kdo-from-group">
            <label for="MValue">Type(Full details)</label>
            <input type="text" class="filterInput" name="MValue"></input>
          </div>
        </div>
     </div>
    <div class="row">
       <div class="col-md-6">
         <div class="row">
           <div class="form-group kdo-from-group">
             <label for="Macro">Name</label>
             <input type="text" class="filterInput " name="Macro"></input>
           </div>
         </div>
       </div>
         <div class="col-md-6">
           <div class="form-group kdo-from-group">
             <label for="MValue">Alias</label>
             <input type="text" class="filterInput" name="MValue"></input>
           </div>
         </div>
    </div>
  </div>
  <div class="RightDiv" style="margin-top:20px">
    <div class="btn KdoBtn2  HostMarcoCancel">取消</div>
    <div class="btn KdoBtn2 Kdo_mainColor HostMarcoOK ">保存</div>
  </div>
<div>
