<div class="HostMarcoContext container-fluid">
  <div class="row">

    <div class="col-md-4 col-md-offset-1">
      <div class="row">
        <div class="form-group host-from-group">
          <label for="Macro">Macro</label>
          <input type="text" class="filterInput" name="Macro" placeholder="{$Macro}">
        </div>
      </div>
    </div>
      <div class="col-md-4">
        <div class="form-group host-from-group">
          <label for="MValue">Value</label>
          <input type="text" class="filterInput" name="MValue" placeholder="Value">
        </div>
      </div>

      <div class="col-md-2 host-from-group">
           <div class="kdoBtn macorHostAdd">Add</div>
      </div>


   </div>
   <div class="HostMarcoGrid kdoGrid"></div>
   <div class="RightDiv" style="margin-top:20px">
     <div class="btn KdoBtn2 ">取消</div>
     <div class="btn KdoBtn2 Kdo_mainColor HostMarcoOK ">保存</div>
   </div>
</div>
