<div class="tabs-border js-log-tab">
    <ul>
        <li>
            <a href="#tabs-login-log">
                {{LOG_LOGIN_LOG}}
            </a>
        </li>
        <li>
            <a href="#tabs-system-log">
                {{LOG_SYSTEM_LOG}}
            </a>
        </li>
        <li>
            <a href="#tabs-audit-log">
                {{LOG_AUDIT_LOG}}
            </a>
        </li>
    </ul>
    <div id="tabs-login-log">
    </div>
    <div id="tabs-system-log">
    </div>
    <div id="tabs-audit-log">
    </div>
</div>