<div class="tabHostPage">
  <div class="row">
     <div class="col-md-12">

         <div class="form-group">
           <label for="exampleInputName2">维度</label>
           <div style="width:20%">
             <input type="text" class="xAxis">
           </div>
         </div>

     </div>
   </div>
   <div class="row" style="margin-top:3px">
     <div class="col-md-12">
       <div class="form-inline">
         <div class="form-group">
           <label for="exampleInputName2">指标</label>
         </div>
       </div>
     </div>
     <div class="itemBody">

     </div>
      <div class="col-md-1-12">
        <span class="hostBtn addItem">添加</span>
      </div>
  </div>
</div>
