
<div class="tabPropPage">

  <div class="row">

    <div class="col-md-12">
      <div class="form-inline">
        <div class="form-group">
          <label>X轴配置</label>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4" style="margin-top:10px">
     <div class="kdo-input-style">
       <span class="tag kdo-color-gray">高度</span>
       <input type="text" class="textInput propH"></input>
     </div>
    </div>
    <div class="col-md-4 col-sm-4" style="margin-top:10px">
     <div class="kdo-input-style">
       <span class="tag kdo-color-gray">间隔</span>
       <input type="text" class="textInput propI"></input>
     </div>
    </div>
    <div class="col-md-4 col-sm-4" style="margin-top:10px">
      <div class="kdo-input-style">
        <span class="tag kdo-color-gray">旋转</span>
        <input type="text" class="textInput propR"></input>
      </div>
    </div>
   <div class="col-md-12" style="margin-top:10px">
      <div class="form-inline">
        <div class="form-group">
          <label>其它配置</label>
        </div>
      </div>
   </div>

    <div class="col-md-6" style="margin-top:10px">
      <div class="form-inline">
        <div class="form-group">
          <label>显示标签</label>
          <label class="kdo-switch" style="position:relative;top:5px;left:10px">
              <input type="checkbox" class="axisSwitch propShowLable"  data-el=".xAxis-context">
              <span></span>
          </label>
        </div>
      </div>
    </div>
    <div class="col-md-6" style="margin-top:10px">
      <div class="form-inline">
        <div class="form-group">
          <label>显示缩放</label>
          <label class="kdo-switch" style="position:relative;top:5px;left:10px">
              <input type="checkbox" class="axisSwitch propShowScale"  data-el=".xAxis-context">
              <span></span>
          </label>
        </div>
      </div>
    </div>
    <div class="col-md-6" style="margin-top:15px">
      <div class="form-inline">
        <div class="form-group">
          <label> 辅助线</label>
          <i class="glyphicon glyphicon-pencil settingSubline "></i>
        </div>
      </div>
    </div>


  </div>

</div>
