
mds/test.md
*.pdf
*.rar
*.zip
*.exe
*.qbl
pm/src/.DS_Store
pm/src/com/.DS_Store
pm/src/com/ztesoft/zsmart/.DS_Store
pm/src/com/ztesoft/.DS_Store
pm/.DS_Store
.DS_Store
.DS_Store
pm/.DS_Store
pm/.DS_Store
.DS_Store
pm/screendesigner/upload/bsimage/*.png