<div class="kdoDSelect">
  <div>
    <div class="col-md-5">
      <div>
        <div class="form-group">
          <input type="text" class="filterName filterInput LF" name="FilterName" placeholder="搜索" >
        </div>
      </div>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-5">
      <div>
        <div class="form-group ">
          <input type="text" class="filterName filterInput RF" name="FilterName" placeholder="搜索">
        </div>
      </div>
    </div>
  </div>
  <div>
      <div class="col-md-5" style="padding:0px">
        <div class="form-group">
        <select  class=" form-control  lSelect" autocomplete="off" multiple="multiple" size="5">
          {{#each L}}
          <option value="{{value}}" data-name="{{name}}">
             {{name}}
          </option>
          {{/each}}

        </select>
        </div>
      </div>
      <div class="col-md-2" style="padding:0px;">
         <div class="kk">
           <div class="btn k ROp"><i class="glyphicon glyphicon-triangle-right "></i></div>
           <div class="btn k LOp"><i class="glyphicon glyphicon-triangle-left  "></i></div>
          </div>
      </div>
      <div class="col-md-5" style="padding:0px">
            <div class="form-group">
        <select class=" form-control rSelect" autocomplete="off" multiple="multiple" size="5">
          {{#each R}}
          <option value="{{value}}" data-name="{{name}}">
             {{name}}
          </option>
          {{/each}}
        </select>
        </div>
      </div>
  </div>
</div>
