<div>
	<div class="grid js-mvno-grid grid-height-md"></div>
	<div class="panel panel-default">
		<div class="panel-heading"><h4 class="panel-title">{{MVNOMGR_CONFIG}}</h4></div>
		<div class="panel-body">
			<div class="mvno-config" id="accordion">
				<div class="mvno-config-nav">
					<a class="btn btn-default collapse-first collapseFirst" role="button" href="#collapseFirst">
						<span class="mvno-config-nav-icon iconfont icon-archives"></span>
						<span class="step-progress"></span>
						<span class="badge">
							<span class="badge-circle iconfont icon-circle"></span>
							<span class="badge-num">1</span>
							<span class="badge-success iconfont iconfont-good"></span>
						</span>
						{{MVNOMGR_QUALIFY}}
					</a>
					<a class="btn btn-default collapse-second collapseSecond" role="button" href="#collapseSecond">
						<span class="mvno-config-nav-icon iconfont icon-authorize"></span>
						<span class="step-progress"></span>
						<span class="badge">
							<span class="badge-circle iconfont icon-circle"></span>
							<span class="badge-num">2</span>
							<span class="badge-success iconfont icon-good"></span>
						</span>
						{{MVNOMGR_ASSIGN}}
					</a>
					<!-- <a class="btn btn-default collapse-third collapseThird" role="button" href="#collapseThird">
						<span class="mvno-config-nav-icon iconfont icon-scope-authority"></span>
						<span class="step-progress"></span>
						<span class="badge">
							<span class="badge-circle iconfont icon-circle"></span>
							<span class="badge-num">3</span>
							<span class="badge-success iconfont icon-good"></span>
						</span>
						{{MVNOMGR_BUSINESS_SCOPE}}
					</a>
					<a class="btn btn-default collapse-fourth collapseFourth" role="button" href="#collapseFourth">
						<span class="mvno-config-nav-icon iconfont icon-business"></span>
						<span class="step-progress"></span>
						<span class="badge">
							<span class="badge-circle iconfont icon-circle"></span>
							<span class="badge-num">4</span>
							<span class="badge-success iconfont icon-good"></span>
						</span>
						{{MVNOMGR_PARAM_INIT}}
					</a> -->
				</div>
				<div class="collapse" id="collapseFirst">
				</div>
				<div class="collapse" id="collapseSecond">
				</div>
				
			</div>
		</div>
	</div>
</div>
