<li id="server_{{serviceNo}}" data-no='{{serviceNo}}' class="fadeInUp animated"  data-name={{serviceNameLowerCase}}>
  <i class="glyphicon glyphicon-ok chosiceIcon fadeInUp animated"></i>
  <i class="icon-uniE600 modifiedService"></i>
   <span>{{serviceName}}</span>
   <div class="icommand">
     <i class="icomandGly glyphicon glyphicon-pencil pencilIcon" data-no={{serviceNo}}></i>
     <i class="icomandGly glyphicon glyphicon-trash removeIcon"  data-no={{serviceNo}} ></i>
   </div>
</li>
