<div class="inst_item" id='item_copy_{{id}}'>
    <div class="inst_top_pic">
        <div class="inst_rlt">
            <img src="{{imagePath}}" width="248" height="165">
        </div>
        <div class="inst_vo" data-id={{id}}>
            <a class="btn btn-green btn-sm copy">{{USE}}</a>
        </div>
    </div>
    <div class="inst_text">
        <p>{{name}}</p>
        <div class="inst_opera">
            <span>{{CREATE_TIME}}</span>
            <span>{{operDate}}</span>
        </div>
    </div>
</div>
