<div class="inst_item" id='item_{{id}}'>
    <div class="inst_top_pic">
        <div class="inst_rlt">
            <img src="image.png" width="248" height="165">
        </div>
        <div class="inst_vo" data-id={{id}}>
            <a class="btn btn-green btn-sm edit">编辑</a>
            <a class="btn btn-green btn-sm preview">预览</a>
            <a class="btn btn-green btn-sm delete">删除</a>
        </div>
    </div>
    <div class="inst_text">
        <p>{{name}}</p>
        <div class="inst_opera">
            <span>创建时间</span>
            <span>{{operDate}}</span>
        </div>
    </div>
</div>
