<div class="container-fluid editBody">

    <div class="row col_title">
        <div class="col-md-5">
            <!-- TODO: 菜单栏(tag) -->
            <ul id="mega-menu-1" class="mega-menu">
                <li style="margin-left: 10px">
                    <a href="#">
                        <i class="icon-uniE60A i"></i>
                        <p class="p">图表</p>
                    </a>
                    <ul class="tool_chart" style="height:500px">
                        <li>
                            <h4>柱状图</h4>
                            <div class="tool_chart_box">
                                <a href="#" class="BarBase">
                                    <i class="icon_chart3"></i>
                                    <p>柱状图</p>
                                </a>
                                <a href="#" class="bar">
                                    <i class="icon_chart3"></i>
                                    <p>柱状图B</p>
                                </a>
                                <a href="#" class="stripBar">
                                    <i class="icon_chart4"></i>
                                    <p>条形图</p>
                                </a>
                                <a href="#" class="pileBar">
                                    <i class="icon_chart23"></i>
                                    <p>双柱图</p>
                                </a>
                                <a href="#" class="labelBar">
                                    <i class="icon_chart27"></i>
                                    <p>标签图</p>
                                </a>
                                <a href="#" class="MoveBar">
                                    <i class="icon_chart30"></i>
                                    <p>柱形图</p>
                                </a>
                                <a href="#" class="LineBase">
                                    <i class="icon_chart4"></i>
                                    <p>条形图</p>
                                </a>
                                <a href="#" class="stripLine">
                                    <i class="icon_chart1"></i>
                                    <p>折线图</p>
                                </a>
                                <a href="#" class="StripLineBase">
                                    <i class="icon_chart1"></i>
                                    <p>折线图B</p>
                                </a>

                            </div>

                        </li>
                        <li>
                            <h4>饼图</h4>
                            <div class="tool_chart_box">
                                <a href="#" class="annular">
                                    <i class="icon_chart19"></i>
                                    <p>环形圆</p>
                                </a>
                                <a href="#" class="PieRing">
                                        <i class="icon_chart10"></i>
                                        <p>环形图</p>
                                </a>
                                <a href="#" class="circleNum">
                                    <i class="icon_chart24"></i>
                                    <p>圆形图</p>
                                </a>
                                <a href="#" class="arcProcess">
                                    <i class="icon_chart26"></i>
                                    <p>仪表图</p>
                                </a>
                                <a href="#" class="circularRing">
                                    <i class="icon_chart32"></i>
                                    <p>圆环图</p>
                                </a>
                                <a href="#" class="PieBase">
                                    <i class="icon_chart33"></i>
                                    <p>饼图</p>
                                </a>
                            </div>
                        </li>
                        <li>
                            <h4>其它</h4>
                            <div class="tool_chart_box">
                                <a href="#" class="text">
                                    <i class="icon_chart18"></i>
                                    <p>文本图</p>
                                </a>
                                <a href="#" class="Nodes">
                                    <i class="icon_chart13"></i>
                                    <p>节点图</p>
                                </a>
                                <a href="#" class="progressBar">
                                    <i class="icon_chart28"></i>
                                    <p>进度条</p>
                                </a>
                                <a href="#" class="IconBar">
                                    <i class="icon_chart29"></i>
                                    <p>图标图</p>
                                </a>
                                <a href="#" class="numsBar">
                                    <i class="icon_chart31"></i>
                                    <p>数字图</p>
                                </a>
                                <a href="#" class="TableBase">
                                    <i class="icon_chart35"></i>
                                    <p>表格图</p>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-uniE60E i"></i>
                        <p class="p">图形</p>
                        <ul class="" style="height:100px">
                            <li>
                                <a href="#" class="character">
                                    <p>文字</p>
                                </a>
                </li>
            </ul>
            </a>

            </li>
            <li>
                <a href="#">
                        <i class="icon-other i"></i>
                        <p class="p">其他</p>
                    </a>

            </li>
            <li>
                <a href="#" class="canvaset">
                        <i class="icon-uniE607 i"></i>
                        <p class="p">设置</p>
                    </a>

            </li>
            </ul>

        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-3">
            <ul class="exportMenu">
                <li>
                    <a id="saveButton" class="btn btn-gray btn-sm btn-save">保存</a>
                </li>
                <li>
                    <a id="perviewButton" class="btn btn-gray btn-sm btn-save">预览</a>
                </li>
                <li>
                    <a id="showListButton" class="btn btn-gray btn-sm btn-save">清单</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row	 ">

        <div class="col-md-9 col-lg-10" style="padding: 0px; ">

            <div class="mainContent">
                <div id="canvasPage">
                </div>
            </div>
        </div>
        <div class="col-md-3 col-lg-2 configPanel " style="padding: 0px;margin:0px">

        </div>

    </div>
</div>

<canvas id="sSVGPic" style="background:#000; display:none"></canvas>
