<div class="sdesigner">
    <div id="tabs" class="ui-tabs">
        <ul class="ui-tabs-nav">
            <li>
                <a href="#tabs-setting">设置</a>
            </li>
            <li>
                <a href="#tabs-other-setting">其他</a>
            </li>
        </ul>
        <div id="tabs-setting" class="ui-tabs-panel">
            <div class="m_u_box">
                <div class="bi-attr-edit-list-div">
                    <h4>画布基础设定</h4>
                    <!-- TODO: 仪表盘名称 (done)-->
                    <div class="bi-attr-edit-list-div-rengs">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="from-inline">
                                    <div class="form-group">
                                        <lable for="name " class="bi-lable" style='width:20%'>名称:</lable>
                                        <input type="text" style='width:60%' class="form-control bi-input-text" name="name" placeholder="请输入名称">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- TODO: 仪表盘的风格(doing) -->


                </div>
                <div class="bi-attr-edit-list-div">
                    <h4>网格辅助线</h4>
                    <!-- TODO: 显示 / 隐藏(doing) -->
                    <div class="bi-attr-edit-list-div-rengs"></div>
                    <!-- TODO: 透明度(doing)-->
                    <div class="bi-attr-edit-list-div-rengs"></div>
                    <!-- TODO:  横向数(doing) -->
                    <div class="bi-attr-edit-list-div-rengs"></div>
                    <!-- TODO:  纵向数(doing) -->
                    <div class="bi-attr-edit-list-div-rengs"></div>
                </div>
                <div class="bi-attr-edit-list-div">
                    <h4>画布通用宽高比例</h4>
                    <!-- TODO:  画布通用宽高比例-宽(done) -->
                    <div class="bi-attr-edit-list-div-rengs">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="from-inline">
                                    <div class="form-group">
                                        <lable for="canvas_w " class="bi-lable" style='width:20%'>宽比:</lable>
                                        <input type="text" style='width:60%' class="form-control bi-input-text" name="canvas_w" id="canvas_w" placeholder="请输入宽比">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- TODO:  画布通用宽高比例-高(done) -->
                    <div class="bi-attr-edit-list-div-rengs">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="from-inline">
                                    <div class="form-group">
                                        <lable for="canvas_h " class="bi-lable" style='width:20%'>高比:</lable>
                                        <input type="text" style='width:60%' class="form-control bi-input-text" name="canvas_h" id="canvas_h" placeholder="请输入高比">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
            <!--
            <form class="form-inline">
                <div class="form-group">
                    <input type="checkbox" class="form-control" id="checkbox_bks">
                    <label for="checkbox_bks">启动背景图</label>
                </div>
            </form> -->
        </div>
        <div id="tabs-other-setting" class="ui-tabs-panel">
        </div>

    </div>
</div>
