<div class="container-fluid editBody">
    <div class="row">
        <div class="col-md-2 title ">仪表盘画布编辑</div>
        <div class="col-md-7" style="height:75px">
            <div id="multipleItems">
                <div class="well">
                    <img style="margin: 0px" class="rect " src="oss_core/pm/screendesigner/images/text.png" height="52" />
                </div>
                <div class="well"></div>
                <div class="well">2</div>
                <div class="well">3</div>
                <div class="well">4</div>
                <div class="well">5</div>
                <div class="well">6</div>
                <div class="well">7</div>
                <div class="well">8</div>
                <div class="well">9</div>
                <div class="well">10</div>
                <div class="well">11</div>
                <div class="well">12</div>
                <div class="well">13</div>
                <div class="well">14</div>
                <div class="well">15</div>
                <div class="well">16</div>
                <div class="well">17</div>
                <div class="well">18</div>
                <div class="well">19</div>
                <div class="well">20</div>
            </div>
        </div>
        <div class="col-md-2">
            <ul class="exportMenu">
                <li>
                    <a id="saveButton" class="btn btn-gray btn-sm btn-save">保存</a>
                </li>
                <li>
                    <a id="perviewButton" class="btn btn-gray btn-sm btn-save">预览</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row  ">
        <div class="col-md-10 mainContent">
            <div id="canvasPage">
            </div>
        </div>
        <div class="col-md-2">
            <div id="tabs" class="ui-tabs">
                <ul class="ui-tabs-nav">
                    <li>
                        <a href="#tabs-setting">设置</a>
                    </li>
                </ul>
                <div id="tabs-setting" class="ui-tabs-panel">
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="exampleInputName2">宽:</label>
                            <input type="text" class="form-control" id="canvas_w" style="width:100px">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail2">高:</label>
                            <input type="text" class="form-control" id="canvas_h" style="width:100px">
                        </div>
                    </form>
                    <form class="form-inline">
                        <div class="form-group">
                            <input type="checkbox" class="form-control" id="checkbox_bks">
                            <label for="checkbox_bks">启动背景图</label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
