<div class="container-fluid editBody">

    <div class="row col_title">
        <div class="col-md-5">
            <!-- TODO: 菜单栏(tag) -->
            <ul id="mega-menu-1" class="mega-menu">
                <li style="margin-left: 10px">
                    <a href="#">
                        <i class="icon-uniE60A i"></i>
                        <p class="p">{{CHARTS}}</p>
                    </a>
                    <ul class="tool_chart" style="height:500px">
                        <li>
                            <h4>{{BAR_CHARTS}}</h4>
                            <div class="tool_chart_box">
                                <a href="#" class="BarBase">
                                    <i class="icon_chart3"></i>
                                    <p>{{BAR}}</p>
                                </a>
                                <a href="#" class="bar">
                                    <i class="icon_chart3"></i>
                                    <p>{{BAR}}</p>
                                </a>
                                <a href="#" class="stripBar">
                                    <i class="icon_chart4"></i>
                                    <p>{{STRIPBAR}}</p>
                                </a>
                                <a href="#" class="pileBar">
                                    <i class="icon_chart23"></i>
                                    <p>{{DBAR}}</p>
                                </a>
                                <a href="#" class="labelBar">
                                    <i class="icon_chart27"></i>
                                    <p>{{LABELBAR}}</p>
                                </a>
                                <a href="#" class="MoveBar">
                                    <i class="icon_chart30"></i>
                                    <p>{{MULBAR}}</p>
                                </a>
                                <a href="#" class="LineBase">
                                    <i class="icon_chart4"></i>
                                    <p>{{STRIPBAR}}B</p>
                                </a>
                                <a href="#" class="stripLine">
                                    <i class="icon_chart1"></i>
                                    <p>{{LINEBAR}}</p>
                                </a>
                                <a href="#" class="StripLineBase">
                                    <i class="icon_chart1"></i>
                                    <p>{{LINEBAR}}B</p>
                                </a>

                            </div>

                        </li>
                        <li>
                            <h4>{{PIE_CHARTS}}</h4>
                            <div class="tool_chart_box">
                                <a href="#" class="annular">
                                    <i class="icon_chart19"></i>
                                    <p>{{ANNULAR}}</p>
                                </a>
                                <a href="#" class="PieRing">
                                        <i class="icon_chart10"></i>
                                        <p>{{PIERING}}</p>
                                </a>
                                <a href="#" class="circleNum">
                                    <i class="icon_chart24"></i>
                                    <p>{{CIRCLE}}</p>
                                </a>
                                <a href="#" class="arcProcess">
                                    <i class="icon_chart26"></i>
                                    <p>{{INSTRUMENT}}</p>
                                </a>
                                <a href="#" class="circularRing">
                                    <i class="icon_chart32"></i>
                                    <p>{{CIRCULARRING}}</p>
                                </a>
                                <a href="#" class="PieBase">
                                    <i class="icon_chart33"></i>
                                    <p>{{PIE}}</p>
                                </a>
                            </div>
                        </li>
                        <li>
                            <h4>{{OTHER}}</h4>
                            <div class="tool_chart_box">
                                <a href="#" class="text">
                                    <i class="icon_chart18"></i>
                                    <p>{{GTEXT}}</p>
                                </a>
                                <a href="#" class="Nodes">
                                    <i class="icon_chart13"></i>
                                    <p>{{NODES}}</p>
                                </a>
                                <a href="#" class="progressBar">
                                    <i class="icon_chart28"></i>
                                    <p>{{PROGRESS}}</p>
                                </a>
                                <a href="#" class="IconBar">
                                    <i class="icon_chart29"></i>
                                    <p>{{ICONBAR}}</p>
                                </a>
                                <a href="#" class="numsBar">
                                    <i class="icon_chart31"></i>
                                    <p>{{NUMSBAR}}</p>
                                </a>
                                <a href="#" class="TableBase">
                                    <i class="icon_chart35"></i>
                                    <p>{{TABLEBAR}}</p>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-uniE60E i"></i>
                        <p class="p">{{GRAPHS}}</p>
                        <ul class="" style="height:100px">
                            <li>
                                <a href="#" class="character">
                                    <p>{{CHARACTER}}</p>
                                </a>
                </li>
            </ul>
            </a>

            </li>
            <li>
                <a href="#">
                        <i class="icon-other i"></i>
                        <p class="p">{{OTHER}}</p>
                    </a>

            </li>
            <li>
                <a href="#" class="canvaset">
                        <i class="icon-uniE607 i"></i>
                        <p class="p">{{SETTING}}</p>
                    </a>

            </li>
            </ul>

        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-3">
            <ul class="exportMenu">
                <li>
                    <a id="saveButton" class="btn btn-gray btn-sm btn-save">{{SAVE}}</a>
                </li>
                <li>
                    <a id="perviewButton" class="btn btn-gray btn-sm btn-save">{{PREVIEW}}</a>
                </li>
                <li>
                    <a id="showListButton" class="btn btn-gray btn-sm btn-save">{{LIST}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row	 ">

        <div class="col-md-9 col-lg-10" style="padding: 0px; ">

            <div class="mainContent">
                <div id="canvasPage">
                </div>
            </div>
        </div>
        <div class="col-md-3 col-lg-2 configPanel " style="padding: 0px;margin:0px">

        </div>

    </div>
</div>

<canvas id="sSVGPic" style="background:#000; display:none"></canvas>
