<div class="container-fluid editBody">
    <div class="row col_title">
        <div class="col-md-5">
            <!-- TODO: 菜单栏(tag) -->
            <ul id="mega-menu-1" class="mega-menu">
                <li style="margin-left: 10px">
                    <a href="#">
                        <i class="icon-uniE60A i"></i>
                        <p class="p">图表</p>
                    </a>
                    <ul class="tool_chart" style="height:100px">
                        <li>
                            <a href="#" class="text">
                                <i class="icon_chart18"></i>
                                <p>文本图</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon_chart3 bar"></i>
                                <p>柱状图</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-uniE60E i"></i>
                        <p class="p">图形</p>
                    </a>

                </li>
                <li>
                    <a href="#">
                        <i class="icon-other i"></i>
                        <p class="p">其他</p>
                    </a>

                </li>
                <li>
                    <a href="#" class="canvaset">
                        <i class="icon-uniE607 i"></i>
                        <p class="p">设置</p>
                    </a>

                </li>
            </ul>

        </div>
        <div class="col-md-5">
            <div class="m_tb_title">
                <input type="text" value="" class="dashboard-name-input form-control" style="width: 230px" placeholder="仪表盘名称">
            </div>
        </div>
        <div class="col-md-2">
            <ul class="exportMenu">
                <li>
                    <a id="saveButton" class="btn btn-gray btn-sm btn-save">保存</a>
                </li>
                <li>
                    <a id="perviewButton" class="btn btn-gray btn-sm btn-save">预览</a>
                </li>
                <li>
                    <a id="showListButton" class="btn btn-gray btn-sm btn-save">清单</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row	 ">
        <div class="col-md-10" style="padding: 0px; ">
            <div class="mainContent">
                <div id="canvasPage">
                </div>
            </div>
        </div>
        <div class="col-md-2 configPanel " style="padding: 0px;margin:0px">

        </div>
    </div>
</div>
