<div class="sd-modal-header">
    <h2>插入画布</h2>
    <div class="title_r">
        如不使用模板，请点此
        <a class="btn btn-green btn-sm add_employ_dashboard" folder_id="">创建空白画布</a>
        <a class="btn btn-orange btn-sm sd_byexist_cancel">取消</a>
    </div>
</div>
<div class="sd-modal-body">
    <div class="model_inner">
        <ul class="nav_tab m_tab_side">
            <li class="active"><a>所有的仪表盘</a></li>
        </ul>
    </div>
    <div class="model_c_main">

        <div class="model_list">




        </div>

    </div>

</div>
