<div class="sd-modal-header">
    <h2>{{INSERT_DASHBOARD}}</h2>
    <div class="title_r">
        {{DONT_USE}}
        <a class="btn btn-green btn-sm add_employ_dashboard" folder_id="">{{CREATE_BLANK_DASHBOARD}}</a>
        <a class="btn btn-orange btn-sm sd_byexist_cancel">{{CANCEL}}</a>
    </div>
</div>
<div class="sd-modal-body">
    <div class="model_inner">
        <ul class="nav_tab m_tab_side">
            <li class="active"><a>{{ALL_DASHBOARD}}</a></li>
        </ul>
    </div>
    <div class="model_c_main">

        <div class="model_list">
        </div>

    </div>

</div>
