<div class="ui-dialog dialog-lg">
	<div class="modal-header">
        <h4 class="modal-title">{{STAFFORG_STAFF_SELECT}}</h4>
    </div>
    <div class="modal-body">
    	<div class="row">
	        <div class='col-md-6 col-sm-6'>
				<div class='js-layout-left'>
					<div class="grid grid-height-md js-org-grid"></div>
				</div>
			</div>
			<div class='col-md-6 col-sm-6'>
				<div class='js-layout-right'>
					<div class="grid grid-height-md js-staff-grid"></div>
				</div>
			</div>
		</div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-min-width btn-primary js-ok" autofocus>
            {{COMMON_OK}}
        </button>
        <button type="button" class="btn btn-min-width btn-default js-cancel" data-dismiss>
            {{COMMON_CANCEL}}
        </button>
    </div>
</div>