.js-radio-inline{
    height: 20px;
    margin-top: 10px;
    min-width: 100px
}
.js-ad-left{
    width: 278px !important;
    background: #f0f3f4;
}
.js-chart-args {
    position: relative;
    z-index: 100;
    padding: 8px 16px 0;
}
.draging {
    background-color: #e7ebf7;
    opacity:0.7;
    filter:alpha(opacity=70);
}
.disabled {
    cursor: not-allowed;
    opacity: 0.6
}
a.active {
    color: #039cfd
}
#ad-chart-container .ui-jqgrid tr.jqgrow td
{
    /* jqGrid cell content wrap  */
    white-space: normal !important;
    height :auto;
}

.ad-grid th.ui-th-column div
{
    /* jqGrid columns name wrap  */
    white-space:normal !important;
    height:auto !important;
    padding:0px;
}

span.selectable
{
    padding-left:10px;
    width: 150px;
    text-overflow:ellipsis;white-space:nowrap;overflow:hidden;"
}
.ad-axiscfg-radio-inline-1
{
    left: 170px;
    padding-top: 6px;
    position: absolute;
}
.ad-axiscfg-radio-inline-2
{
    left: 230px;
    padding-top: 6px;
    position: absolute;
}
.ad-axis-head-label
{
    float: left;
    min-width: 85px;
    margin-top: 8px;
    padding: 4px 0px;
}
.click-tag
{
    cursor: pointer;
}
#sortable .active {
    background-color: rgba(0,0,0,.06);
}
#topicTree ul {
    overflow: hidden;
}
.level2 li a{
    overflow: hidden;white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 20px;
    width:180px;
}
.level1 li a {
    width:201px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.level2 a {
    width:201px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 20px;
}
.movebtn {
    background-image: url(img/move.svg) !important;
    background-repeat: no-repeat;
    height: 14px;
}
.ad-design-pivot .pvtTotal,.ad-design-pivot .pvtTotalLabel,.ad-design-pivot .pvtGrandTotal,.ad-design-pivot .pvtAggregator {display: none}
.cursor-pointer {
    cursor: pointer;
}
.series-color-item {
    padding: 4px 0;
}
.nowrap {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.color-thumb-sm, .color-range-widget-sm .color-thumb {
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    height: 14px;
    width: 14px;
    margin: -2px 8px 0 0;
}
.color-setting-dialog .field-value-item.selected {
    background-color: rgba(232,235,237,.6);
    color: rgba(10,18,32,.87);
}
.color-setting-dialog .field-value-item {
    line-height: 32px;
    padding: 0 16px;
    cursor: pointer;
}
.color-setting-dialog .color-thumb {
    margin: 13px 16px 0 0;
    line-height: 32px;
    text-align: center;
}
.color-thumb {
    display: inline-block;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    vertical-align: middle;
}
.color-setting-dialog .pane {
    padding: 3px 0 0 16px;
}
.color-thumb.checked {
    box-shadow: 0 0 0 1px rgba(0,0,0,.06),0 1px 2px 0 rgba(0,0,0,.2),inset 0 0 0 2px rgba(255,255,255,.6);
}
.vdim-item{
    overflow: hidden;white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 10px;
    width:120px;
}
.ad-tree .ztree {
    overflow-x: hidden;
}
.ad-axiscfg-modal-body {
    overflow: hidden !important;
}
.hg-bg {
    background-color: #fff;
}
.hg-model-body {
    z-index: 999;
    background-color: #fff;
    position: absolute;
    padding: 15px 10px 0px;
}
.hg-lock {
    background: #000000;
    position: absolute;
    top: 0px;
    left: 0px;
    filter:alpha(opacity=30); /*IE滤镜，透明度50%*/
    -moz-opacity:0.3; /*Firefox私有，透明度50%*/
    opacity:0.2;/*其他，透明度50%*/
    z-index: 999;
    display: none;
}
.hg-link-btn {
    color: #555;
    background-color: rgba(255,255,255,0);
}
.hg-grid-more-dropdown {
    position: absolute;
    top: 6px;
    left: 90px;
}
.hg-dropdown-menu {
    min-width: 100px;
}
.hg-hostgroup-grid .ui-jqgrid-view .ui-jqgrid-titlebar {
    position: relative;
    padding: 8px;
    color: #646464;
    background-color: #ffffff;
    border: 0px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
}
.hg-hostgroup-grid .ui-jqgrid-pager {
    border: 0px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
}
/*-----available selected list----*/
#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 12px
}

#sortable li {
    padding-left:15px;
    height: 30px;
    line-height: 30px;
    position: relative;
}
#sortable li:hover{
    background: #f1f4f4
}
#sortable li a {
    position: absolute;
    color: #5182E4;
    right: 20px
}
#sortable li span i{
    margin-left: 1px
}
#sortable li span{
    position: absolute;
    top: 0px;
    left: 5px;
    color: #999
}
#sortable1, #sortable2 {
    border: 1px solid #eee;
    width: 142px;
    min-height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
}
#sortable > li > a:focus {
    background: transparent !important
}
#sortable1 li, #sortable2 li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 120px;
    border: 1px solid #aaaaaa;
}
.hg-panel-title {
   font-weight: 500;
}
.template-groupfilter {
    width: 200px;
    position: absolute;
    top: 10px;
    right: 30px;
    z-index: 999
}
.tm-td-name {
    text-align: left;
}
.tm-td-check {
    text-align: center;
}