.nhc-bg-danger{
    background: #C70808;
}
.nhc-bg-warning{
    background: #F5A123;
}
.nhc-bg-success{
    background: #3e9de1;
}
.nhc-bg-normal{
    background: #ffffff;
}
.white-background{
    background: #fff;
}