<div class="modal-header">
	<h4 class="modal-title">{{BATCH_ADD_KPI}}</h4>
</div>
<div class="modal-body" style="background-color: #fff">
	<div class="ad-modal-box">
		<div class="col-md-6 wrapper p-b-none pull-left">
			<form>
				<div class="form-group">
					<div class="input-group search-group" style="width:100%" >
						<i class="fa fa-search" style="position: absolute;top: 7px;left: 10px;z-index:11"></i>
						<input id="ad-dim-indi-search"  type="text" class="ad-theme-search form-control">
					</div>
				</div>
			</form>
		</div>
		<div id="ad-batchkpi-container" class="col-md-12 wrapper scrollable p-b-none">

		</div>
	</div>
</div>
<div class="modal-footer">
	<div class="col-md-12 text-right">
		<button type="button" class="btn btn_primary btn_minwidth" id="btn-slm-slimgr-ok" autofocus>
			{{ADHOC_OK}}
		</button>
		<button type="button" class="btn btn_cancel btn_minwidth" id="btn-slm-slimgr-cancel">
			{{ADHOC_CANCEL}}
		</button>
	</div>
</div>