<div class="modal-header">
	<h4 class="modal-title">{{COLUMN_SETTINGS}}</h4>
</div>
<div class="modal-body" style="overflow: hidden">
	<div class="ad-modal-box" style="height: 150px">
		<div class="ad-tolbad">
			<div class="ad-block">
				<div class="form-group">
					<div class="row">
						<div class="col-md-1" style="padding-top:5px"><label class="checkbox-inline"><input id="ad-colcfg-top-btn" type="checkbox">{{TOP}}：</label></div>
						<div class="col-md-11" style="padding-left:25px"><input id="ad-colcfg-top-input" disabled="true" class="form-control" style="width:80px"></div>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table" id="ad-colcfg-table">
						<thead>
						<tr>
							<th>{{COLUMN_NAME}}</th>
							<th>{{DISPLAY}}</th>
							<th>{{SELECTABLE}}</th>
							<th>{{DRILL}}</th>
							<th>{{SORT}}</th>
						</tr>
						</thead>
						<tbody id="ad-colcfg-container">

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<div class="col-md-12 text-right">
		<button type="button" class="btn btn_primary btn_minwidth" id="btn-slm-slimgr-ok" autofocus>
			{{ADHOC_OK}}
		</button>
		<button type="button" class="btn btn_cancel btn_minwidth" id="btn-slm-slimgr-cancel">
			{{ADHOC_CANCEL}}
		</button>
	</div>
</div>