<div class="modal-header">
	<h4 class="modal-title">图内筛选器配置</h4>
</div>
<div class="modal-body">
	<div class="ad-modal-box">
		<div class="ad-tolbad">
			<div class="ad-block" style="height: 295px">
				<div class="row">
					<div class="col-md-6 b-r">
						<div class="ad-title">选择筛选维度</div>
						<hr/>
						<div class="clearfix m-t-sm m-block" >
							<ul id="sortable" name="ad-filterinchart-selectabledim">
								<!--<li><span><i class="fa fa-ellipsis-v"></i><i class="fa fa-ellipsis-v"></i></span>维度一<a href="#">添加</a></li>-->
							</ul>
						</div>
					</div>
					<div class="col-md-6 b-r">
						<div class="ad-title">已添加</div>
						<hr/>
						<div class="clearfix m-t-sm m-block">
							<ul id="sortable" name="ad-filterinchart-selecteddim">
							</ul>
						</div>
					</div>
					<!--<div class="col-md-4">
						<div class="ad-title">选项</div>
						<div class="clearfix m-t-sm m-block">
							<ul id="sortable">
								<li><span><i class="fa fa-ellipsis-v"></i><i class="fa fa-ellipsis-v"></i></span>长沙</li>
								<li><span><i class="fa fa-ellipsis-v"></i><i class="fa fa-ellipsis-v"></i></span>株洲</li>
								<li><span><i class="fa fa-ellipsis-v"></i><i class="fa fa-ellipsis-v"></i></span>北京</li>
							</ul>
						</div>
					</div>-->
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<div class="col-md-12 text-right">
		<button type="button" class="btn btn_primary btn_minwidth" id="btn-slm-slimgr-ok" autofocus>
			{{SLA_OK}}
		</button>
		<button type="button" class="btn btn_cancel btn_minwidth" id="btn-slm-slimgr-cancel">
			{{SLA_CANCEL}}
		</button>
	</div>
</div>