<div class="modal-header">
	<h4 class="modal-title">{{VIRTUAL_FIELD_SETTINGS}}</h4>
</div>
<div class="modal-body" style="overflow: hidden">
	<div class="ad-modal-box" style="height: 150px">
		<div class="ad-tolbad">
			<div class="ad-block" style="height: 400px">
				<!-- -->
				<div id="ad-axiscfg-dim-container" class="form-group col-md-12">
					<label id="ad-axiscfg-dim" class="control-label pull-left">{{FIELD_NAME}}：</label>
					<div class="col-md-10">
						<input id="ad-vdim-name-input" class="form-control">
					</div>
				</div>
				<!-- -->
				<div class="form-group col-md-12">
					<label class="control-label pull-left">{{GROUP_FIELD}}：</label>
					<div class="col-md-3">
						<select id="ad-vdim-field-select" class="form-control">
						</select>
					</div>
					<label class="control-label pull-left">{{GROUP_TYPE}}：</label>
					<div class="col-md-4">
						<select id="ad-vdim-grouptype-sel" class="form-control" style="width:265px">
							<option value="0">{{ITEMS}}</option>
							<option value="1">{{EXPRESSION}}</option>
						</select>
					</div>
				</div>
				<!-- -->
				<div id="ad-axiscfg-multiyaxis-sel">
					<div class="row">
						<div class="col-md-4 b-r">
							<div class="control-label" style="padding-left:10px">{{GROUP}}<a href="#" id="ad-vdim-addgroup-btn" class="btn pull-right"><i class="fa fa-plus ad-icon"></i></a></div>
							<div class="clearfix m-t-sm m-block" >
								<ul id="sortable" class="selectableGroup">
									<!-- -->
									<li id="ad-vdim-nogroup-li">
										<span class="selectable" style="left:0px;">
											{{OTHERS}}
                                		</span>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-md-7">
							<div>
								<div class="form-group col-md-12">
									<label class="control-label pull-left">{{GROUP_NAME}}：</label>
									<div class="col-md-8">
										<input id="ad-vdim-groupname-input" class="form-control" style="width:270px">
									</div>
								</div>
								<!--右边条目选择区域-->
								<div id="ad-vdim-exact">
									<div class="row">
										<div class="col-md-6 b-r">
											<div class="input-group search-group" style="width:100%">
												<i class="fa fa-search" style="position: absolute;top: 7px;left: 10px;z-index:11"></i>
												<input type="text" id="ad-vdim-search" class="ad-theme-search form-control">
											</div>
											<div class="clearfix m-t-sm m-block" style="height: 200px;min-height: 200px">
												<ul id="sortable" name="ad-vdim-selectable">
												</ul>
												<div class="ad-bar">  <a id="ad-vdim-addall" href="#">{{ADD_ALL}}</a></div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="input-group search-group" style="width:100%">

											</div>
											<div class="clearfix m-t-sm m-block" style="padding-top:28px;height: 230px;min-height: 230px">
												<ul id="sortable" name="ad-vdim-selected">
												</ul>
												<div class="ad-bar">  <a id="ad-vdim-removeall" href="#">{{CLEAR}}</a></div>
											</div>
										</div>
									</div>
								</div>
								<!-- -->
								<!--右边表达式输入区域-->
								<div id="ad-vdim-exp-area" style="display: none">
									<div class="row">
										<div class="col-md-12">
											<div class="clearfix m-t-sm m-block" style="width: 370px;height: 200px;min-height: 200px">
												<textarea id="ad-vdim-exp-input" name="remarks" class="form-control" style="height: 150px"></textarea>
												<div class="ad-bar"><a id="ad-vdim-check-btn" href="#" class="pull-right" style="margin-top:-65px;margin-right:5px">{{CHECK}}  </a></div>
											</div>
										</div>
									</div>
								</div>
								<!--未分组的详情div-->
								<div id="ad-vdim-nogroup-detail" style="display: none;text-align: center; padding-top: 130px;">
									{{NO_GROUPED_ITEMS}}
								</div>
								<!-- -->
							</div>
						</div>
					</div>
				</div>
				<!-- -->
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<div class="col-md-12 text-right">
		<button type="button" class="btn btn_primary btn_minwidth" id="btn-slm-slimgr-ok" autofocus>
			{{ADHOC_OK}}
		</button>
		<button type="button" class="btn btn_cancel btn_minwidth" id="btn-slm-slimgr-cancel">
			{{ADHOC_CANCEL}}
		</button>
	</div>
</div>