<div class="row">
	<div class="col-md-12 col-sm-12">
		<div class="tabs-border js-bulletin">
			<ul>
				<li><a href="#tabs-bulletin-release">{{BULLETIN_RELEASE}}</a></li>
				<li><a href="#tabs-bulletin-create">{{BULLETIN_CREATE}}</a></li>
				<li><a href="#tabs-bulletin-refuse">{{BULLETIN_REFUSE}}</a></li>
				<li><a href="#tabs-bulletin-disapprove">{{BULLETIN_DISAPPROVE}}</a></li>
				 <li><a href="#tabs-bulletin-approval">{{BULLETIN_APPROVAL}}</a></li>				
			</ul>
			<div id="tabs-bulletin-release">
			</div>
			<div id="tabs-bulletin-create">
			</div>
			<div id="tabs-bulletin-refuse">
			</div>
			<div id="tabs-bulletin-disapprove">
			</div>
			<div id="tabs-bulletin-approval">
			</div>			
		</div>
	</div>	
</div>