<div class="ui-dialog dialog dialog-lg">
	<div class="modal-header">
	    <h4 class="modal-title">{{DIRMENUMGR_MENU_SEL}}</h4>
	</div>
	<div class="modal-body">
		<!-- <div class="searchbar-grid">
			<div class="search-bar">
				<h4 class="title-forgrid pull-left">
					<span class="glyphicon glyphicon-folder-open"></span>
					<span class="js-dir-name"></span>
				</h4>
				<div class="input-group search-group pull-right" data-toggle="searchbar">
				</div>
			</div> -->
			<div class="grid js-grid-menu-sel grid-height-md"></div>
		<!-- </div> -->
	</div>
	<div class="modal-footer">
	    <button type="button" class="btn btn-primary btn-min-width js-ok" autofocus>
	        {{COMMON_OK}}
	    </button>
	    <button type="button" class="btn btn-default btn-min-width js-cancel" data-dismiss>
	        {{COMMON_CANCEL}}
	    </button>
	</div>
</div>