<div class="modal-header">
	<h4 class="modal-title">{{COLOR_SETTINGS}}</h4>
</div>
<div class="modal-body">
	<div class="ad-modal-box">

		<div class="ad-tolbad">
			<!--精确筛选-->
			<div class="ad-block color-setting-dialog" id="ad-dimfilter-exact">
				<div class="row">
					<div class="col-md-7 b-r">
						<div class="ad-title">{{AXIS}}<a class="pull-right"></a></div>
						<div class="clearfix m-t-sm m-block" style="min-height: 130px">
							<ul id="ad-axiscolorcfg-axislist" style="height:162px;margin-left: -50px">

							</ul>
						</div>
					</div>
					<div class="col-md-5">
						<div class="ad-title"><a class="pull-right"></a></div>
						<div class="clearfix m-t-sm m-block" style="min-height: 130px">
							<ul id="ad-axiscolorcfg-colorpanel" class="pane">

							</ul>
						</div>
						<div class="pull-right" style="padding-right:15px">
							<input id="ad-axiscolorcfg-customecolor" style="width: 70px"/>
						</div>
					</div>
				</div>
			</div>
			<!--精确筛选结束-->
		</div>
	</div>
</div>
<div class="modal-footer">
	<div class="col-md-12 text-right">
		<button type="button" class="btn btn_primary btn_minwidth" id="ad-axiscolorcfg-ok" autofocus>
			{{ADHOC_OK}}
		</button>
		<button type="button" class="btn btn_cancel btn_minwidth" id="ad-axiscolorcfg-cancel">
			{{ADHOC_CANCEL}}
		</button>
	</div>
</div>