<div class="chart-pd" id="chart-box" name="{{nodeName}}">
    <div class="row">
        <span class="ad-close"><i class="fa fa-close"></i></span>
    </div>
    <div style="margin:0 30px -10px 0">
        <h4 class="text-center" style="padding-left: 10px;padding-right: 10px" id="ad-chart-title-{{nodeName}}"></h4>
        <h5 class="text-center text-muted" style="padding-left: 10px;padding-right: 10px" id="ad-chart-subtitle-{{nodeName}}"></h5>
    </div>
    <div class="wrapper">
        <div id="ad-chart-container" style="height: 250px"/>
        <div id="ad-chart-container-map" style="height: 250px;display: none"/>
        <div id="ad-grid-container-{{nodeName}}" class="ad-grid" style="height: 250px;display: none"/>
        <div id="ad-pivottable-container" class="ad-design-pivot" style="height: 250px;display: none"/>
        <div id="ad-wordcloud-container" style="height: 250px;display: none"/>
    </div>
</div>