/*@bg-gray-color : @head-bg-color;*/
/*grid*/
.ui-jqgrid-view .ui-jqgrid-btable tr.jqgrow td {
  padding-top: 9px;
  padding-bottom: 9px;
}
/*portalview*/
.container-main,
#divContent {
  height: 100%;
}
.ui-tabs .portal-tabs-nav {
  background-color: #fff;
  border-bottom: 1px solid #e3e3e3;
}
.portal-page-wrap,
.portal-page-content,
.portal-page_fullscreen {
  height: 100%;
}
.portal-page-wrap {
  padding: 48px 0 0;
  margin-left: -4px;
  margin-right: -4px;
}
.portal-page_fullscreen {
  padding: 0;
}
.portal-navbar {
  min-height: auto;
  border: 0;
}
.portal-navbar .portal-navbar_right {
  margin-right: -4px;
}
.portal__nav {
  margin-left: -4px;
  margin-right: 0;
  color: #fff;
}
.portal__nav > li {
  font-size: 0;
  cursor: pointer;
}
.portal-logo {
  padding: 15px 10px;
  margin-right: 10px;
}
.portal-logo > img {
  height: 18px;
}
.portal__nav > .portal-logo:hover {
  background-color: transparent;
  box-shadow: none;
}
.portal-menu-searchbar {
  width: 30px;
  margin-right: 24px;
  margin-top: 6px;
}
.portal-menu-searchbar .btn-default,
.portal-menu-searchbar .form-control {
  background-color: transparent;
  border-color: transparent;
  color: #fff;
}
.portal-menu-searchbar .input-group-btn span {
  font-size: 20px;
}
.portal-menu-searchbar .form-control {
  padding-right: 22px;
  overflow: hidden;
}
.portal-menu-searchbar .btn-default {
  color: #fff;
  padding-top: 8px;
  padding-bottom: 2px;
}
.portal-menu-searchbar .btn-default:active {
  background-color: transparent;
  border-color: transparent;
}
.portal-menu-searchbar .form-clear-input {
  color: #fff;
  opacity: 1;
  filter: alpha(opacity=100);
}
.portal__nav_icon {
  padding: 15px 24px;
  top: 0;
  font-size: 20px;
  line-height: 18px;
}
.portal__nav_icon .dropdown-text {
  font-size: 13px;
  margin-left: 2px;
}
.portal__nav_icon .caret {
  margin-top: 5px;
}
.portal-skin {
  display: inline-block;
  text-align: center;
  float: left;
}
.portal-skin + .portal-skin {
  margin-left: 1px;
}
.portal-skin .portal-skin__txt {
  font-weight: 200;
  font-size: 12px;
  display: inline-block;
  margin-left: 1px;
}
.portal__nav .portal-skin .iconfont {
  margin-right: 0;
}
.portal-tabs-nav .iconfont {
  font-size: 13px;
  font-weight: bold;
}
.portal-navbar .dropdown-menu {
  padding: 0;
  min-width: 200px;
  max-width: 300px;
  border: 1px solid #c6c6c6;
}
.portal-navbar_right .dropdown-menu {
  right: 0;
}
.portal-designer-widgets .iconfont,
.portal-designer-templates .iconfont {
  font-size: 28px;
}
/*menu*/
.portal-menu-scrollbar {
  overflow-y: auto;
}
.portal-menu > .portal-menu__item.strong {
  color: #444;
  height: 39px;
  cursor: default;
}
.portal-menu > .portal-menu__item.strong > a {
  font-weight: bold;
}
.portal-menu > .portal-menu__item.strong > a:hover {
  background-color: #fff;
  color: #444;
}
.portal-menu > .portal-menu__item.border {
  border-bottom: 1px solid #e3e3e3;
}
.portal-menu > .portal-menu__item.last {
  text-align: right;
  background-color: #f8f8f8;
}
.portal-menu .iconfont {
  margin-right: 5px;
}
.portal-menu hr {
  margin-top: 5px;
  margin-bottom: 5px;
}
.portal-menu {
  font-size: 13px;
  border: 1px solid #e3e3e3;
}
.portal-menu__item > a:hover,
.portal-menu__item > a.ui-state-focus,
.portal-menu__item > a.ui-state-active {
  background-color: #f8f8f8;
}
.portal-menu__item a {
  overflow: hidden;
  text-overflow: ellipsis;
}
.portal-menu_main {
  width: 255px;
  left: -2px;
  overflow-y: auto;
}
.portal-menu__item_icon {
  color: #bdbdbd;
  margin-top: -25px;
  font-size: 12px;
  float: right;
  margin-right: 10px;
}
.portal-menu_submenu {
  background-color: transparent;
}
.ui-menu.portal-menu_submenu {
  width: 230px;
}
.portal-search-menu__list {
  width: 240px !important;
  max-height: 90%;
}
.portal-search-menu__list li {
  padding: 11px 10px 11px 20px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.portal-search-menu__list li:hover {
  color: #fff;
  background-color: #313949;
  border-color: #313949;
}
.portal-menu__item > a .iconfont ~ span {
  vertical-align: top;
}
/* separate-group */
.btn-separate-group > .btn,
.btn-separate-group-vertical > .btn {
  font-size: 18px;
}
/*common*/
html,
body {
  height: 100%;
}
.display-none {
  display: none;
}
/*portalview*/
.portal-navbar {
  background-color: #313949;
}
.portal__nav > li:hover,
.portal__nav > li.mouseenter {
  background-color: #3c4557;
}
.portal-navbar .dropdown-menu {
  border: 0;
  box-shadow: none;
}
.portal-menu .portal-menu__item > a:hover,
.portal-menu .portal-menu__item > a.ui-state-focus,
.portal-menu .portal-menu__item > a.ui-state-active {
  color: #fff;
  background-color: #313949;
}
.portal-menu hr {
  background-color: #3c4557;
  border-color: #293141;
}
.portal-menu .portal-menu__item.active a {
  background-color: #313949;
}
.portal-menu-searchbar .form-clear-input,
.portal-menu-searchbar .form-control {
  margin-top: 5px;
}
.portal__nav > li.portal-menu-searchbar:hover {
  background: none;
}
/*menu*/
.portal-menu {
  border: 0;
  background: #3c4557;
}
.portal-menu .portal-menu__item a {
  padding: 12px 20px;
  color: #fff;
}
.portal-search-menu__list {
  border: 0;
  background-color: #3c4557;
}
.portal-search-menu__list li {
  color: #fff;
}
.portal-menu_submenu {
  border: 0;
  padding-top: 1px;
}
.portal-menu_submenu a {
  background-color: #3c4557;
}
/*workspace*/
.grid-stack-item-content > .panel {
  margin-bottom: 0;
}
#tabs-WorkSpace {
  padding: 8px 10px;
  background-color: #f3f3f3;
}
/*tab*/
#divContent .ui-tabs-panel {
  padding: 8px;
  position: relative;
}
#divContent > .portal-tabs-nav {
  padding: 10px 5px;
  border-bottom: 1px solid #efefef;
}
#divContent > .portal-tabs-nav li:before {
  content: '';
  width: 1px;
  height: 13px;
  position: absolute;
  top: 0.5px;
  left: -3px;
  background-color: #cecece;
}
#divContent > .portal-tabs-nav li:first-child:before {
  display: none;
}
#divContent > .portal-tabs-nav li a {
  padding: 0 15px 0 14px;
  font-size: 13px;
  line-height: 1;
  height: 14px;
  border-bottom-width: 0;
  max-width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#divContent > .portal-tabs-nav li a .ui-tabs-close {
  position: absolute;
  right: 3px;
  top: -2px;
  opacity: 0;
}
#divContent > .portal-tabs-nav li a:hover .ui-tabs-close {
  color: #2496f5;
  opacity: 1;
}
#divContent > .portal-tabs-nav li a:hover .ui-tabs-close,
#divContent > .portal-tabs-nav li a:focus .ui-tabs-close {
  color: #2496f5;
}
#divContent > .portal-tabs-nav li.ui-tabs-active a,
#divContent > .portal-tabs-nav li.ui-tabs-active a:hover,
#divContent > .portal-tabs-nav li.ui-tabs-active a:focus {
  border-bottom: 0;
}
#divContent.ui-tabs > .ui-tabs-panel {
  position: relative;
  padding: 7px 10px;
}
.ui-tabs.tabs-border > .ui-tabs-panel {
  padding: 8px;
}
.ui-tabs .role-manage-page {
  padding: 0;
}
.ui-tabs.tabs-border > .ui-tabs-panel .ui-jqgrid-view .ui-jqgrid-titlebar {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  border: 0;
}
.ui-tabs.tabs-border > .ui-tabs-nav {
  padding: 0;
}
.btn-separate-group {
  margin: 0;
  padding: 8px 0;
  display: block;
  text-align: center;
}
.btn-separate-group > .btn,
.btn-separate-group-vertical > .btn {
  float: none;
  padding: 0 8px;
  min-width: 28px;
  color: #fff;
  background-color: #777;
  border: 1px solid #e3e3e3;
}
.btn-separate-group > .btn:hover,
.btn-separate-group-vertical > .btn:hover,
.btn-separate-group > .btn:focus,
.btn-separate-group-vertical > .btn:focus,
.btn-separate-group > .btn:active,
.btn-separate-group-vertical > .btn:active,
.btn-separate-group > .btn:active:focus,
.btn-separate-group-vertical > .btn:active:focus {
  color: #fff;
  border-color: #d9d9d9;
  background-color: #656565;
}
.btn-separate-group-vertical > .btn[disabled],
.btn-separate-group > .btn[disabled] {
  background-color: #fafafa;
  color: #777;
  opacity: 1;
}
.role-priv-btn-container {
  padding-top: 129px !important;
}
.ui-tabs .role-manage-page .role-subgrid {
  border-top: 1px solid #efefef;
  margin-top: 34px;
  padding-top: 8px;
}
.ui-tabs .role-component-grid {
  margin-left: -10px;
}
.ui-dialog .modal-body .role-manage-page .ui-tabs > .ui-tabs-nav,
.ui-dialog .modal-body .role-subgrid {
  border-color: #dcdcdc !important;
}
/*dialog*/
.modal-title {
  font-size: 13px;
}
/*panel*/
.panel {
  margin-bottom: 0;
}
.panel .panel-body > form {
  margin-bottom: -5px;
  padding: 0;
  overflow: hidden;
}
.form-group {
  margin-bottom: 8px;
}
.panel .panel-body {
  padding: 11px 15px;
}
/*layout*/
#divContent {
  background: transparent;
}
/*grid*/
.ui-nav-btn-group > .ui-nav-button {
  border-radius: 0;
}
.panel-default > .ui-jqgrid {
  border-bottom: 0;
}
.panel-default > .ui-jqgrid .ui-jqgrid-titlebar {
  border: 0;
}
.panel-default > .ui-jqgrid .ui-jqgrid-hdiv,
.panel-default > .ui-jqgrid .ui-jqgrid-bdiv,
.panel-default > .ui-jqgrid .ui-jqgrid-pager {
  border-left: 0;
  border-right: 0;
}
.ui-jqgrid-view .ui-jqgrid-btable .ui-inline-operate > span,
.icon-group-embed > span {
  font-size: 13px;
  line-height: 1;
  margin-right: 13%;
}
.ui-jqgrid-view .ui-jqgrid-btable tr.jqgrow td {
  padding-top: 9px;
  padding-bottom: 9px;
}
/*panel*/
.user-monitor-page .panel-default > .panel-heading {
  background-color: #fff;
}
.user-monitor-page .ui-jqgrid .ui-jqgrid-hdiv {
  border-top: 0;
}
.ui-tabs.tabs-border.js-app-tab > .ui-tabs-panel {
  padding: 0;
}
.ui-tabs.tabs-border.js-app-tab > .ui-tabs-panel > .comprivroot {
  padding: 8px;
}
/*工作台*/
.grid-stack-item-content .workspace-list .col-md-3:hover,
.grid-stack-item-content .workspace-list .col-md-2:hover,
.grid-stack-item-content .workspace-list .col-md-1:hover {
  background-color: #2596f5;
}
.grid-stack-item .grid-stack-item-content .thumbnail:hover {
  background-color: #2596f5;
}
.grid-stack-item-content .thumbnail a {
  color: #2596f5;
}
.grid-stack-item .grid-stack-item-content .text-info {
  color: #2596f5;
}
.grid-stack-item .grid-stack-item-content .list-group-item:hover {
  color: #2596f5;
}
