<div class="filterItemBody" style="background: #fff;">
	<div class="modal-header">
	    <h4 class="modal-title">{{SET_HOST}}</h4>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-xs-12">
                <div class="form-group itemFrom">
                    <label for="cp_name">监控点名称</label>
                    <input type="text" class="filterInput cp_name tranItem" name="cp_name">
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group itemFrom">
                    <label for="cp_type_id">资源类型</label>
                    <input type="text" class="filterInput cp_type_id tranItem" name="cp_type_id">
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group itemFrom">
                    <label for="cp_type_id">实例适配条件</label>
                    <div class="temCondition">
                    </div>
                </div>
            </div>
		</div>
		<div class="row mgt15">
            <div class="fr">
                <div class="KdoBtn2 btn reset">{{CANCLE}}</div>
                <div class="KdoBtn2 btn OK Kdo_mainColor">{{SURE}}</div>
            </div>
        </div>
	</div>
</div>