<div class="tabTemPage">
    <div class="row">
    	<div class="col-md-12">
    		<div class="form-group itemFrom">
                <label for="template_name">模板名称</label>
                <input type="text" class="template_name filterInput tranItem" name="template_name">
            </div>
            <div class="form-group itemFrom">
                <label for="catagory">模板类别</label>
                <input type="text" class="catagory filterInput tranItem" name="catagory">
            </div>
            <div class="form-group itemFrom">
                <label for="comments">备注</label>
                <textarea class="comments" style="height: 89px;border: 1px solid #cfdadd"></textarea>
            </div>
            <div class="form-group itemFrom">
                <label for="comments">模板图标</label>
                <div class="temIco">
                	<div class="col-md-4 h160 lIconShadow"></div>
                	<div class="col-md-8 h160 rIconUl">
                        <ul>
                        </ul>
                    </div>
                </div>
            </div>
    	</div>
    </div>
</div>