<div class="kdo-dialog ui-dialog dialog-md">
    <div class="modal-header">
        <h4 class="modal-title">{{FILTER}}</h4>
    </div>
    <div class="modal-body filterItemBody">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group itemFrom">
                    <label for="catagory">模板类别</label>
                    <input type="text" class="catagory filterInput tranItem" name="catagory">
                </div>
            </div>
        </div>
        <div class="row mgt15">
            <div class="fr">
                <div class="KdoBtn2 btn reset">{{CANCLE}}</div>
                <div class="KdoBtn2 btn OK Kdo_mainColor">{{SURE}}</div>
            </div>
        </div>
    </div>
</div>