<div class="kdo-right-page">
    <div class="kdo-right-page-header">
        <div class="title"><i class="glyphicon glyphicon-menu-left temcallback kdo-callback" style="cursor: pointer;"></i>{{TEMPLATE}}</div>
        <div class="kdoTopBtn">
            <div class="kdoBtn createTem"><i class="glyphicon glyphicon-plus"></i>{{CREATE_TEMPLATE}}</div>
        </div>
    </div>
    <div class="kdo-right-page-cotent">
        <div class="filterArea filterItemArea">
            <div class="inputBox">
                <div class="lBox">
                    <input type="text" class="filterName filterInput tranItem" name="FilterName">
                </div>
                <div class="rSearch"><i class="glyphicon glyphicon-search" id="rSearch"></i></div>
            </div>
            <div class="filterComands filterItem">
                <i class="glyphicon glyphicon-filter filterItemList"></i>
            </div>
        </div>
        <div class="ItemListGrid kdoGrid">
        </div>
        <div class="ItemButtom clearfix">
            <div id="itemEditBtn" class="col-md-12">
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-default" id="Tem_on" disabled="">{{ENABLE}}</button>
                    <button type="button" class="btn btn-default" id="Tem_off" disabled>{{DISABLE}}</button>
                    <!-- <button type="button" class="btn btn-default" id="Tem_del" disabled>{{DELETE}}</button> -->
                </div>
            </div>
        </div>
    </div>
</div>