<div class="container-fluid">
    <!--START DEMO-->
    <div class="row">
        <div>
            <button class="demo1">调度配置</button>
            <button class="demo3">Counter查询</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="demo_content" style="width: 729px;height: 346px;background: #ffffff;margin-left: 20px;margin-top: 50px"></div>
            <button id="demo_get">获得值</button>
            <button id="demo_set_once">设置Once值</button>
            <button id="demo_set_minute">设置Minute值</button>
            <button id="demo_set_hour">设置Hour值</button>
            <button id="demo_set_day">设置Day值</button>
            <button id="demo_set_week">设置week值</button>
            <button id="demo_set_month">设置month值</button>
            <button id="demo_set_custom">设置custom值</button>
            <button id="getChecked">检查被选的列表</button>
            <button id="demo_setall">多个设置</button>
        </div>
        <div class="col-md-12 demo_content3" style='height: 346px;'>
        </div>
        
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <button class="demo2">Tab2</button>
        </div>
        <div class="row">
            <div class="ad-util-tab">
                <div id="tabs-pill2" class="tabs-pill ui-tabs">
                    <ul class="ui-tabs-nav">
                        <li>
                            <a href="#tabs-pill-first">
                                <span class="glyphicon glyphicon-ok" style="margin-right: 5px; display:none"></span>标签1
                            </a>
                        </li>
                        <li>
                            <a href="#tabs-pill-Second">
                                <span class="glyphicon glyphicon-ok" style="margin-right: 5px; display:none"></span>标签2</a>
                        </li>
                        <li>
                            <a href="#tabs-pill-Third">
                                <span class="glyphicon glyphicon-ok" style="margin-right: 5px; display:none"></span>标签3</a>
                        </li>
                    </ul>
                    <div id="tabs-pill-first">
                        页面内容A
                        <button id="c1">选择1</button>
                    </div>
                    <div id="tabs-pill-Second">
                        页面内容2
                        <button id="c2">选择2</button>
                    </div>
                    <div id="tabs-pill-Third">
                        页面内容3
                        <button id="c3">选择3</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---END DEMO-->
</div>
