<div class="comprivroot">
    <section class="vbox">
        <section>
            <section class="hbox stretch">
                <!--Center-->
                <section>
                    <section class="vbox ad-chart-bg">
                        <header class="wrapper b-b clearfix bg-white">
                            <form class="form-horizontal clearfix ad-group-hack">
                                <div class="col-md-12">
                                    <div class="pull-left">
                                        <div class="form-group m-n">
                                            <label class="pull-left control-label" style="text-align: left">Granularity</label>
                                            <div class="pull-left  m-l-md">
                                                <div class="btn-group" id="ad-dategranu-select">
                                                    <a href="#" class="btn btn-default active">Hours</a>
                                                    <a href="#" class="btn btn-default">Day</a>
                                                    <a href="#" class="btn btn-default">Month</a>
                                                    <!--
                                                    <div class="btn-group">
                                                        <button class="btn btn-default btn_minwidth dropdown-toggle"
                                                                data-toggle="dropdown" type="button">
                                                            Month <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="#">1</a></li>
                                                            <li><a href="#">2</a></li>
                                                        </ul>
                                                    </div>
                                                    -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pull-left m-l-md">
                                        <div class="form-group m-n">
                                            <label class="pull-left control-label">Date</label>
                                            <div class="pull-left m-l-md">
                                                <div class="btn-group timebtn" id="ad-datetype-select">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--基础筛选栏-->
                                    <div id="ad-normalfilter-container" class="col-md-1" style="width: 0px">
                                    </div>
                                    <div class="col-md-2">
                                        <div class="m-l-sm">
                                            <button id="ad-query-btn" class="btn btn-default"
                                                    type="button">Query
                                            </button>
                                        </div>
                                    </div>
                                    <div class="pull-right">
                                        <div class="m-l-sm">
                                            <button id="ad-backtodesigner-btn" class="btn btn-link"
                                                    type="button" style="display: none">Close preview
                                            </button>
                                        </div>
                                    </div>
                                    <div class="pull-right">
                                        <div class="m-l-sm">
                                            <button id="ad-highlevelfilter-btn" style="display: none;" class="btn btn-link"
                                                    type="button">
                                                <i id="ad-highlevelfilter-downbtn" class="fa fa-chevron-down"></i>
                                                <i id="ad-highlevelfilter-upbtn" class="fa fa-chevron-up" style="display: none"></i>
                                                Advanced filtering
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!--高级筛选栏-->
                                <div class="col-md-12" id="ad-highlevelfilter-container" style="display: none">
                                    <span><i class="fa fa-filter"></i></span>
                                </div>
                            </form>
                        </header>
                        <section id="ad-chart-container-section" class="wrapper scrollable p-b-none " style="top: 68px;padding-top: 0px">
                            <div class="col-md-12">
                                <div class="ad-box-pd" id="ad-chart-container">

                                </div>
                            </div>
                        </section>
                    </section>
                </section>
                <!--/ Center End-->
            </section>
        </section>
    </section>
</div>