<div class="modal-header">
	<h4 class="modal-title">主次轴设置</h4>
</div>
<div class="modal-body">
	<div class="ad-modal-box">
		<div class="ad-tolbad">
			<div class="form-group">
			</div>
		</div>
		<div class="ad-tolbad">
			<!--条件筛选-->
			<div class="ad-block" id="ad-dimfilter-condi" style="height: 150px;" class="scrollable">
				<div class="form-group" style="margin-top: 30px">
					<label class="col-md-3 col-sm-3 control-label" style="padding-left: 120px">主轴</label>
					<div class="col-md-9 col-sm-9" style="padding-bottom: 5px;width: 350px">
						<select id="ad-firstaxis-sel" name="multiselect" style="width: 350px"
								data-placeholder="Choose Kpi..." class="chosen-select" multiple="">

						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 col-sm-3 control-label" style="padding-left: 120px">次轴</label>
					<div class="col-md-9 col-sm-9" style="width: 350px">
						<select id="ad-secondaxis-sel" name="multiselect" style="width: 350px"
								data-placeholder="Choose Kpi..." class="chosen-select" multiple="">

						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<div class="col-md-12 text-right">
		<button type="button" class="btn btn_primary btn_minwidth" id="ad-doubleaxis-setup-ok" autofocus>
			{{SLA_OK}}
		</button>
		<button type="button" class="btn btn_cancel btn_minwidth" id="ad-doubleaxis-setup-cancel">
			{{SLA_CANCEL}}
		</button>
	</div>
</div>