	<div class="modal-header">
		<h4 class="modal-title">{{BATCHING}}</h4>
	</div>
	<div class="modal-body">
		<div class="ad-modal-box">
		<div class="ad-block">
			<!--Field screening-->
		    <div class="ad-chosen-select">
        	<select id="RETRUN_FIELD" name="RETRUN_FIELD" class="chosen-select" title="{{RETURN_FIELD}}" multiple="" ></select>
        	</div>
        	<!--/ Field screening-->

        	<!--Table-->
	        <div class="border">
			<form class="form-horizontal clearfix js-model-busi-batch-form">
				<div class="grid js-model-busi-batch-grid"></div>
			</form>
			</div>
			<!--/ Table-->
		</div>
		</div>
	</div>
	<div class="modal-footer">
	        <div class="col-md-12 text-right">
	        	<button type="button" class="btn btn_minwidth btn-primary js-ok" autofocus>
	                {{COMMON_OK}}
	            </button>
	            <button type="button" class="btn btn_minwidth btn-default js-cancel" data-dismiss>
	                {{COMMON_CANCEL}}
	            </button>
	        </div>
	</div>