<div class="modal-header">
	<h4 class="modal-title">列设置</h4>
</div>
<div class="modal-body" style="overflow: hidden">
	<div class="ad-modal-box" style="height: 150px">
		<div class="ad-tolbad">
			<div class="ad-block">
				<div class="table-responsive">
					<table class="table" id="ad-colcfg-table">
						<thead>
						<tr>
							<th>列名称</th>
							<th>显示</th>
							<th>钻取</th>
						</tr>
						</thead>
						<tbody id="ad-colcfg-container">
						<tr>
							<td>城市</td>
							<td><label class="checkbox-inline"><input type="checkbox"></label></td>
							<td></td>
						</tr>
						<tr>
							<td>年末总人口</td>
							<td><label class="checkbox-inline"><input type="checkbox"></label></td>
							<td><label class="checkbox-inline"><input type="checkbox"></label></td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<div class="col-md-12 text-right">
		<button type="button" class="btn btn_primary btn_minwidth" id="btn-slm-slimgr-ok" autofocus>
			{{SLA_OK}}
		</button>
		<button type="button" class="btn btn_cancel btn_minwidth" id="btn-slm-slimgr-cancel">
			{{SLA_CANCEL}}
		</button>
	</div>
</div>