<div class="btn-group" name="{{item_id}}">
	<label class="pull-left control-label nowrap" style="text-align: left;max-width: 60px" title="{{filterLabel}}">{{filterLabel}}</label>
	<div class="col-md-3">
		<input id="ad-filteritem-{{fieldNo}}-{{item_id}}" disabled class="form-control" style="width: 130px"/>
	</div>
	<div class="pull-right" >
		<button type="button" id="ad-filteritem-condiselect-{{fieldNo}}-{{item_id}}" class="btn btn-ico" title=""><i class="fa fa-pencil"></i></button>
	</div>
</div>

