<div class="designer-main">
    <div class="designer-header" style="display: none;">
	   	<span class="iconfont icon-config btn-config">
	   	</span>
        <div class="btn-toolbar con-close">
            <h4>{{DESIGNER_WIDGET}}</h4>
            <div class="btn-group">
                <button class="btn-circle btn-c-green" id="designer-btn-add-widget"><i class="iconfont icon-add"></i>{{DESIGNER_NEW_WIDGET}}</button>
                <button class="btn-circle btn-c-green" id="designer-btn-save">
                    <i class="iconfont icon-ok"></i> <span>{{DESIGNER_SAVE}}</span>
                </button>
            </div>
        </div>
    </div>
    <div class="designer-body">
        <div class="grid-stack"></div>
    </div>
</div>
