/*------------------staff org----------------------*/
.checkbox {
  position: absolute;
  top: 9px;
  right: 15px;
  margin: 0;
  text-align: right;
}
.checkbox .staff-checkbox {
  line-height: 24px;
}
.checkbox .staff-checkbox > input[type="checkbox"] {
  margin-top: 5px;
}
.checkbox .staff-form-checkbox {
  margin-bottom: 5px;
}
.checkbox .staff-form-checkbox input[type="checkbox"] {
  margin-top: 2px;
}
.grid-bar {
  padding-left: 15px;
}
.grid-bar li {
  list-style-type: none;
}
.ui-dialog .panel-body > .ui-jqgrid {
  margin: -10px;
  border-bottom: 0;
  margin-bottom: 0;
}
.ui-dialog .panel-body > .ui-jqgrid .ui-jqgrid-titlebar,
.ui-dialog .panel-body > .ui-jqgrid .ui-jqgrid-hdiv,
.ui-dialog .panel-body > .ui-jqgrid .ui-jqgrid-bdiv,
.ui-dialog .panel-body > .ui-jqgrid .ui-jqgrid-pager {
  border-left: 0;
  border-right: 0;
}
.ui-dialog .panel-body > .ui-jqgrid .ui-jqgrid-hdiv {
  border-top: 0;
}
.ui-dialog .panel-body > .ui-jqgrid .ui-jqgrid-titlebar {
  border-top: 0;
  border-bottom: 1px solid #e3e3e3;
}
.slimScrollDiv ~ form {
  padding-top: 5px;
}
.modal-body > .row .panel {
  margin-bottom: 8px;
}
.modal-body .role-manage-page {
  padding: 0;
}
