<div class="container-fluid">
  <div class='row netDate'>
    <div class="col-md-12">
            <div type="button" class=" netChooseDate">
              <i class="glyphicon glyphicon-calendar"></i>
              <label class="timeShow"></label>
            </div>
    </div>
  </div>
  <div class="row ">
    <div class="col-md-7">
       <div class="row">
          <div class="col-md-6 p1">
          </div>
          <div class="col-md-6 p2">
          </div>
          <div class="col-md-6 p3">
          </div>
          <div class="col-md-6 pzf">
          </div>
          <div class="col-md-6 p4">
          </div>
          <div class="col-md-6 p5">
          </div>
          <div class="col-md-6 p6">
          </div>
          <div class="col-md-6 p7">
          </div>
          <div class="col-md-6 p8">
          </div>
          <div class="col-md-6 p9">
          </div>
          <div class="col-md-6 p10">
          </div>
          <div class="col-md-6 p11">
          </div>
       </div>
    </div>


    <div class="col-md-5">
      <div class="row">
        <div class="col-md-12 all">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="netPanel2" style="height:300px">
            <h4 class="pieTitle"></h4>
            <div class="piechart">

            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="netPanel2" style="height:300px">
            <h4 class="lineTitle"></h4>
            <div class="linechart">

            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="netPanel2" style="height:450px">
            <h4 class="topListTitle"></h4>

             <div class="row TOPN">
               
             </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
