<div class="modal-header">
	<h4 class="modal-title">Condition Format</h4>
</div>
<div class="modal-body">
	<div class="ad-modal-box">
		<div class="ad-tolbad">
			<div class="ad-block" id="ad-dimfilter-condi" style="height: 200px">
				<div class="row">
					<form class="form-horizontal clearfix">
						<div class="col-md-12" id="ad-filter-container">
							<div id="ad-condifmt-emptydiv" style="text-align:center;padding-top: 80px">
								No Condition Format
								<button type="button" id="ad-condifmt-plus">
									Click here to add
								</button>
							</div>
							<span id="ad-condifmt-container" class="wrapper scrollable p-b-none">

							</span>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<div class="col-md-12 text-right">
		<button type="button" class="btn btn_primary btn_minwidth" id="ad-condifmt-ok" autofocus>
			{{SLA_OK}}
		</button>
		<button type="button" class="btn btn_cancel btn_minwidth" id="ad-condifmt-cancel">
			{{SLA_CANCEL}}
		</button>
	</div>
</div>