<div class="modal-header">
	<h4 class="modal-title">Dimension Filter</h4>
</div>
<div class="modal-body">
	<div class="ad-modal-box">
		<div class="ad-tolbad">
			<div class="form-group">
				<label class="checkbox-inline"><input name="ad-dimfilter-chx" id="ad-dimfilter-exact-btn" type="checkbox" checked>Accurate Filter</label>
				<label class="checkbox-inline"><input name="ad-dimfilter-chx" id="ad-dimfilter-condi-btn" type="checkbox">Condition Filter</label>
			</div>
			<div class="form-group">
				<label class="checkbox-inline"><input name="ad-dimfilter-showtype-chx" id="ad-dimfilter-hide-btn" type="checkbox" checked>Hide</label>
				<label class="checkbox-inline"><input name="ad-dimfilter-showtype-chx" id="ad-dimfilter-normal-btn" type="checkbox">Basic Condition</label>
				<label class="checkbox-inline"><input name="ad-dimfilter-showtype-chx" id="ad-dimfilter-highlevel-btn" type="checkbox">Advanced Condition</label>
			</div>
		</div>
		<div class="ad-tolbad">
			<!--精确筛选-->
			<div class="ad-block" id="ad-dimfilter-exact">
				<div class="row">
					<div class="col-md-6 b-r">
						<div class="ad-title">Select {{DIM_NAME}}<a class="pull-right"></a></div>
						<div class="input-group search-group" style="width:100%">
							<i class="fa fa-search" style="position: absolute;top: 7px;left: 10px;z-index:11"></i>
							<input type="text" id="ad-dimfilter-search" class="ad-theme-search form-control">
						</div>
						<div class="clearfix m-t-sm m-block" >
							<ul id="sortable" name="ad-dimfilter-selectable" style="height:210px">

							</ul>
							<div class="ad-bar"><a id="ad-dimfilter-addall" href="#">Add All</a></div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="ad-title">Selected<a class="pull-right"></a></div>
						<div class="input-group search-group" style="width:100%">
							<select id="ad-dimfilter-subtype" class="form-control">
								<option value="INCLUDE" selected="selected">Contain</option>
								<option value="EXCLUDE">Not Contain</option>
							</select>
						</div>
						<div class="clearfix m-t-sm m-block">
							<ul id="sortable" name="ad-dimfilter-selected" style="height:210px">
							</ul>
							<div class="ad-bar">  <a id="ad-dimfilter-removeall" href="#">Clear</a></div>
						</div>
					</div>
				</div>
			</div>
			<!--精确筛选结束-->
			<!--条件筛选-->
			<div class="ad-block" id="ad-dimfilter-condi" style="display: none;height: 315px;" class="scrollable">
				<div  class="m-b-sm">Filter Condition</div>
				<div class="row">
					<form class="form-horizontal clearfix">
						<div class="col-md-12" id="ad-filter-container">
							<div class="form-group">
								<label class="col-md-2 control-label">{{DIM_NAME}}</label>
								<div class="col-md-3">
									<select id="ad-dimfilter-fmtsel" class="form-control" style="width: 130px">
										<option value="EQ" selected="selected">Equal to</option>
										<option value="NEQ">Not equal to</option>
										<option value="CONT">Contain</option>
										<option value="NCONT">Not contain</option>
									</select>
								</div>
								<div class="col-md-3">
									<input id="ad-dimfilter-condivalue" type="text" class="form-control">
								</div>
								<button type="button" id="ad-dimfilter-plus" class="btn btn-ico" title="Cancel"><i class="fa fa-plus"></i></button>
							</div>
							<!--<div class="form-group">
								<label class="col-md-2 control-label">{{DIM_NAME}}</label>
								<div class="col-md-3 text-center">
									等于
								</div>
								<div class="col-md-3 text-left">
									1
								</div>
								<button type="button" class="btn btn-ico" title="Cancel"><i class="fa fa-minus"></i></button>
							</div>-->
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<div class="col-md-12 text-right">
		<button type="button" class="btn btn_primary btn_minwidth" id="ad-btn-ok" autofocus>
			{{SLA_OK}}
		</button>
		<button type="button" class="btn btn_cancel btn_minwidth" id="ad-btn-cancel">
			{{SLA_CANCEL}}
		</button>
	</div>
</div>