<section class="vbox">
    <section>
        <section id="ad-topic-container" class="hbox stretch">
            <aside class="ad-left js-ad-left b-r">
                <div class="ad-title b-b">
                    <h3 class="m-n font-thin"><a id="ad-backtolist-btn" type="button" class="btn btn-default ad-btn m-r-sm">
                        <i class="fa fa-long-arrow-left"></i>
                    </a>Edit Diagrams
                        <a id="ad-topic-save" type="button" class="btn btn-default ad-btn pull-right">
                            <i class="fa fa-floppy-o"></i>
                        </a>
                        <a id="ad-topic-preview-btn" type="button" title="Preview" class="btn btn-link ad-btn pull-right">
                            <i class="fa fa-eye"></i>
                        </a>
                    </h3>
                </div>
                <!--Form List-->
                <div class="wrapper p-b-none">
                    <form>
                        <div class="form-group">
                            <label>Topic Name</label>
                            <input id="ad-topicname-input" type="text" class="input-sm form-control"/>
                        </div>
                        <div class="form-group">
                            <label>Dimension & Kpi</label>
                            <a type="button" class="btn btn-ico btn-link pull-right" id="ad-vdim-plus" style="padding-top:0px">
                                <i class="fa fa-plus"></i>
                            </a>
                            <div class="input-group search-group" style="width:100%" >
                                <i class="fa fa-search" style="position: absolute;top: 7px;left: 10px;z-index:11"></i>
                                <input id="ad-dim-indi-search"  type="text" class="ad-theme-search form-control">
                            </div>
                        </div>
                    </form>
                </div>
                <!--Form List End-->

                <!--Tree-->
                <div id="ad-dim-indi-tree" class="ad-tree scrollable m-l-sm">

                </div>
                <!--Tree End-->
            </aside>
                <!--Right-->
            <section>
                    <section class="vbox">
                        <section>
                            <section class="hbox stretch">
                                <section class="vbox ad-chart-bg">
                                    <!--Chart Args-->
                                    <div class="chart-args js-chart-args">
                                        <div class="row " id="ad-dimtag-container">
                                            <span class="fl ad-axis-head-label">
                                                <span class="axis-head-name ng-binding" style="padding-left: 20px">Dimension</span>
                                            </span>
                                        </div>
                                        <div class="row " id="ad-inditag-container">
                                            <span class="fl ad-axis-head-label">
                                                <i id="ad-addindi-batch" class="fa fa-pencil ad-icon"></i>
                                                <span class="axis-head-name ng-binding">Kpi</span>
                                            </span>
                                        </div>
                                        <div class="row ">
                                            <span class="fl ad-axis-head-label">
                                                 <a href="#" id="ad-editmodel-btn"> <i class="fa fa-pencil ad-icon"></i></a>

                                                <div class="ad-sort" style="left: -58px;top: 20px;float: none;">
                                                    <div id="ad-editmodel-container" class="popover ">
                                                        <div class="arrow"></div>
                                                        <!--强制选择模型界面-->
                                                        <select id="ad-model-select" class="form-control" style="width: 150px">
                                                            <!--<option value="" selected="selected">Model default</option>
                                                            <option value="AL">Model xxx</option>
                                                            <option value="AK">Model yyy</option>-->
                                                        </select>
                                                        <span id="ad-granu-container">
                                                            <!--<div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" title="Hour" name="ad-granularity" value="_60"> Hour
                                                                </label>
                                                            </div>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" title="Day" name="ad-granularity" value="_1440"> Day
                                                                </label>
                                                            </div>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" title="Month" name="ad-granularity" value="_Mon"> Month
                                                                </label>
                                                            </div>-->
                                                        </span>
                                                    </div>
                                                </div>
                                                <span class="axis-head-name ng-binding">Granularity</span>
                                            </span>
                                            <span id="ad-granutag-container">
                                                <!--
                                                <div class="btn-group ad-tags">
                                                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" type="button">
                                                        Hour
                                                    </button>
                                                </div>
                                                <div class="btn-group ad-tags">
                                                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" type="button">
                                                        Day
                                                    </button>
                                                </div>-->
                                            </span>
                                            <span class="ad-axis-head-label pull-right"><a href="#" class="ad-link" id="ad-drillcfg-btn" style="display: none"><i class="fa fa-cog"></i> 钻取配置</a></span>
                                        </div>
                                    </div>
                                    <!--Chart Args End-->
                                    <div class="row" style="margin-left: 10px">
                                        <div class="chart-left-side b-r" id="ad-filter-div" style="top:134px">
                                            <div class="filter-layer" id="ad-filter-container">
                                                <div class="m-b-sm"><b>Filter</b></div>
                                            </div>
                                        </div>
                                        <!--Chart-->
                                        <div class="chartBox" id="ad-chartbox-div" style="top:134px">

                                            <div class="charttop">
                                                <div class="pull-left" style="display: none">
                                                    <div class="input-group combobox" style="width:150px">
                                                        <input type="text" class="form-control" placeholder="定位名称"><span style="cursor: pointer; display: none; pointer-events: auto;" class="form-control-feedback form-clear-input">×</span>
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-triangle-bottom"></span>
                                                    </span>
                                                    </div>
                                                </div>
                                                <div class=" pull-right">
                                                    <a type="button" class="btn btn-ico btn-link" id="ad-chart-plus" disabled>
                                                        <i class="fa fa-plus"></i> Add Chart
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="chartlist" id="ad-chartlist-container">
                                                <div id="chart-img" class="chart-pd text-center" style="padding:80px 0">
                                                    <img src="oss_core/pm/adhocdesigner/assets/img/bigdata.png">
                                                    <p class="h4 m-t-sm">No Chart</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Chart End-->
                                    </div>
                                </section>

                                <section class="vbox scrollable ad-left b-l">
                                    <section class="hbox ">
                                        <!--Form List-->
                                        <div class="wrapper p-b-none">
                                            <form>
                                                <div class="form-group">
                                                    <label>Title</label>
                                                    <input type="text" id="ad-chart-title-input" placeholder="" class="input-sm form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label>SubTitle</label>
                                                    <input type="text" id="ad-chart-subtitle-input" placeholder="" class="input-sm form-control">
                                                </div>
                                            </form>
                                            <!--标题对齐方式-->
                                            <div class="m-b-xs">Title Location</div>
                                            <div class="btn-group  btn-group-title m-b-md">
                                                <button type="button" name="ad-titlealign" id="ad-titlealign-left" class="btn btn-default">
                                                    <i class="fa fa-align-left"></i>
                                                </button>
                                                <button type="button" name="ad-titlealign" id="ad-titlealign-center" class="btn btn-default active">
                                                    <i class="fa fa-align-center"></i>
                                                </button>
                                                <button type="button" name="ad-titlealign" id="ad-titlealign-right" class="btn btn-default">
                                                    <i class="fa fa-align-right"></i>
                                                </button>
                                            </div>
                                            <!-- -->
                                            <div class="m-b-sm"><b>Chart Type</b></div>
                                            <div class="pd">
                                                <ul>
                                                    <li><a href="#" name="ad-charttype-btn" class="a1 active" title="Grid"></a></li>
                                                    <li><a href="#" name="ad-charttype-btn" class="a2" title="Pie Chart"></a></li>
                                                    <li><a href="#" name="ad-charttype-btn" class="a3" title="Line Chart"></a></li>
                                                    <li><a href="#" name="ad-charttype-btn" class="a12" title="Column Chart"></a></li>
                                                    <li><a href="#" name="ad-charttype-btn" class="a5" title="Area Chart"></a></li>
                                                    <li><a href="#" name="ad-charttype-btn" class="a6" title="Bar Chart"></a></li>
                                                    <li><a href="#" name="ad-charttype-btn" class="a7" title="Radar Chart"></a></li>
                                                    <!--<li><a href="#" name="ad-charttype-btn" class="a8" title="树图"></a></li>-->
                                                    <li><a href="#" name="ad-charttype-btn" class="a9" title="Stackde Bar Chart"></a></li>
                                                    <li><a href="#" name="ad-charttype-btn" class="a10" title="Scotter Chart"></a></li>
                                                    <li><a href="#" name="ad-charttype-btn" class="a11" title="Double Axis Chart"></a></li>
                                                    <li><a href="#" name="ad-charttype-btn" class="a4" title="Stacked Column Chart"></a></li>
                                                    <li><a href="#" name="ad-charttype-btn" class="a13" title="Stacked Area Chart"></a></li>
                                                </ul>
                                            </div>
                                            <form class="form-horizontal clearfix ad-group-hack">
                                                <div class="form-group pull-left">
                                                    <label class="col-md-4 col-sm-4 control-label">Height</label>
                                                    <div class="col-md-8 col-sm-8">
                                                        <input id="ad-chart-height" class="form-control">
                                                    </div>
                                                </div>
                                            </form>
                                            <hr/>
                                            <!--图表配置区域开始-->
                                            <span id="ad-chartcfg-element"  style="display: none">
                                                <div class="m-b-sm"><b>Axis Config</b><a href="#" id="ad-axiscfg-btn" class="btn pull-right"><i class="fa fa-pencil ad-icon"></i></a></div>
                                                <div id="ad-marklinecfg-container" class="m-b-sm"><b>Markline</b><a href="#" id="ad-marklinecfg-btn" class="btn pull-right"><i class="fa fa-pencil ad-icon"></i></a></div>
                                                <div id="ad-marklinecfg-axis2-container" class="m-b-sm" style="display: none"><b>Markline(Secondary Axis)</b><a href="#" id="ad-marklinecfg-axis2-btn" class="btn pull-right"><i class="fa fa-pencil ad-icon"></i></a></div>
                                                <hr/>
                                                <div class="m-b-sm" style="display: none"><b>图内筛选器</b><a href="#" id="ad-filterinchart-btn" class="btn pull-right"><i class="fa fa-pencil ad-icon"></i></a></div>

                                                <div class="m-b-sm ad-group-hack">
                                                    <div class="form-group">
                                                        <label class="checkbox-inline"><input id="ad-chartlabel-btn" type="checkbox" checked>Label</label>
                                                    </div>
                                                    <div class="form-group" id="ad-zoomaxis-container">
                                                        <label class="checkbox-inline"><input id="ad-zoomaxis-btn" type="checkbox">Zoom</label>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="checkbox-inline"><input id="ad-legend-btn" type="checkbox" checked>Legend</label>
                                                    </div>
                                                </div>
                                                <hr/>
                                                <!-- 主坐标轴 -->
                                                <div id="ad-axis-label" class="m-b-sm"><b>Axis</b></div>
                                                <div id="ad-xaxis-label" class="m-b-sm" style="display: none"><b>X Axis</b></div>
                                                <form class="form-horizontal clearfix ad-group-hack">
                                                    <div class="form-group" id="ad-xaxis-container">
                                                        <label class="col-md-4 col-sm-4 control-label">X Axis</label>
                                                        <div class="col-md-6 col-sm-6">
                                                            <select id="ad-xaxis-select" class="form-control" style="width: 100px">
                                                                <!--<option value="" selected="selected">Model default</option>
                                                                <option value="AL">Model xxx</option>
                                                                <option value="AK">Model yyy</option>-->
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" id="ad-yaxis-container">
                                                        <label class="col-md-4 col-sm-4 control-label">Y Axis</label>
                                                        <div class="col-md-6 col-sm-6">
                                                            <select id="ad-yaxis-select" class="form-control" style="width: 100px">
                                                                <!--<option value="" selected="selected">Model default</option>
                                                                <option value="AL">Model xxx</option>
                                                                <option value="AK">Model yyy</option>-->
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" id="ad-axistitle-container">
                                                        <label class="col-md-4 col-sm-4 control-label">Title</label>
                                                        <div class="col-md-8 col-sm-8">
                                                            <input id="ad-yaxis-title" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group" id="ad-axismax-container">
                                                        <label class="col-md-4 col-sm-4 control-label">Maximum</label>
                                                        <div class="col-md-8 col-sm-8">
                                                            <input id="ad-yaxis-max" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group" id="ad-axismin-container">
                                                        <label class="col-md-4 col-sm-4 control-label">Minimum</label>
                                                        <div class="col-md-8 col-sm-8">
                                                            <input id="ad-yaxis-min" class="form-control">
                                                        </div>
                                                    </div>
                                                </form>
                                                <!-- 次坐标轴 -->
                                                <form id="ad-axis-container2" class="form-horizontal clearfix ad-group-hack" style="display: none">
                                                    <div id="ad-axis2-label" class="m-b-sm"><b>Secondary Axis</b></div>
                                                    <div id="ad-yaxis-label" class="m-b-sm" style="display: none"><b>Y Axis</b></div>
                                                    <div class="form-group" id="ad-axistitle-container2">
                                                        <label class="col-md-4 col-sm-4 control-label">Title</label>
                                                        <div class="col-md-8 col-sm-8">
                                                            <input id="ad-yaxis2-title" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group" id="ad-axismax-container2">
                                                        <label class="col-md-4 col-sm-4 control-label">Maximum</label>
                                                        <div class="col-md-8 col-sm-8">
                                                            <input id="ad-yaxis2-max" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group" id="ad-axismin-container2">
                                                        <label class="col-md-4 col-sm-4 control-label">Minimum</label>
                                                        <div class="col-md-8 col-sm-8">
                                                            <input id="ad-yaxis2-min" class="form-control">
                                                        </div>
                                                    </div>
                                                </form>
                                            </span>
                                            <!--图表配置区域结束-->
                                            <!--表格配置区域开始-->
                                            <span id="ad-gridcfg-element" style="display: block">
                                                <div class="m-b-sm"><b>Column Config</b><a href="#" id="ad-colcfg-btn" class="btn pull-right"><i class="fa fa-pencil ad-icon"></i></a></div>
                                                <hr/>
                                                <div class="m-b-sm ad-group-hack">
                                                    <div class="form-group">
                                                        <label class="checkbox-inline"><input id="ad-grid-pager-btn" type="checkbox">Data Paging</label>
                                                    </div>
                                                </div>
                                                <div class="m-b-sm ad-group-hack">
                                                    <div class="form-group">
                                                        <label class="checkbox-inline"><input id="ad-grid-mergecell-btn" type="checkbox">Merge Cell</label>
                                                    </div>
                                                </div>
                                                <hr/>
                                                <div class="m-b-sm"><b>Condition Format</b><a href="#" id="ad-condifmt-btn" class="btn pull-right"><i class="fa fa-pencil ad-icon"></i></a></div>
                                            </span>
                                            <!--表格区域结束-->
                                            <!--对比分析-->
                                            <div id="ad-compareanalysis" class="m-b-sm ad-group-hack" style="display: none">
                                                <div class="form-group">
                                                    <label class="checkbox-inline"><input id="ad-compareanalysis-btn" type="checkbox">Comparative Analysis</label>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Form List End-->
                                    </section>
                                </section>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
        </section>
        <!-- -->
        <section id="ad-topic-preview" class="hbox stretch" style="display: none">
        </section>
    </section>
</section>
