@font-face {
    font-family: 'icomoon';
    src: url('./icomoon.eot?gmcyat');
    src: url('./icomoon.eot?gmcyat#iefix') format('embedded-opentype'), url('./icomoon.ttf?gmcyat') format('truetype'), url('./icomoon.woff?gmcyat') format('woff'), url('./icomoon.svg?gmcyat#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    /*-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-text-stroke-width: 0.2px;*/
}

.icon-down-x:before {
    content: "\e9d5";
}

.icon-moren:before {
    content: "\e9d4";
}

.icon-clock:before {
    content: "\e900";
}

.icon-uniE600:before {
    content: "\e600";
}

.icon-uniE601:before {
    content: "\e601";
}

.icon-uniE602:before {
    content: "\e602";
}

.icon-uniE603:before {
    content: "\e603";
}

.icon-uniE604:before {
    content: "\e604";
}

.icon-uniE605:before {
    content: "\e605";
}

.icon-uniE6002:before {
    content: "\e606";
}

.icon-uniE607:before {
    content: "\e607";
}

.icon-uniE608:before {
    content: "\e608";
}

.icon-uniE609:before {
    content: "\e609";
}

.icon-uniE60A:before {
    content: "\e60a";
}

.icon-uniE6012:before {
    content: "\e60b";
}

.icon-uniE60C:before {
    content: "\e60c";
}

.icon-uniE60D:before {
    content: "\e60d";
}

.icon-uniE60E:before {
    content: "\e60e";
}

.icon-uniE6022:before {
    content: "\e60f";
}

.icon-uniE6110:before {
    content: "\e610";
}

.icon-uniE611:before {
    content: "\e611";
}

.icon-uniE612:before {
    content: "\e612";
}

.icon-uniE613:before {
    content: "\e613";
}

.icon-uniE614:before {
    content: "\e614";
}

.icon-uniE615:before {
    content: "\e615";
}

.icon-uniE619:before {
    content: "\e619";
}

.icon-help:before {
    content: "\e901";
}

.icon-userour:before {
    content: "\e902";
}

.icon-sign:before {
    content: "\e903";
}

.icon-pc:before {
    content: "\e904";
}

.icon-ui-tv:before {
    content: "\e905";
}

.icon-uniPing:before {
    content: "\e906";
}

.icon-uniEping:before {
    content: "\e907";
}

.icon-BIT:before {
    content: "\e908";
}

.icon-bring-to-bottom:before {
    content: "\e909";
}

.icon-bring-to-downer:before {
    content: "\e90a";
}

.icon-bring-to-top:before {
    content: "\e90b";
}

.icon-bring-to-upper:before {
    content: "\e90c";
}

.icon-chart:before {
    content: "\e90d";
}

.icon-export:before {
    content: "\e90e";
}

.icon-tv:before {
    content: "\e90f";
}

.icon-search-shuju:before {
    content: "\e910";
}

.icon-pli-add:before {
    content: "\e911";
}

.icon-home:before {
    content: "\e912";
}

.icon-exchange-xy:before {
    content: "\e913";
}

.icon-hidden-cloumn:before {
    content: "\e914";
}

.icon-hidden-row:before {
    content: "\e915";
}

.icon-insert-column:before {
    content: "\e916";
}

.icon-insert-row:before {
    content: "\e917";
}

.icon-copy:before {
    content: "\e918";
}

.icon-add-shuju:before {
    content: "\e919";
}

.icon-shear:before {
    content: "\e91a";
}

.icon-links:before {
    content: "\e91b";
}

.icon-config:before {
    content: "\e91c";
}

.icon-delete-h:before {
    content: "\e91d";
}

.icon-delete-l:before {
    content: "\e91e";
}

.icon-add-sj:before {
    content: "\e91f";
}

.icon-replace:before {
    content: "\e920";
}

.icon-paste:before {
    content: "\e921";
}

.icon-A2:before {
    content: "\e922";
}

.icon-A3:before {
    content: "\e923";
}

.icon-A4:before {
    content: "\e924";
}

.icon-A5:before {
    content: "\e925";
}

.icon-A6:before {
    content: "\e926";
}

.icon-A7:before {
    content: "\e927";
}

.icon-A8:before {
    content: "\e928";
}

.icon-A9:before {
    content: "\e929";
}

.icon-B1:before {
    content: "\e92a";
}

.icon-B2:before {
    content: "\e92b";
}

.icon-B3:before {
    content: "\e92c";
}

.icon-B4:before {
    content: "\e92d";
}

.icon-B5:before {
    content: "\e92e";
}

.icon-B6:before {
    content: "\e92f";
}

.icon-B7:before {
    content: "\e930";
}

.icon-B8:before {
    content: "\e931";
}

.icon-B9:before {
    content: "\e932";
}

.icon-B10:before {
    content: "\e933";
}

.icon-B11:before {
    content: "\e934";
}

.icon-B12:before {
    content: "\e935";
}

.icon-B13:before {
    content: "\e936";
}

.icon-B14:before {
    content: "\e937";
}

.icon-B15:before {
    content: "\e938";
}

.icon-B16:before {
    content: "\e939";
}

.icon-B17:before {
    content: "\e93a";
}

.icon-B18:before {
    content: "\e93b";
}

.icon-B19:before {
    content: "\e93c";
}

.icon-B20:before {
    content: "\e93d";
}

.icon-B21:before {
    content: "\e93e";
}

.icon-B22:before {
    content: "\e93f";
}

.icon-B23:before {
    content: "\e940";
}

.icon-B24:before {
    content: "\e941";
}

.icon-B25:before {
    content: "\e942";
}

.icon-B26:before {
    content: "\e943";
}

.icon-B27:before {
    content: "\e944";
}

.icon-B28:before {
    content: "\e945";
}

.icon-B29:before {
    content: "\e946";
}

.icon-B30:before {
    content: "\e947";
}

.icon-B31:before {
    content: "\e948";
}

.icon-B32:before {
    content: "\e949";
}

.icon-B33:before {
    content: "\e94a";
}

.icon-B34:before {
    content: "\e94b";
}

.icon-B35:before {
    content: "\e94c";
}

.icon-B36:before {
    content: "\e94d";
}

.icon-B37:before {
    content: "\e94e";
}

.icon-B38:before {
    content: "\e94f";
}

.icon-B39:before {
    content: "\e950";
}

.icon-B40:before {
    content: "\e951";
}

.icon-C1:before {
    content: "\e952";
}

.icon-C2:before {
    content: "\e953";
}

.icon-C3:before {
    content: "\e954";
}

.icon-C4:before {
    content: "\e955";
}

.icon-C5:before {
    content: "\e956";
}

.icon-C6:before {
    content: "\e957";
}

.icon-C7:before {
    content: "\e958";
}

.icon-C8:before {
    content: "\e959";
}

.icon-C9:before {
    content: "\e95a";
}

.icon-C10:before {
    content: "\e95b";
}

.icon-C11:before {
    content: "\e95c";
}

.icon-C12:before {
    content: "\e95d";
}

.icon-C13:before {
    content: "\e95e";
}

.icon-C14:before {
    content: "\e95f";
}

.icon-C15:before {
    content: "\e960";
}

.icon-C16:before {
    content: "\e961";
}

.icon-C17:before {
    content: "\e962";
}

.icon-C18:before {
    content: "\e963";
}

.icon-C19:before {
    content: "\e964";
}

.icon-C20:before {
    content: "\e965";
}

.icon-C21:before {
    content: "\e966";
}

.icon-C22:before {
    content: "\e967";
}

.icon-C23:before {
    content: "\e968";
}

.icon-C24:before {
    content: "\e969";
}

.icon-C25:before {
    content: "\e96a";
}

.icon-C26:before {
    content: "\e96b";
}

.icon-C27:before {
    content: "\e96c";
}

.icon-D1:before {
    content: "\e96d";
}

.icon-D2:before {
    content: "\e96e";
}

.icon-D3:before {
    content: "\e96f";
}

.icon-D4:before {
    content: "\e970";
}

.icon-D5:before {
    content: "\e971";
}

.icon-D6:before {
    content: "\e972";
}

.icon-E1:before {
    content: "\e973";
}

.icon-E2:before {
    content: "\e974";
}

.icon-E3:before {
    content: "\e975";
}

.icon-E4:before {
    content: "\e976";
}

.icon-E5:before {
    content: "\e977";
}

.icon-E6:before {
    content: "\e978";
}

.icon-E7:before {
    content: "\e979";
}

.icon-E8:before {
    content: "\e97a";
}

.icon-E9:before {
    content: "\e97b";
}

.icon-E10:before {
    content: "\e97c";
}

.icon-E11:before {
    content: "\e97d";
}

.icon-E12:before {
    content: "\e97e";
}

.icon-E13:before {
    content: "\e97f";
}

.icon-E14:before {
    content: "\e980";
}

.icon-E15:before {
    content: "\e981";
}

.icon-E16:before {
    content: "\e982";
}

.icon-E17:before {
    content: "\e983";
}

.icon-E18:before {
    content: "\e984";
}

.icon-E19:before {
    content: "\e985";
}

.icon-E20:before {
    content: "\e986";
}

.icon-E21:before {
    content: "\e987";
}

.icon-E22:before {
    content: "\e988";
}

.icon-E23:before {
    content: "\e989";
}

.icon-E24:before {
    content: "\e98a";
}

.icon-E25:before {
    content: "\e98b";
}

.icon-E26:before {
    content: "\e98c";
}

.icon-E27:before {
    content: "\e98d";
}

.icon-E28:before {
    content: "\e98e";
}

.icon-F1:before {
    content: "\e98f";
}

.icon-F2:before {
    content: "\e990";
}

.icon-F3:before {
    content: "\e991";
}

.icon-F4:before {
    content: "\e992";
}

.icon-F5:before {
    content: "\e993";
}

.icon-F6:before {
    content: "\e994";
}

.icon-F7:before {
    content: "\e995";
}

.icon-F8:before {
    content: "\e996";
}

.icon-F9:before {
    content: "\e997";
}

.icon-F10:before {
    content: "\e998";
}

.icon-F11:before {
    content: "\e999";
}

.icon-F12:before {
    content: "\e99a";
}

.icon-F13:before {
    content: "\e99b";
}

.icon-F19:before {
    content: "\e99c";
}

.icon-G1:before {
    content: "\e99d";
}

.icon-G2:before {
    content: "\e99e";
}

.icon-G3:before {
    content: "\e99f";
}

.icon-G4:before {
    content: "\e9a0";
}

.icon-G5:before {
    content: "\e9a1";
}

.icon-G6:before {
    content: "\e9a2";
}

.icon-G7:before {
    content: "\e9a3";
}

.icon-G8:before {
    content: "\e9a4";
}

.icon-G9:before {
    content: "\e9a5";
}

.icon-G10:before {
    content: "\e9a6";
}

.icon-G11:before {
    content: "\e9a7";
}

.icon-G12:before {
    content: "\e9a8";
}

.icon-G13:before {
    content: "\e9a9";
}

.icon-H1:before {
    content: "\e9aa";
}

.icon-H2:before {
    content: "\e9ab";
}

.icon-H3:before {
    content: "\e9ac";
}

.icon-H4:before {
    content: "\e9ad";
}

.icon-H5:before {
    content: "\e9ae";
}

.icon-H6:before {
    content: "\e9af";
}

.icon-H7:before {
    content: "\e9b0";
}

.icon-H8:before {
    content: "\e9b1";
}

.icon-H9:before {
    content: "\e9b2";
}

.icon-H10:before {
    content: "\e9b3";
}

.icon-H11:before {
    content: "\e9b4";
}

.icon-J1:before {
    content: "\e9b5";
}

.icon-J2:before {
    content: "\e9b6";
}

.icon-J3:before {
    content: "\e9b7";
}

.icon-J4:before {
    content: "\e9b8";
}

.icon-A1:before {
    content: "\e9b9";
}

.icon-exchange-xy2:before {
    content: "\e9ba";
}

.icon-uniE610:before {
    content: "\e9bb";
}

.icon-close:before {
    content: "\e9bc";
}

.icon-del:before {
    content: "\e9bd";
}

.icon-edit:before {
    content: "\e9be";
}

.icon-minus:before {
    content: "\e9bf";
}

.icon-calendar:before {
    content: "\e9c0";
}

.icon-i:before {
    content: "\e9c1";
}

.icon-list1:before {
    content: "\e9c2";
}

.icon-list2:before {
    content: "\e9c3";
}

.icon-list3:before {
    content: "\e9c4";
}

.icon-moved:before {
    content: "\e9c5";
}

.icon-movet:before {
    content: "\e9c6";
}

.icon-right0:before {
    content: "\e9c7";
}

.icon-uninter:before {
    content: "\e9c8";
}

.icon-untrunk:before {
    content: "\e9c9";
}

.icon-user:before {
    content: "\e9cb";
}

.icon-add:before {
    content: "\e9ca";
}

.icon-duih:before {
    content: "\e9cc";
}

.icon-calculat:before {
    content: "\e9ce";
}

.icon-xsan:before {
    content: "\e9cd";
}

.icon-left-join:before {
    content: "\e9cf";
}

.icon-other:before {
    content: "\e9d0";
}

.icon-cavas-other:before {
    content: "\e9d1";
}

.icon-uniPC:before {
    content: "\e9d2";
}

.icon-uniPing2:before {
    content: "\e9d3";
}

.icon-daping:before {
    content: "\e9e0";
}

.icon-daping2:before {
    content: "\e9e1";
}

.icon-daping22:before {
    content: "\e9e2";
}

.icon-search:before {
    content: "\f002";
}

.icon-uniF0F6:before {
    content: "\f0f6";
}
