/*
   TODO: 结构DIV基本样式(done)
 */

.comprivroot {
    padding: 0px;
    margin: 0px;
}

.editBody {
    font: 12px/1.14 "Helvetica Neue", Helvetica, "Lucida Grande", "Luxi Sans", Arial, "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Micro Hei Mono", "WenQuanYi Zen Hei", "WenQuanYi Zen Hei Mono", LiGothicMed;
    margin: 0px;
    padding: 0px;
    background: #fff;
}

.editBody ol, ul {
    list-style: none;
}

.editBody a, a:hover {
    color: #333;
    text-decoration: none;
}

.editBody .bk_gray {
    background: #e3e3e3;
}

.editBody .bk_fff {
    background: #fff;
}

.editBody .mainContent {
    background: #e3e3e3;
    padding-top: 10px;
    padding-bottom: 10px;
}

.editBody #canvasPage {
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding: 0px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    background: #ffffff;
}

.editBody .i {
    font-size: 20px;
    color: #444;
    line-height: 26px;
}

.editBody .p {
    margin: 0px;
    padding: 0px;
}

.editBody .toolbar {
    float: left;
    margin-left: 10px;
    height: 60px;
}

.editBody .btn-gray {
    background: #eee;
}

.editBody .btn-sm {
    font-size: 12px;
    line-height: 1.5;
    padding: 5px 15px
}

.editBody .dashboard-name-input {
    border: 1px solid #ddd;
    height: 32px;
}

.editBody .m_tb_title {
    float: right;
    padding: 15px 15px 0 0;
}

.editBody .col_title {
    padding-top: 5px;
    height: 60px;
    padding: 0px;
    margin: 0px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    background: #fff;
    position: relative;
    z-index: 199;
}

.editBody .title {
    font-size: 14px;
    margin-right: 10px;
    font-weight: bold;
    color: #333;
    text-align: center;
    padding-top: 20px;
}

.editBody .exportMenu {
    line-height: 60px;
}

.editBody .exportMenu li {
    float: left;
    margin-left: 5px;
}


/* TODO: 属性页面(done) */

.sdesigner .ui-tabs .ui-tabs-nav {
    padding: 0px 0 0;
    margin-bottom: 0;
    background-color: #dddddd;
    box-shadow: none;
    border: none;
}

.sdesigner .ui-tabs {
    background-color: #dddddd;
    border: 0;
    padding: 0px;
    margin: 0px;
}

.sdesigner .ui-tabs .ui-tabs-nav li {
    padding: 0px;
    margin: 0px;
    color: #333;
    font-weight: normal;
}

.sdesigner .ui-tabs .ui-tabs-nav li a {
    border-bottom: none;
    margin: 0px;
    color: #333;
    font-weight: normal;
}

.sdesigner .ui-tabs .ui-tabs-nav li.ui-tabs-active a {
    border-bottom: none;
    background-color: #fff;
    margin: 0px;
    color: #333;
    font-weight: normal;
}

.sdesigner .ui-tabs.tabs-pill .ui-tabs-nav li.ui-tabs-active>a, .ui-tabs.tabs-pill .ui-tabs-nav li.ui-tabs-active>a:hover, .ui-tabs.tabs-pill .ui-tabs-nav li.ui-tabs-active>a:focus {
    margin-bottom: 0;
    border-width: 1px;
    border-style: solid;
}

.editBody .configPanel {
    background: #fff;
}


/*
TODO:属性页板--子页板 (done)
*/

.m_u_box {
    padding: 0 15px;
}

.bi-attr-edit-list-div {
    padding: 15px 0;
    border-bottom: 1px solid #eee;
    font-size: 12px;
    margin: 0px;
}

.bi-attr-edit-list-div h4 {
    line-height: 25px;
    font-weight: bold;
    color: #333;
    font-size: 12px;
}

.bi-attr-edit-list-div-rengs {
    margin-bottom: 10px;
}

.bi-attr-edit-list-div-rengs .form-control {
    display: inline-block;
}


/* TODO: 基本表单元素样式 (done)*/

.bi-lable {
    margin-right: 10px;
    margin-left: 10px;
    padding: 0, 5px;
}

.bi-input-text {
    font-size: 12px;
    height: 25px;
    padding: 6px 12px;
    line-height: 1;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.bi-input-number-range-input {
    width: 60%;
    display: inline-block;
    padding: 3px 3px;
    margin-top: 0;
    text-align: center;
    font-size: 12px;
    height: 25px;
    line-height: 2;
    border-radius: 4px;
    border: 1px solid #ccc;
}


/* TODO: 纯CSS checkbox (done) */

.switch {
    cursor: pointer;
    position: relative;
}

.switch input {
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
}

.switch span {
    position: relative;
    width: 42px;
    height: 20px;
    border-radius: 999em;
    background-color: #fff;
    border: 1px solid #eee;
    border-color: rgba(0, 0, 0, 0.1);
    display: inline-block;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.switch input:checked+span {
    background: #36b0c8;
}

.switch span:after {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 26px;
    top: 0;
    bottom: 0;
    border-radius: 30px;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
    -webkit-transition: left 0.2s;
    transition: left 0.2s;
}

.switch input:checked+span:after {
    left: 16px;
}


/* TODO: 修改Slider样式 (done) */

.editBody .ui-slider {
    border: none;
    height: 2px;
    background-color: #e0e4e8;
}

.editBody .ui-slider .ui-slider-handle {
    width: 10px;
    height: 10px;
    background-color: #36b0c8;
    opacity: 0.8;
    border: 0px solid transparent
}

.editBody .ui-slider .ui-slider-handle:hover {
    box-shadow: none;
}

.sliderTooltip {
    background-color: #000;
    padding: 5px 0;
    margin-top: -3px;
    position: absolute;
    display: none;
    color: #fff;
    width: 40px;
    text-align: center;
    opacity: 0.8;
    border-radius: 5px;
}

.bi-radio-list-custom {
    cursor: pointer;
    font-size: 12px;
    color: #333;
    display: inline;
    font-weight: normal;
    margin-bottom: 0;
    min-height: 20px;
    max-width: 100%;
}
