

<div class="container-fluid dashBoardDetailPage">
  <div class="row header">

    <h5 class="dashboardName">DashBoardName</h5>
    <div class="pull-right">
      <button type="button" class="btn btn-link dashboard-mail-btn">
         <i class=" glyphicon glyphicon-envelope" style="font-size:12px;line-height:12px"></i>
      </button>
      <button type="button" class="btn btn-link ad-refreshdashboard-btn">
                    <i class="fa fa-refresh"></i>
                </button>
      <button type="button" class="btn btn-link ad-favdashboard-btn dashboard-favdashboard-btn">
                    <i class="fa"></i>
                </button>
                </button>
      <button type="button" class="btn btn-link ad-deldashboard-btn">
                    <i class="fa fa-trash"></i>
                </button>
      <button type="button" class="btn btn-link ad-editdashboard-btn">
                    <i class="fa fa-cog da-edit"></i>
                </button>

    </div>
  </div>
  <div class="row editBody dashBoardDetailPerviewBody">
      <div class="dashBoardDetailPerviewContext">
         <div id='dashboard-detail-canvas' class='dashboardCanvas dashBoardDetailPerview'></div>
     </div>
  </div>
</div>
