<div class="container-fluid" id="UIDemo">
  <div id="sliderWin">
  </div>
  <button id="currentValue">获得当前的值</button>
  <h2>API</h2>
  <pre>

      var datas = [
          "30m",
          "1H",
          "6H",
          "12H",
          "14D",
          "3D",
          "7D",
          "14D",
          "1M",
          "2M",
          "3M"
      ]
      var slider = new SliderPlug({'el':$('#sliderWin'),'datas':datas}).render();

      slider.getValue();
      slider.setValue("1H");
  </pre>
</div>
