<div class="designer-main">
    <div class="designer-header" style="display: none;">
	   	<span class="iconfont icon-config btn-config">
	   	</span>
        <div class="btn-toolbar con-close">
            <h4>{{DESIGNER_WIDGET}}</h4>
            <div class="btn-group">
                <button class="btn-circle btn-c-green" id="designer-btn-add-widget"><i class="iconfont icon-add"></i>Add</button>
                <button class="btn-circle btn-c-green" id="designer-btn-save">
                    <i class="iconfont icon-ok"></i> <span>{{DESIGNER_SAVE}}</span>
                </button>
            </div>
        </div>
    </div>
    <div class="designer-body">
        <div class="row">
            <div class="col-md-6">
                <div class="grid-stack grid-stack-left" style="background-color: lightcyan">
                    <div class="grid-stack-item" data-gs-x="0" data-gs-y="0" data-gs-width="3" data-gs-height="3">
                        <div class="grid-stack-item-content" style="background-color: #9caabc"></div>
                    </div>
                    <div class="grid-stack-item" data-gs-x="3" data-gs-y="3" data-gs-width="2" data-gs-height="2">
                        <div class="grid-stack-item-content" style="background-color: #9caabc"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="grid-stack grid-stack-right"></div>
            </div>
        </div>
    </div>
</div>
