<div class="ui-dialog dialog-md">
    <div class="modal-header">
        <h4 class="modal-title" id="designer-modal-widgets-label"><i class="iconfont icon-add"></i>&nbsp;<span>{{DESIGNER_NEW_WIDGET}}</span></h4>
    </div>
    <div class="modal-body">
        <ul id="designer-ul-widgets" class="designer-ui portal-designer-widgets">
        </ul>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" disabled="disabled" id="designer-btn-add-widget-ok">{{COMMON_ADD}}</button>
        <button type="button" class="btn btn-default" data-dismiss>{{COMMON_CLOSE}}</button>
    </div>
</div>
