<div class="filterItemBody" style="background: #fff;">
	<div class="modal-header">
	    <h4 class="modal-title">条件设置</h4>
	</div>
    <div class="cType" style="padding: 8px">条件类型</div>
	<div class="modal-body actionList">
		<div class="rows">
            <div class="col-md-12">
                <label>
                    <span style="width: 100px">
                        <input type="radio" value="type_group" name="checkCon">发现检查点
                    </span>
                </label>
                <span class="comSpan">
                    <input type="text" class="eventType filterInput tranItem cIpt1" id="conD19">
                </span>
                <span class="itemFrom" style="width: 480px;">
                    <input type="text" class=" tranItem filterInput cIpt2">
                </span>
                <span class="smaster_span addGroup">选择</span>
            </div>
            <div class="col-md-12">
                <label>
                    <span style="width: 100px">
                        <input type="radio" value="type_host" name="checkCon">发现对象
                    </span>
                </label>
                <span class="comSpan">
                    <input type="text" class="eventType filterInput tranItem cIpt1" id="">
                </span>
                <span class="itemFrom" style="width: 480px;">
                    <input type="text" class="eventType1 tranItem filterInput cIpt2" placeholder="">
                </span>
            </div>
            <div class="col-md-12">
                <label>
                    <span style="width: 100px">
                        <input type="radio" value="type_trigger" name="checkCon">发现规则
                    </span>
                </label>
                <span class="comSpan">
                    <input type="text" class="eventType filterInput tranItem cIpt1" id="conD18">
                </span>
                <span class="itemFrom" style="width: 480px;">
                    <input type="text" class=" tranItem filterInput cIpt2">
                </span>
                <span class="smaster_span addRule">选择</span>
            </div>
            <div class="col-md-12">
                <label>
                    <span style="width: 100px">
                        <input type="radio" value="type_trigger_name" name="checkCon">发现状态
                    </span>
                </label>
                <span class="comSpan">
                    <input type="text" class="eventType filterInput tranItem cIpt1" id="conD10">
                </span>
                <span class="itemFrom" style="width: 480px;">
                    <input type="text" class="eventType2 tranItem filterInput cIpt2" placeholder="">
                </span>
            </div>
            <div class="col-md-12">
                <label>
                    <span style="width: 100px">
                        <input type="radio" value="type_severity" name="checkCon">监控点IP
                    </span>
                </label>
                <span class="comSpan">
                    <input type="text" class="eventType filterInput tranItem cIpt1" id="conD7">
                </span>
                <span class="itemFrom" style="width: 480px;">
                    <input type="text" class=" tranItem filterInput cIpt2" placeholder="192.168.0.1-127.192.168.2.1">
                </span>
            </div>
            <div class="col-md-12">
                <label>
                    <span style="width: 100px">
                        <input type="radio" value="type_period" name="checkCon">代理
                    </span>
                </label>
                <span class="comSpan">
                    <input type="text" class="eventType filterInput tranItem cIpt1" id="conD20">
                </span>
                <span class="itemFrom" style="width: 480px;">
                    <input type="text" class=" tranItem filterInput cIpt2">
                </span>
                <span class="smaster_span addProx">选择</span>
            </div>
            <div class="col-md-12">
                <label>
                    <span style="width: 100px">
                        <input type="radio" value="type_template" name="checkCon">接收值
                    </span>
                </label>
                <span class="comSpan">
                    <input type="text" class="eventType filterInput tranItem cIpt1" id="conD12">
                </span>
                <span class="itemFrom" style="width: 480px;">
                    <input type="text" class=" tranItem filterInput cIpt2">
                </span>
            </div>
            <div class="col-md-12">
                <label>
                    <span style="width: 100px">
                        <input type="radio" value="type_maintance" name="checkCon">服务端口
                    </span>
                </label>
                <span class="comSpan">
                    <input type="text" class="eventType filterInput tranItem cIpt1" id="conD9">
                </span>
                <span class="itemFrom" style="width: 480px;">
                    <input type="text" class=" tranItem filterInput cIpt2" placeholder="0-1023,1024-49151">
                </span>
            </div>
            <div class="col-md-12">
                <label>
                    <span style="width: 100px">
                        <input type="radio" value="type_tag" name="checkCon">服务类型
                    </span>
                </label>
                <span class="comSpan">
                    <input type="text" class="eventType filterInput tranItem cIpt1" id="conD8">
                </span>
                <span class="itemFrom" style="width: 480px;">
                    <input type="text" class="eventType3 tranItem filterInput cIpt2">
                </span>
            </div>
            <div class="col-md-12">
                <label>
                    <span style="width: 100px">
                        <input type="radio" value="type_tag_value" name="checkCon">上下线时长
                    </span>
                </label>
                <span class="comSpan">
                    <input type="text" class="eventType filterInput tranItem cIpt1" id="conD11">
                </span>
                <span class="itemFrom" style="width: 480px;">
                    <input type="text" class=" tranItem filterInput cIpt2">
                </span>
            </div>
        </div>
        <div class="row mgt15">
            <div class="fr">
                <div class="KdoBtn2 btn reset">cancle</div>
                <div class="KdoBtn2 btn OK Kdo_mainColor isSure">sure</div>
            </div>
        </div>
	</div>
</div>