<div class="filterItemBody" style="background: #fff;">
	<div class="modal-header">
	    <h4 class="modal-title">条件设置</h4>
	</div>
    <div class="cType" style="padding: 8px">条件类型</div>
	<div class="modal-body actionList">
		<div class="rows">
            <div class="col-md-12">
                <label>
                    <span style="width: 90px">
                        <input type="radio" value="Host group" name="checkCon">监控组
                    </span>
                </label>
                <span class="comSpan">
                    <input type="text" class="eventType filterInput tranItem cIpt1" id="conD0">
                </span>
                <span class="itemFrom" style="width: 490px;">
                    <select name="cGroup" class="mulselect cGroup" data-placeholder="select" multiple=""></select>
                </span>
                <span class="smaster_span addGroup">选择</span>
            </div>
            <div class="col-md-12">
                <label>
                <span style="width: 90px">
                    <input type="radio" value="Host" name="checkCon">主机
                </span>
                </label>
                <span class="comSpan">
                    <input type="text" class="eventType filterInput tranItem cIpt1" id="conD1">
                </span>
                <span class="itemFrom" style="width: 490px;">
                    <select name="cHoust" class="mulselect cHoust" data-placeholder="select" multiple=""></select>
                </span>
                <span class="smaster_span addHoust">选择</span>
            </div>
            <div class="col-md-12">
                <label>
                <span style="width: 90px">
                    <input type="radio" value="Trigger severity" name="checkCon">事件类型
                </span>
                </label>
                <span class="comSpan">
                    <input type="text" class="eventType filterInput tranItem cIpt1" id="conD23">
                </span>
                <span class="comSpan" style="width: 490px;">
                    <input type="text" class="eventIleType tranItem filterInput" placeholder="select">
                </span>
            </div>
            <div class="col-md-12">
                <label>
                    <span style="width: 90px">
                        <input type="radio" value="Template" name="checkCon">模板
                    </span>
                </label>
                <span class="comSpan">
                    <input type="text" class="eventType filterInput tranItem cIpt1" id="conD13">
                </span>
                <span class="itemFrom" style="width: 490px;">
                    <select name="cTem" class="mulselect cTem" data-placeholder="select" multiple=""></select>
                </span>
                <span class="smaster_span addTem">选择</span>
            </div>
        </div>
        <div class="row mgt15">
            <div class="fr">
                <div class="KdoBtn2 btn reset">cancle</div>
                <div class="KdoBtn2 btn OK Kdo_mainColor isSure">sure</div>
            </div>
        </div>
	</div>
</div>