<div class="filterItemBody" style="background: #fff;">
	<div class="modal-header">
	    <h4 class="modal-title">{{HOUST}}</h4>
	</div>
	<div class="modal-body triggerList">
		<div class="row">
			<div class="col-xs-12">
                <div class="form-group itemFrom">
                    <label for="priority">{{HOUST_GROUP}}</label>
                    <input type="text" class="comboboxGroups filterInput tranItem" name="comboboxGroups">
                </div>
            </div>
		</div>
		<div class="ItemListGrid TriggerListGrid kdoGrid">
        </div>
        <button type="button" class="btn btn-info btn-primary Tagbtn mgt10 isSure">选择</button>
	</div>
</div>