<div class="filterItemBody" style="background: #fff;">
	<div class="modal-header">
	    <h4 class="modal-title">{{SET_OPINVENTORY}}</h4>
	</div>
	<div class="modal-body triggerList">
		<div class="rows">
            <div class="col-md-12">
                <div class="form-group itemFrom">
                    <label for="defualt_msg" class="w100">更新资产模式<</label>
                    <input type="text" class="opinventory filterInput tranItem">
                </div>
            </div>
		</div>
        <div class="rows mgt15">
            <div class="fr">
                <div class="KdoBtn2 btn cancle">{{CANCLE}}</div>
                <div class="KdoBtn2 btn OK Kdo_mainColor">{{SURE}}</div>
            </div>
        </div>
	</div>
</div>