<div class="filterItemBody" style="background: #fff;">
	<div class="modal-header">
	    <h4 class="modal-title">{{LINK_TO_TEMPLATE}}</h4>
	</div>
	<div class="modal-body triggerList">
		<div class="rows">
            <div class="col-md-12">
                <div class="form-group itemFrom">
                    <label for="defualt_msg" class="w100">目标模板<span class="smaster_span pull-right lh20 addTem">添加</span></label>
                </div>
                <ul class="UlList temList"></ul>
            </div>
		</div>
        <div class="rows mgt15">
            <div class="fr">
                <div class="KdoBtn2 btn cancle">{{CANCLE}}</div>
                <div class="KdoBtn2 btn OK Kdo_mainColor">{{SURE}}</div>
            </div>
        </div>
	</div>
</div>