<div>
    <section class="vbox">
        <section>
            <section class="hbox stretch">
                <!--Right-->
                <section>
                    <section class="vbox ad-chart-bg" style="background-color:#fff;">
                    	<div class="col-md-6" style="padding: 0 0 0 0;margin: 10px 0 0 10px">
                    		<div id="parammgr-grid"></div>
                    	</div>
                        <div class="col-md-6 text-right" style="margin:10px 0px 10px 20px">
                            <button type="button" class="btn btn-primary btn_minwidth" id="parammgr-confirm-btn">
                                {{PARAMMGR_SAVE}}
                            </button>
                            <button type="button" class="btn btn-default btn_cancel btn_minwidth" id="parammgr-reset-btn">
                                {{PARAMMGR_RESET}}
                            </button>
                        </div>
                    </section>
                </section>
            </section>
        </section>
    </section>
</div>
