<div class="ui-dialog dialog-sm">
	<div class="modal-header">
	    <h4 class="modal-title">{{DATAPRIVMGR_ORG_POPWIN}}</h4>
	</div>
	<div class="modal-body">
		<div class="grid js-org-grid grid-height-md"></div>
	</div>
	<div class="modal-footer no-border">
		<div class="text-right role__bg">
			<button type="button" class="btn btn-min-width btn-primary js-ok">{{COMMON_OK}}</button>
			<button type="button" class="btn btn-min-width btn-default js-cancel" data-dismiss>{{COMMON_CANCEL}}</button>
		</div>
	</div>
</div>