<div class="ui-dialog dialog dialog-lg">
	<div class="modal-header">
		<h4 class="modal-title">{{DATAPRIVMGR_STAFF_POPWIN}}</h4>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-12 col-sm-12">				
				<div class="grid js-staff-grid grid-height-md"></div>
			</div>
		</div>
	</div>
	<div class="modal-footer no-border">
		<div class="row">
			<div class="col-md-12 col-sm-12 text-right">
				<button type="button" class="btn btn-min-width btn-primary js-ok">{{COMMON_OK}}</button>
				<!-- <button type="button" class="btn btn_minwidth btn-default js-clear">{{COMMON_CLEAR}}</button> -->
				<button type="button" class="btn btn-min-width btn-default js-cancel" data-dismiss>{{COMMON_CANCEL}}</button>
			</div>
		</div>
	</div>
</div>