	<div class="modal-header">
		<h4 class="modal-title js-kpi-counter-title">{{KPI}}</h4>
	</div>
	<div class="modal-body">
		<div class="ad-modal-box">
			<div class="ad-block">
				<div class="border wrapper m-t-sm  tab-content" style='width:700px'>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group js-mo-code-div">
								<div class="col-md-4">
									<label class="control-label">{{MO}}</label>
								</div>
								<div class="col-md-8">
									<input id="MO_CODE" class="form-control" data-rule="{{MO}}:required;length[1~60, true]">
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<div class="col-md-12">
				                   	<div class="input-group search-group pull-left js-kpi-search-div" >
				                       <i class="fa fa-search" style="position: absolute;top: 7px;left: 10px;z-index:11"></i>
				                        <input type="text" class="ad-theme-search form-control js-search-input" placeholder="{{KPI_INPUT}}" >
				                        <span class="input-group-btn">
				                            <a href="#" class="btn js-search" title="{{SEARCH}}">{{SEARCH}}</a>
				                        </span>
				                        <span class="input-group-btn">
				                            <a href="#" class="btn js-reset" title="{{COMMON_RESET}}">{{COMMON_RESET}}</a>
				                        </span>
				                    </div>   
				                </div>
				            </div>
						</div>
						<div class="col-md-12" style='margin-top:4px;'>
							<div class="form-group">
								<div class="col-md-12">
									<div class="grid js-kpi-counter-grid"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
        <div class="col-md-12 text-right">
        	<button type="button" class="btn btn_minwidth btn-primary js-ok" autofocus>
                {{COMMON_OK}}
            </button>
            <button type="button" class="btn btn_minwidth btn-default js-cancel" data-dismiss>
                {{COMMON_CANCEL}}
            </button>
        </div>
	</div>