	<div class="modal-header">
		<h4 class="modal-title">{{ORDER_BY}}</h4>
	</div>
	<div class="modal-body">
		<div class="ad-modal-box">
		<div class="ad-block">

			<!--Table-->
			<div class="border wrapper m-t-sm  tab-content" style='width:600px'>
				<form class="form-horizontal clearfix ad-group-hack js-data-order-form">
				    <div class="col-md-12">
				        
				        <div class='js-data-order-panel'>
					        <!-- -->
					        <div class="form-group" group>
					        	<div class="col-md-2">
					                <label class="control-label">{{ORDER_BY}}</label>
					            </div>
					            <div class="col-md-6">
					                <input class="form-control" name="MODEL_FIELD" data-rule="{{FIELD_INFO}}:required" placeholder="{{COMMON_PLS_SEL}}" />
					            </div>
					            <div class="col-md-3">
					            	<input class="form-control" name="DESC_ASC" data-rule="{{OPERATORS}}:required" placeholder="{{COMMON_PLS_SEL}}" />
					            </div>
					            <div class="col-md-1">
					                <button type="button" class="btn btn-ico js-data-order-plus" title="{{COMMON_ADD}}"><i class="fa fa-plus"></i></button>
					            </div>
					        </div>
					    </div>
				    </div>
				</form>
			</div>
			<!--/ Table-->
		</div>
		</div>
	</div>
	<div class="modal-footer">
        <div class="col-md-12 text-right">
        	<button type="button" class="btn btn_minwidth btn-primary js-ok" autofocus>
                {{COMMON_OK}}
            </button>
            <button type="button" class="btn btn_minwidth btn-default js-reset" autofocus>
                {{COMMON_RESET}}
            </button>
            <button type="button" class="btn btn_minwidth btn-default js-cancel" data-dismiss>
                {{COMMON_CANCEL}}
            </button>
        </div>
	</div>