<div class="ad-collect-center">
	<div class="ad-collect-block">
	<div class="m-t-sm b-b"><b>{{COLLECTION_MACHINE_TASK_MANAGEMENT}}</b></div>
	<div class="m-t-sm">
		<div class="col-md-6 n-p-l" style="height: 390px">
		<div>
			<b>{{COLLECTION_MACHINE_TASK_CHOOSABLE}}</b>
			<div id="searchbar1" class="input-group search-group" data-toggle="searchbar"></div>
			<div class="border m-t-sm">
				<div id="grid1"></div>
			</div>	
			<div  class="m-t-sm">
				<button type="button" class="btn btn-primary btn_minwidth" id="machineAddTask" autofocus>{{COLLECTION_MACHINE_TASK_ADD}}</button>
			</div>
		</div>
	</div>
	<div class="col-md-6 n-p-r">
		<div>
			<b>{{COLLECTION_MACHINE_TASK_EXIST}}</b>
			<div id="searchbar2" class="input-group search-group" data-toggle="searchbar"></div>
			<div class="border m-t-sm">
				<div id="grid2"></div>
			</div>
			<div class="m-t-sm">
				<button type="button" class="btn btn-primary btn_minwidth" id="machineRemoveTask" autofocus>{{COLLECTION_MACHINE_TASK_REMOVE}}</button>

				<button type="button" class="btn btn-primary btn_minwidth" style="display:none" id="setRemain" autofocus>{{COLLECTION_MACHINE_DEFAULT_SET}}</button>
				<button type="button" class="btn btn-primary btn_minwidth" style="display:none" id="cancelRemain" autofocus>{{COLLECTION_MACHINE_DEFAULT_CANCEL}}</button>
			</div>
		</div>
	</div>
	</div>
</div>
</div>
		

