<div class="kdo-pickcolor-dialog ui-dialog dialog-md">
  <div class="modal-header">
    <h4 class="modal-title">分类名称</h4>
  </div>
  <div class="modal-body filterHostBody">
    <div class="kdo-pick-block">
      <div class="row">
        <div>
         <input class="newClassName" style="width:100%" type="text" name="" value="">
        </div>
      </div>
    </div>
    <div class="row mt15px">
      <div class="RightDiv ">
        <div class="KdoBtn2 btn OK Kdo_mainColor" style="min-width:50px">确定</div>
        <div class="KdoBtn2 btn reset" style="min-width:50px">取消</div>
      </div>
    </div>

  </div>
