<div class="kdo-dialog ui-dialog dialog-md">
  <div class="modal-header">
    <h4 class="modal-title">Create Application</h4>
  </div>
  <div class="modal-body filterHostBody">
    <div class="row">
      <div class="col-xs-12 mt15">
        <div class="form-group host-from-group">
          <label for="hostTempName">Host/Template</label>
          <input type="text" class="hostTempName filterInput" name="hostTempName" disabled value="Hehe">
        </div>
      </div>
      <div class="col-xs-12">
        <div class="form-group host-from-group">
          <label for="appName">
            Application Name
            <span class="host_red">*</span>
          </label>
          <input type="text" class="appName filterInput" name="appName">
        </div>
      </div>
    </div>
    <div class="row mt15px">
      <div class="RightDiv ">
        <div class="KdoBtn2 btn reset">Cancel</div>
        <div class="KdoBtn2 btn OK Kdo_mainColor">OK</div>
      </div>
    </div>

  </div>
