<div class="kdo-right-page">
  <div class="kdo-right-page-header">
    <div class="title"><i class="glyphicon glyphicon-menu-left graphscallback kdo-callback"></i>Application</div>
    <div class="kdoTopBtn">
         <div class="kdoBtn createApplication"><i class="glyphicon glyphicon-plus"></i>Create Application</div>
    </div>
  </div>

  <div class="kdo-right-page-cotent">

      <div class="filterArea">
       <div class="kdo-floatDiv">
         <input type="text" name="combobox1" class="comboboxGraphsGroup">

       </div>
        <div class="kdo-floatDiv">
             <input type="text" name="combobox1" class="form-control comboboxGraphsHost">
        </div>
       <div class="filterComands">

       </div>
      </div>
      <div class="graphsListGrid kdoGrid">
      </div>
      <div  class="graphsListBtn col-md-12">
         <button type="button"   class="btn delApplication btn-default kdoPageBtn" data-bis="delApplication">Delete</button>
      </div>
  </div>

</div>
