<ul class="kdo-tree">
  <li>
     <div class="kdo-tree-head">
       <span>Infrastructure Layer</span>
       <i class="glyphicon headingArrow glyphicon-menu-down"></i>
     </div>
     <ul class="sub-tree">
       <li>
         <div class="kdo-tree-head">
           <span>Layer 1</span>
         </div>
       </li>
       <li>
         <div class="kdo-tree-head">
           <span>Layer 1</span>
         </div>
       </li>
       <li>
         <div class="kdo-tree-head">
           <span>Layer 1</span>
         </div>
       </li>
     </ul>
  </li>

  <li>
    <div class="kdo-tree-head">
      <span>Infrastructure Layer</span>
      <i class="glyphicon headingArrow glyphicon-menu-down"></i>
    </div>
     <ul class="sub-tree">
       <li>
         <div class="kdo-tree-head">
           <span>Layer 1</span>
         </div>
       </li>
       <li>
         <div class="kdo-tree-head">
           <span>Layer 1</span>
         </div>
       </li>
       <li>
         <div class="kdo-tree-head">
           <span>Layer 1</span>
         </div>
       </li>
     </ul>
  </li>

</ul>
