
<div class="tabAixsPage">
  <div class="row">
     <div class="col-md-12">
       <div class="form-inline">
         <div class="form-group">
           <label for="exampleInputName2">Y-Axis</label>
           <label class="kdo-switch" style="position:relative;top:5px;left:10px">
               <input type="checkbox" checked="true" class="axisSwitch" data-el=".yAxis-context">
               <span></span>
           </label>
         </div>
       </div>
     </div>
   </div>
  <div class="row yAxis-context">
    <div class="col-md-12">
     <div class="kdo-input-style">
       <span class="tag kdo-color-gray">label</span>
       <input type="text" class="textInput"></input>
     </div>
    </div>
    <div class="col-md-6 col-sm-6" style="margin-top:10px">
     <div class="kdo-input-style">
       <span class="tag kdo-color-gray">Y Min</span>
       <input type="text" class="textInput"></input>
     </div>
    </div>
    <div class="col-md-6 col-sm-6" style="margin-top:10px">
      <div class="kdo-input-style">
        <span class="tag kdo-color-gray">Y Max</span>
        <input type="text" class="textInput"></input>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top:10px">
     <div class="col-md-12">
       <div class="form-inline">
         <div class="form-group">
           <label for="exampleInputName2">X-Axis</label>
           <label class="kdo-switch" style="position:relative;top:5px;left:10px">
               <input type="checkbox" class="axisSwitch" data-el=".xAxis-context">
               <span></span>
           </label>
         </div>
       </div>
     </div>
   </div>
  <div class="row xAxis-context">
    <div class="col-md-12">
     <div class="kdo-input-style">
       <span class="tag kdo-color-gray">label</span>
       <input type="text" class="textInput"></input>
     </div>
    </div>
    <div class="col-md-6 col-sm-6" style="margin-top:10px">
     <div class="kdo-input-style">
       <span class="tag kdo-color-gray">X Min</span>
       <input type="text" class="textInput"></input>
     </div>
    </div>
    <div class="col-md-6 col-sm-6" style="margin-top:10px">
      <div class="kdo-input-style">
        <span class="tag kdo-color-gray">X Max</span>
        <input type="text" class="textInput"></input>
      </div>
    </div>
  </div>
</div>
