

<div class="container-fluid dashBoardDetailPage">
  <div class="row header">

    <h5 class="dashboardName">DashBoardName</h5>
    <div class="pull-right">
      <button type="button" class="btn btn-link ad-refreshdashboard-btn">
                    <i class="fa fa-refresh"></i>刷新
                </button>
      <button type="button" class="btn btn-link ad-favdashboard-btn">
                    <i class="fa fa-star"></i>收藏
                </button>
                </button>
      <button type="button" class="btn btn-link ad-deldashboard-btn">
                    <i class="fa fa-trash"></i>删除
                </button>
      <button type="button" class="btn btn-link ad-editdashboard-btn">
                    <i class="fa fa-cog da-edit"></i>编辑
                </button>
    </div>
  </div>
  <div class="row editBody">
     <div id='dashboard-detail-canvas' class='dashboardCanvas'></div>
  </div>
</div>
