

<div class="container-fluid dashBoardDetailPage">
  <div class="row header">

    <h5 class="dashboardName">DashBoardName</h5>
    <div class="pull-right">
      <button type="button" class="btn btn-link ad-refreshtopic-btn">
                    <i class="fa fa-refresh"></i>刷新
                </button>
      <button type="button" class="btn btn-link ad-favtopic-btn">
                    <i class="fa fa-star"></i>收藏
                </button>
                </button>
      <button type="button" class="btn btn-link ad-deltopic-btn">
                    <i class="fa fa-trash"></i>删除
                </button>
      <button type="button" class="btn btn-link ad-edittopic-btn">
                    <i class="fa fa-cog topic-edit"></i>编辑
                </button>
    </div>
  </div>
  <div class="row">
  </div>
</div>
