<div class="container-fluid editBody">

  <div class="row col_title">
    <div class="col-md-5">
      <!-- TODO: 菜单栏(tag) -->
      <ul id="mega-menu-dash" class="mega-menu">
        <li style="margin-left: 10px">
          <a href="#">
                        <i class="icon-uniE60A i"></i>
                        <p class="p">{{CHARTS}}</p>
                    </a>
          <ul class="tool_chart" style="height:150px">
            <li>
              <h4>{{BAR_CHARTS}}</h4>
              <div class="tool_chart_box">
                <a href="#" class="BarBase">
                                    <i class="icon_chart3"></i>
                                    <p>{{BAR}}</p>
                                </a>


              </div>

            </li>


          </ul>
        </li>



      </ul>

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-3">
      <ul class="exportMenu">
        <li>
          <a id="saveButton" class="btn btn-gray btn-sm btn-save">{{SAVE}}</a>
        </li>
        <li>
          <a id="perviewButton" class="btn btn-gray btn-sm btn-save">{{PREVIEW}}</a>
        </li>
        <li>
          <a id="showListButton" class="btn btn-gray btn-sm btn-save">{{LIST}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row	 ">
    <div class="col-md-9 col-lg-10" style="padding: 0px; ">
      <div class="mainContent2">
         <div id="dashboardCanvasEdit" class="dashboardCanvas">

        </div>


      </div>
    </div>
    <div class="col-md-3 col-lg-2 " style="padding: 0px;margin:0px">
      <div class="dashBoardConfigPanel"></div>
    </div>

  </div>
</div>
