<div class="ad-table" tab>
	
	<div class="wrapper">
        <div class="btn-group">
            <button class="btn btn-default dropdown-toggle js-counter-data-filter" type="button">
            	<i class="fa fa-filter"></i> {{DATA_FILTER}}
            </button>
            <!--
            <button class="btn btn-default dropdown-toggle js-counter-data-filter-clear" type="button"  data-toggle="dropdown"  aria-expanded="true">
            	<i class="fa fa-close"></i>
            </button>
            -->
        </div>
        <div class="btn-group m-l-sm">
            <button class="btn btn-default dropdown-toggle js-counter-data-order" type="button">
                <i class="fa fa-sort-amount-desc"></i> {{ORDER_BY}}
            </button>
            <!--
            <button class="btn btn-default dropdown-toggle js-counter-data-filter-clear" type="button"  data-toggle="dropdown"  aria-expanded="true">
            	<i class="fa fa-close"></i>
            </button>
            -->
        </div>
        
        <div class="pull-right m-r-sm">
            <a class="btn ad-link js-counter-data-grid-exit" href="#">
            	<i class="fa fa-external-link" title='{{RETURN}}'></i>
            </a>
        </div>
        
        <div class="pull-right">
        	<a href="#" class="btn ad-link js-counter-data-download">
        		<i class="fa fa-download" title='{{COMMON_EXPORT}}'></i>
        	</a>
        </div>
        
        
        
    </div>
    <div class="table-responsive b-t">

        <div class="grid space-grid js-counter-data-grid"></div>
    </div>
</div>