<h4>{{SERVER_SCHEDULING_TIME}}</h4>
<div class="bi-attr-edit-list-div-rengs stViewOffon">
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <lable class="bi-lable" style="margin-right:0px;margin-left:10px">{{ONOFF}}:</lable>
        </div>
        <div class="col-md-4 col-sm-4  col-md-offset-4 .col-sm-offset-4">
            <label class="switch">
                <input type="checkbox" class="stViewOffonCheckbox">
                <span style=""></span>
            </label>
        </div>
    </div>
</div>
<div class="bi-attr-edit-list-div-rengs stViewConfig" >
    <div class="row">
        <div class="col-md-12">
            <form class="from-inline">
                <div class="form-group">
                    <lable for="name " class="bi-lable" style='width:20%'>{{TIME}}:</lable>
                    <input type="text"  style='width:30%' class="form-control bi-input-text timeInput" name="name">
                    <select style="height:25px" class="timeSelect">
                      <option value="1">{{MINUTE}}</option>
                      <option value="2">{{SECOND}}</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
</div>
