
<div class="tabAixsPage">
  <div class="row">
     <div class="col-md-12">
       <div class="form-inline">
         <div class="form-group">
           <label for="exampleInputName2">Y轴1</label>
           <label class="kdo-switch" style="position:relative;top:5px;left:10px">
               <input type="checkbox" class="axisSwitch yAxis1" data-el=".yAxis-context">
               <span></span>
           </label>
         </div>
       </div>
     </div>
   </div>
  <div class="row yAxis-context">
    <div class="col-md-12">
     <div class="kdo-input-style">
       <span class="tag kdo-color-gray">坐标名称</span>
       <input type="text" class="textInput yAxis1Name"></input>
     </div>
    </div>
    <div class="col-md-6 col-sm-6" style="margin-top:10px">
     <div class="kdo-input-style">
       <span class="tag kdo-color-gray">Y 最小值</span>
       <input type="text" class="textInput yAxis1Min"></input>
     </div>
    </div>
    <div class="col-md-6 col-sm-6" style="margin-top:10px">
      <div class="kdo-input-style">
        <span class="tag kdo-color-gray">Y 最大值</span>
        <input type="text" class="textInput yAxis1Max"></input>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top:10px">
     <div class="col-md-12">
       <div class="form-inline">
         <div class="form-group">
           <label for="exampleInputName2">Y轴2</label>
           <label class="kdo-switch" style="position:relative;top:5px;left:10px">
               <input type="checkbox" class="axisSwitch yAxis2" data-el=".xAxis-context">
               <span></span>
           </label>
         </div>
       </div>
     </div>
   </div>
  <div class="row xAxis-context">
    <div class="col-md-12">
     <div class="kdo-input-style">
       <span class="tag kdo-color-gray">坐标名称</span>
       <input type="text" class="textInput yAxis2Name"></input>
     </div>
    </div>
    <div class="col-md-6 col-sm-6" style="margin-top:10px">
     <div class="kdo-input-style">
       <span class="tag kdo-color-gray">X 最小值</span>
       <input type="text" class="textInput yAxis2Min"></input>
     </div>
    </div>
    <div class="col-md-6 col-sm-6" style="margin-top:10px">
      <div class="kdo-input-style">
        <span class="tag kdo-color-gray">X 最大值</span>
        <input type="text" class="textInput yAxis2Max"></input>
      </div>
    </div>
  </div>
</div>
