<div class="hostPageItem" style="padding-left:10px">
  <div class="item" style="width:45%">
    <input type="text" class="form-control topComBox">
  </div>
  <div class="item" style="width:15%">
    <input type="text" class="form-control itemFun">
  </div>
  <div class="item">
    <div class="itemColor kdoItemCircle" style="position:relative;top:-8px"></div>
  </div>
  <div class="item" style="width:15%">
    <input type="text" class="form-control alignCombox">
  </div>
  <i class="glyphicon glyphicon-minus item" style="cursor:pointer position:relative;top:-8px"></i>
</div>
