<div class="tabHostPage">
  <div class="row cg_address_div">
    <div class="col-md-12">
        <div class="form-group">
          <label for="exampleInputName2">URL:</label>
          <div style="width:95%">
          <input type="text"  class="cg_address" style="width:100%">
        </div>
        </div>
    </div>
  </div>
  <div class="row">
     <div class="col-md-6">
         <div class="form-group">
           <label for="exampleInputName2">维度</label>
           <div style="width:90%">
             <input type="text" class="xAxis">
           </div>
         </div>
     </div>
     <div class="col-md-6 xAxisFromatGrop" style="display:none">
         <div class="form-group ">
           <label for="exampleInputName2">维度格式</label>
           <div style="width:90%">
             <input type="text" class="xAxisFromat">
           </div>
         </div>
     </div>
   </div>

   <div class="row" style="margin-top:3px">
     <div class="col-md-12">
       <div class="form-inline">
         <div class="form-group">
           <label for="exampleInputName2">指标</label>
         </div>
       </div>
     </div>
     <div class="itemBody">

     </div>
      <div class="col-md-2">
        <span class="hostBtn addItem">添加</span>
      </div>
  </div>
  <div class="row" style="margin-top:12px">
     <div class="col-md-12">
         <div class="form-group" style="margin-bottom:5px">
           <label for="exampleInputName2">排序</label>
         </div>
     </div>
     <div class="col-md-12">
       <div class="order1Div" style="width:25%;display:inline-block;">
         <input type="text" class="order1">
       </div>
       <div class="order2Div"  style="width:45%;display:inline-block;">
         <input type="text" class="order2">
       </div>
       <div class="order3Div" style="width:15%;display:inline-block;">
         <input type="text" class="order3">
       </div>
     </div>

     <div class="col-md-9" style="margin-top:10px">
      <div class="kdo-input-style">
        <span class="tag kdo-color-gray">返回记录数</span>
        <input type="text" class="textInput topNum"></input>
      </div>
     </div>
   </div>
</div>
