<div class="tabAixsPage">
  <div class="row">
    <div class="col-md-12">
      <div class="form-inline">
        <div class="form-group">
          <label for="exampleInputName2">图例</label>
          <label class="kdo-switch" style="position:relative;top:5px;left:10px">
               <input type="checkbox" class="axisSwitch lengedFlag" data-el=".yAxis-context">
               <span></span>
           </label>
        </div>
      </div>
    </div>
  </div>
  <div class="row yAxis-context">
    <div class="col-md-12">
      <div class="graphsPd" style="margin: 0px 0px -15px">
        <ul>
          <li><a href="#" data-dir ="L" name="ad-legend-direction-btn" class="a22 ad-legend-direction-btn" title="左侧图例"></a></li>
          <li><a href="#" data-dir ="R" name="ad-legend-direction-btn" class="a23 ad-legend-direction-btn" title="右侧图例"></a></li>
          <li><a href="#"  data-dir ="T"  name="ad-legend-direction-btn" class="a24 ad-legend-direction-btn" title="顶部图例"></a></li>
          <li><a href="#" data-dir ="B"  name="ad-legend-direction-btn" class="a25 ad-legend-direction-btn" title="底部图例"></a></li>
        </ul>
      </div>
    </div>

  </div>


</div>
