<div class="hostPageItem">
  <div class="item" style="width:80px">
    <input type="text" class="form-control topComBox">
  </div>
  <div class="item topTextBoxContext" style="cursor:pointer; position:relative;top:-10px"  >
    <input type="text" class="form-control topTextBox">
  </div>
  <div class="item itemFunContext">
    <div style="float:left;margin-right:5px;width:230px">
    <input type="text" class="form-control itemFun2">
    </div>
    <div style="float:left;width:100px">
    <input type="text" class="form-control itemFun">
    </div>

  </div>
  <div class="item" style="position:relative;top:-8px">
    <div class="itemColor kdoItemCircle"></div>
  </div>
  <i class="glyphicon glyphicon-minus item" style="cursor:pointer; position:relative;top:-8px" ></i>
</div>
