<div class="tabTimePage">
  <div class="row">
     <div class="col-md-12">
         <div class="form-group">
           <label for="exampleInputName2">默认选择粒度</label>
           <div style="width:45%">
             <input type="text" class="timeSource">
           </div>
         </div>

     </div>
   </div>
   <div class="row" style="margin-top:3px">
     <div class="col-md-12">
         <div class="form-group">
           <label for="exampleInputName2">默认查询时间范围</label>
           <div style="width:45%">
             <input type="text" class="timeRangeCom">
           </div>
         </div>
     </div>
  </div>
</div>
