<div class="filterItemBody" style="background: #fff;">
	<div class="modal-header">
	    <h4 class="modal-title">{{TRIGGER}}</h4>
	</div>
	<div class="modal-body triggerList">
		<div class="row">
			<div class="col-xs-8">
                <div class="form-group itemFrom">
                    <label for="priority">{{HOUST_GROUP}}</label>
                    <input type="text" class="comboboxGroups filterInput tranItem" name="comboboxGroups">
                </div>
            </div>
            <div class="col-xs-2 col-xs-offset-1" style="margin-top: 30px;">
                <span><input type="checkbox" name="gHong" id="gHong"><label for="gHong">全局宏</label></span>
            </div>
            <div class="col-xs-12">
                <div class="form-group itemFrom">
                    <label for="priority">{{HOUST}}/{{TEMPLATE}}</label>
                    <input type="text" class="comboboxhost filterInput tranItem" name="comboboxhost">
                </div>
            </div>
		</div>
		<div class="ItemListGrid HongListGrid kdoGrid">
        </div>
	</div>
</div>