<div class="js-task-other-detail-div">
<form class="form-horizontal clearfix js-task-other-detail-form"  step_no='1' step_name='CFG_OTHER'>	
    <div class="col-md-12">
        <div class="form-group required">
        	<div class="col-md-12">
                <label class="control-label">{{SERVICE_SERV}}</label>
            </div>
            <div class="col-md-12 js-task-other-div">
                
                
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <div class="col-md-12">
            	<div class="input-group" >
                	<a href="#" class="ad-link pull-right js-task-other-add" style="margin-top:1px"><i class="fa fa-plus" ></i> {{COMMON_ADD}}</a>
                </div>
            </div>
        </div>
    </div> 	   
</form>
</div> 