	<div class="modal-header">
		<h4 class="modal-title js-kpi-counter-title">{{KPI}}</h4>
	</div>
	<div class="modal-body">
		<div class="ad-modal-box">
			<div class="ad-block">
				<div class="border wrapper m-t-sm  tab-content" style='width:700px;height:350px;'>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<div class='tabs-pill ui-tabs js-kpi-ems-ver-tab'>
								    <ul class='ui-tabs-nav js-kpi-ems-ver-ul'></ul>
								    <div class='m-t-sm tab-content js-kpi-ems-ver-content' style='margin:5px;'></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
        <div class="col-md-12 text-right">
        	<button type="button" class="btn btn_minwidth btn-primary js-ok" autofocus>
                {{COMMON_OK}}
            </button>
            <button type="button" class="btn btn_minwidth btn-default js-cancel" data-dismiss>
                {{COMMON_CANCEL}}
            </button>
        </div>
	</div>