<div class="designer-main designer-workspace">
    <div class="designer-header">
	   	<span class="iconfont icon-setting btn-config js-config">
	   	</span>
        <div class="designerPosition">
            <div class="btn-toolbar con-close">
                <h4>{{DESIGNER_TEMPLATE}}</h4>
                <div class="input-group">
                    <input type="text" class="form-control tpl-ipt" id="designer-ipt-template-name" name="template_name" placeholder="{{DESIGNER_TPL_NAME}}">        
                    <input type="hidden" class="form-control" id="designer-ipt-template-id" value="test" name="template_name"></div>
                <div class="btn-group">
                    <button class="btn-circle btn-c-green" id="designer-a-new">{{DESIGNER_NEW}}</button>
                </div>
                <div class="btn-group">
                    <button class="btn-circle btn-c-green hide" id="designer-btn-new-ok">{{DESIGNER_CREATE}}</button>
                </div>
                <div class="btn-group">
                    <button class="btn-circle btn-c-green" id="designer-a-open">{{DESIGNER_OPEN}}</button>
                </div>
                <div class="divider"></div>
                <h4>{{DESIGNER_WIDGET}}</h4>
                <div class="btn-group">
                    <button class="btn-circle btn-c-green" id="designer-btn-add-widget">{{DESIGNER_NEW_WIDGET}}</button>
                </div>
            </div>
            <button class="toolbar-bottom con-close" id="designer-btn-save"> <i class="iconfont icon-save"></i>
                <span>{{DESIGNER_SAVE}}</span>
            </button>
        </div>
        
    </div>
    <div class="designer-body">
        <div class="grid-stack"></div>
    </div>
</div>
