<div class="ui-dialog dialog-md">
    <div class="modal-header">
        <h4 class="modal-title" id="designer-modal-templates-label"><i class="iconfont icon-list"></i>&nbsp;<span>{{DESIGNER_TEMPLATE}}</span></h4>
    </div>
    <div class="modal-body">
         <ul id="designer-ul-templates" class="designer-ui portal-designer-templates">
         </ul>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" id="designer-btn-delete">
            <i class="iconfont icon-remove-circle"></i>&nbsp;<span>{{COMMON_DELETE}}</span>
        </button>
        <button type="button" class="btn btn-default pull-left" id="designer-btn-workspace">
           <i class="iconfont icon-home-zone"></i>&nbsp;<span>{{DESIGNER_AS_WS}}</span>
        </button>
        <button type="button" class="btn btn-primary" id="designer-btn-open-ok">{{COMMON_OK}}</button>
        <button type="button" class="btn btn-default" data-dismiss>{{COMMON_CANCEL}}</button>
    </div>
</div>
