<div class="container-fluid" style="margin-bottom:30px">
  <div class="row">
    <div class="col-md-4">
      <div class="p1">

      </div>
      <div class="p2">

      </div>
      <div class="p3">

      </div>
      <div class="p4">

      </div>
    </div>
    <div class="col-md-8">
      <div class="row" style="width: 99%">
        <div class="qualityTitle" style="margin-top:15px;margin-bottom:5px">
          全网质量概览
        </div>
      </div>
      <div class="row" style="width: 99%">
        <div class="cellPanel2 cellall-0">
          <div class="title">SBC注册用户数</div>
          <div class="value">401823 线</div>
        </div>
        <div class="cellPanel2 cellall-1">
          <div class="title">语音话务量</div>
          <div class="value">71579 erl</div>
        </div>
        <div class="cellPanel2 cellall-2">
          <div class="title">短彩业务量</div>
          <div class="value">5319855 次</div>
        </div>
        <div class="cellPanel2 cellall-3">
          <div class="title">互联网总流量</div>
          <div class="value">1100 G</div>
        </div>
        <div class="cellPanel2 cellall-4">
          <div class="title">省网络链路利用率</div>
          <div class="value">59.21%</div>
        </div>

        <div class="cellPanel2 cellall-5">
          <div class="title">IP城域网利用率</div>
          <div class="value">59.21%</div>
        </div>
        <div class="cellPanel2 cellall-6">
          <div class="title">PTN峰值带宽利用率</div>
          <div class="value">64%</div>
        </div>
        <div class="cellPanel2 cellall-7">
          <div class="title">PTN峰值带宽利用率 </div>
          <div class="value">64%</div>
        </div>
        <div class="cellPanel2 cellall-8">
          <div class="title">PTN峰值带宽利用率 </div>
          <div class="value">64%</div>
        </div>
        <div class="cellPanel2 cellall-9">
          <div class="title">PTN峰值带宽利用率 </div>
          <div class="value">64%</div>
        </div>
        <div class="cellPanel2 cellall-10">
          <div class="title">PTN峰值带宽利用率 </div>
          <div class="value">64%</div>
        </div>
        <div class="cellPanel2 cellall-11">
          <div class="title">PTN峰值带宽利用率 </div>
          <div class="value">64%</div>
        </div>
      </div>
      <div class="row" style="width: 99%">
        <div class="cellPanel3 cellall-12">
          <div class="iconTitle">
            <img src="oss_core/pm/quality/images/1.png"  width="32" height="32">
            <div class="title">客户数</div>
          </div>
          <div class="value">
            57254
          </div>
        </div>

        <div class="cellPanel3 cellall-13">
          <div class="iconTitle">
            <img src="oss_core/pm/quality/images/2.png"  width="32" height="32">
            <div class="title">业务数</div>
          </div>
          <div class="value">
            167151
          </div>
        </div>



        <div class="cellPanel3 cellall-14">
          <div class="iconTitle">
            <img src="oss_core/pm/quality/images/3.png"  width="32" height="32">
            <div class="title">业务类型</div>
          </div>
          <div class="value">
            3
          </div>
        </div>




      </div>

      <div class="row" style="width: 99%">
         <div class="col-md-5" style="padding:0px">
           <div class="qualityTitle" style="margin-top:5px;margin-bottom:5px">
              地市质量分布
           </div>
           <div class="cellPanel4">

           </div>
         </div>
         <div class="col-md-7" >
           <div class="qualityTitle" style="margin-top:5px;margin-bottom:5px">
            IDC性能清单</div>
           <div class="cellPanel4" style="padding:5px">
             <div class="qualityCusGrid">
               <div id="gridIdIDC"></div>
             </div>
           </div>
         </div>


      </div>

      <div class="row" style="width: 99%">
        <div class="qualityTitle" style="margin-top:5px;margin-bottom:5px">
           内容网络质量
        </div>
        <div class="cellPanel4">
          <div class="leftPanel listPanelChart" style="padding-top:15px"></div>
          <div class="rigthPanel listPanelContext ">

          </div>
        </div>
      </div>


      <div class="row" style="width: 99%">
        <div class="qualityTitle" style="margin-top:5px;margin-bottom:5px">
           内容网络质量清单</div>
        <div class="cellPanel4" style="padding:5px">
          <div class="qualityCusGrid">
            <div id="gridIdCND"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
