<div class="col-md-10 col-md-offset-1" style="margin-top:50px">
    <div class="col-md-7">
        <div class="pm-portal">
            <h3>{{NPM}}</h3>
            <p>{{FOTO}}</p>
            <dl>
                <dt><div class="borrus"></div>{{PDCVASN}}</dt>
                <dd>{{ISTCRPDFVEMS}}</dd>
            </dl>
            <dl>
                <dt><div class="borrus"></div>{{CIA}}</dt>
                <dd>{{CIAR}}</dd>
            </dl>
            <dl>
                <dt><div class="borrus"></div>{{FlEXKPI}}</dt>
                <dd>{{FlEXKPIR}}</dd>
            </dl>
            <dl>
                <dt><div class="borrus"></div>{{REPORT}}</dt>
                <dd>{{REPORTR}}</dd>
            </dl>
        </div>
    </div>
    <div class="col-md-5"><img src="oss_core/pm/wrokspace/assets/img/portal_bg.png"></div>
</div>
