<div class="container-fluid">
  <div class='row netDate'>
    <div class="col-md-12">

            <div type="button" class=" netChooseDate">
              <i class="glyphicon glyphicon-calendar"></i>
              <label class="timeShow"></label>
            </div>

    </div>

  </div>
  <div class="row fourTip">
    <div class="col-md-3 p1">

    </div>
    <div class="col-md-3 p2">

    </div>
    <div class="col-md-3 p3">

    </div>
    <div class="col-md-3 p4">
    </div>
  </div>
  <div class="row" style="margin-top:15px">
    <div class="col-md-9">
      <div class="netPanel2">
        <h4>BRAS/CR质量概览</h4>
        <div class="echatG">

        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="netPanel2">
        <h4>关键业务指标概览</h4>
        <div class="row AllProcess">
          <div class="col-md-12 t1"></div>
          <div class="col-md-12 t2"></div>
          <div class="col-md-12 t3"></div>
          <div class="col-md-12 t4"></div>
          <div class="col-md-12 t5"></div>
          <div class="col-md-12 t6"></div>
        </div>
      </div>
    </div>
  </div>

</div>
