<div class="netPanel">
   <i class="glyphicon glyphicon-info-sign netRight netInfo"></i>
   <h4>{{data.title}}</h4>
   <h2 class='netpopup'>{{data.num1}}</h2>
   <div class="infoblock">
     <div class="info1">
       周同比:
       <span class="netcBlack">{{data.num2}}</span>
       <i class="glyphicon glyphicon-triangle-top topInfo"></i>
     </div>
     <div class="info1">
       日同比:
       <span class="netcBlack">{{data.num3}}</span>
       <i class="glyphicon glyphicon-triangle-bottom bottomInfo"></i>
     </div>
     <div class="netclarboth"></div>
   </div>
   <div class="netLine"></div>
   <div class="infoblock2">
     <div class="info1">
       问题{{data.name}}数:
       <span class="netRed  netpopup" data-flag='Q'>{{data.num4}}</span>
     </div>
     <div class="info1">
       {{data.name}}数:
       <span class="netcBlack">{{data.num5}}</span>
     </div>
   </div>
</div>
