<div class="js-task-ext-detail-div">
<form class="form-horizontal clearfix js-task-ext-detail-form"  step_no='1' step_name='CFG_EXT'>	
    <div class="col-md-6">
        <div class="form-group required">
            <div class="col-md-12">
                <label class="control-label">{{EXT_MODE}}</label>
            </div>
            <div class="col-md-12">
               <input name="EXT_MODE" class="form-control" data-rule="{{EXT_MODE}}:required;" placeholder="{{COMMON_PLS_SEL}}">
            </div>
        </div>
    </div> 
    <div class="col-md-6 js-task-ext-data-source">
        
    </div>
    <div class="col-md-12">
        <div class="form-group required">
        	<div class="col-md-12">
                <label class="control-label js-task-ext-label">{{SERVICE_SERV}}</label>
            </div>
            <div class="col-md-12 js-task-ext-mode-div">
                
                
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <div class="col-md-12">
            	<div class="input-group" >
                	<a href="#" class="ad-link pull-right js-task-ext-mode-add" style="margin-top:1px"><i class="fa fa-plus" ></i> {{COMMON_ADD}}</a>
                </div>
            </div>
        </div>
    </div> 	   
</form>
</div> 