<div class="ui-dialog dialog-lg">
    <div class="modal-header">
        <h4 class="modal-title">{{PORTAL_DIR_MENU_SELECTOR}}</h4>
    </div>
    <div class="modal-body">
       <!--  <div class="searchbar-grid">
            <div class="search-bar">
                <h4 class="title-forgrid pull-left ">
                    <span class="glyphicon glyphicon-folder-open"></span>
                    <span class="js-parent-name"></span>
                </h4>
                <div class="input-group search-group pull-right" data-toggle="searchbar">
                </div>
            </div> -->
            <div class="grid js-grid-sel grid-height-md"></div>
        <!-- </div> -->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-min-width js-ok" autofocus>
            {{COMMON_OK}}
        </button>
        <button type="button" class="btn btn-default btn-min-width js-cancel" data-dismiss>
            {{COMMON_CANCEL}}
        </button>
    </div>
</div>