<div class="btn-group ad-tags">
    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" type="button">
        {{tagName}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-left">
        <li><a href="#" >Set the field</a></li>
        <li class="dropdown-submenu">
            <a href="#">Sorting</a>
            <ul class="dropdown-menu">
                <li><a href="#">Default</a></li>
                <li><a href="#">Ascending</a></li>
                <li><a href="#">Descending</a></li>
                <li><a href="#">Custom Order</a></li>
            </ul>
        </li>
    </ul>
</div>