<div class="modal-header">
	<h4 class="modal-title">{{DIMENSION_FIELD_SETTINGS}}</h4>
</div>
<div class="modal-body">
	<div class="ad-modal-box">
		<div class="ad-tolbad">
			<form>
				<div class="form-group">
					<label>{{SET_THE_CURRENT_FIELD_ALIAS}}</label>
					<input type="text" id="adhoc-dimsetup-alias" placeholder="" class="input-sm form-control">
				</div>
				<div class="form-group">
					<label>{{DIM_SETUP_CALCULATEFORMAT}}</label>
					<textarea name="ERROR_DESC" id="ad-dimsetup-format" rows="2" style="height:60px;" class="form-control n-valid"></textarea>
				</div>
				<div class="form-group">
					<label>{{FIELD_DESCRIBE}}</label>
					<textarea id="adhoc-dimsetup-desc" name="ERROR_DESC" rows="2" style="height:60px;" class="form-control n-valid"></textarea>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal-footer">
	<div class="col-md-12 text-right">
		<button type="button" class="btn btn_primary btn_minwidth" id="btn-slm-slimgr-ok" autofocus>
			{{ADHOC_OK}}
		</button>
		<button type="button" class="btn btn_cancel btn_minwidth" id="btn-slm-slimgr-cancel">
			{{ADHOC_CANCEL}}
		</button>
	</div>
</div>