<div class="modal-header">
	<h4 class="modal-title">{{FIELD_CHOOSE}}</h4>
</div>
<div class="modal-body" class="ad-axiscfg-modal-body">
	<div class="ad-modal-box" style="height: 120px">
		<div class="ad-tolbad">
			<div class="ad-block" style="height:100px">
				<!-- -->
				<div class="form-group col-md-12">
					<label class="col-md-3 control-label pull-left">{{DIMENSION}}：</label>
					<div class="col-md-9">
						<select id="ad-mapfieldcfg-dim-select" class="form-control col-md-12" style="width: 231px"
								data-placeholder="{{PLEASE_SELECT}}">
						</select>
					</div>
				</div>
				<div class="form-group col-md-12">
					<label class="col-md-3 control-label pull-left">{{KPI}}：</label>
					<div class="col-md-9">
						<select id="ad-mapfieldcfg-kpi-select" class="form-control col-md-12" style="width: 231px"
								data-placeholder="{{PLEASE_SELECT}}">
						</select>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<div class="col-md-12 text-right">
		<button type="button" class="btn btn_primary btn_minwidth" id="btn-mapfieldcfg-ok" autofocus>
			{{ADHOC_OK}}
		</button>
		<button type="button" class="btn btn_cancel btn_minwidth" id="btn-mapfieldcfg-cancel">
			{{ADHOC_CANCEL}}
		</button>
	</div>
</div>