<div class="modal-header">
	<h4 class="modal-title">{{MAP_TYPE}}</h4>
</div>
<div class="modal-body" style="overflow: hidden">
	<div class="ad-modal-box" style="height: 150px">
		<div class="ad-tolbad">
			<div id="ad-maptype-grid" class="ad-grid" style="height: 250px"/>
		</div>
		<button style="margin-top:3px;margin-right:1px;" type="button"
				class="btn btn-default btn_minwidth pull-right">
			{{CUSTOMIZED_MAP}}
		</button>
	</div>
</div>
<div class="modal-footer">
	<div class="col-md-12 text-right">
		<button type="button" class="btn btn_primary btn_minwidth" id="ad-maptypecfg-ok" autofocus>
			{{ADHOC_OK}}
		</button>
		<button type="button" class="btn btn_cancel btn_minwidth" id="ad-maptypecfg-cancel">
			{{ADHOC_CANCEL}}
		</button>
	</div>
</div>