<div class="modal-header">
	<h4 class="modal-title">{{AXIS_SETTINGS}}</h4>
</div>
<div class="modal-body" style="overflow: hidden">
	<div class="ad-modal-box">
		<div class="ad-tolbad">
			<div class="" style="height: 450px">
				<div class="chartlist" id="ad-pielikeaxis-container">


				</div>
				<div class="pull-left" style="padding-left:10px">
					<a type="button" class="btn btn-ico btn-link" id="ad-axisgroup-plus">
						<i class="fa fa-plus"></i> {{ADD}}
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<div class="col-md-12 text-right">
		<button type="button" class="btn btn_primary btn_minwidth" id="btn-slm-slimgr-ok" autofocus>
			{{ADHOC_OK}}
		</button>
		<button type="button" class="btn btn_cancel btn_minwidth" id="btn-slm-slimgr-cancel">
			{{ADHOC_CANCEL}}
		</button>
	</div>
</div>