<div class="HostMarcoContext container-fluid">
  <div class="row">

    <div class="col-md-4">
      <div class="row">
        <div class="form-group host-from-group">
          <label for="Macro">{{MACRO}}</label>
          <input type="text" class="filterInput newMacro" name="Macro" placeholder="{$Macro}"></input>
        </div>
      </div>
    </div>
      <div class="col-md-4">
        <div class="form-group host-from-group">
          <label for="MValue">{{VALUE}}</label>
          <input type="text" class="filterInput newMValue" name="MValue" placeholder="Value"></input>
        </div>
      </div>

      <div class="col-md-2 host-from-group">
           <div class="kdoBtn macorHostAdd">{{ADD}}</div>
      </div>


   </div>
   <div class="HostMarcoGrid kdoGrid"></div>
   <div class="RightDiv" style="margin-top:20px">
     <div class="btn KdoBtn2  HostMarcoCancel">{{CANCEL}}</div>
     <div class="btn KdoBtn2 Kdo_mainColor HostMarcoOK ">{{OK}}</div>
   </div>
</div>
