<div class="kdo_container">
  <div class="kdo_cotent fullfluid">
    <div class="g-graphs-page">
      <div class="kdo-right-page-cotent">
        <div class="panel g_panel_shadow">
          <div class="panel-heading">
            <i class="glyphicon glyphicon-menu-left graphscallback kdo-callback"  ></i>
            <span class="panel-title">
              图形列表
            </span>
            <div class="g-pull-right">
              <div class="input-group search-group " style="margin-top:-4px">
                <i class="fa fa-search" style="position: absolute;top: 7px;left: 10px;z-index:11"></i>
                <input type="text" class="g-theme-search form-control" placeholder="请输入指标名称..." style="
        padding-left: 30px;
                ">
                <span class="input-group-btn">
                                <span class="g-btn g-theme-Abtn g_name_search" title="搜索">搜索</span>
                </span>
                <span class="input-group-btn">
                                <span class="g-btn g-theme-Abtn g_name_reset" title="重置">重置</span>
                </span>

                <span class="input-group-btn">
                                            <span class="g-btn  createGraphs g-theme-Abtn g-btn-blue" title="重置" style="margin-left:10px">
                                              <i class="fa fa-plus js-adapter-add"></i>
                                              新建
                                            </span>
                </span>
              </div>
            </div>
          </div>
          <div class="graphsListGrid kdoGrid">
          </div>
        </div>

        <!-- <div  class="graphsListBtn col-md-12">
             <button type="button"   class="btn delGraphs btn-default kdoPageBtn" data-bis="delGraphs">删除</button>
          </div> -->
      </div>

    </div>
  </div>
</div>
