<div class="kdo-right-page">
  <div class="kdo-right-page-header">
    <div class="title"><i class="glyphicon glyphicon-menu-left callback kdo-callback"></i>预览图表</div>

  </div>

  <div class="kdo-right-page-cotent">
    <div class="row">
      <div class="col-md-12">

        <div class="netPanel2" style="margin-top:10px;height:470px">
          <div class="graphs-tools timeRangeTool">
            <i class="glyphicon glyphicon-time timeRange"></i>
            <span class="timeRangeTxt"></span>
          </div>
          <h4 class="graphs-title"></h4>
          <div class="graphsShow" style="height:400px">

          </div>

        </div>

      </div>
    </div>

  </div>

</div>
