<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="row">
        <div>自定义</div>
      </div>
      <div class="row">
        <div class="form-group">
             <div>开始时间</div>
             <div class="input-group">
               <input class="form-control s_datetime" type="text">
             </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
             <div>结束时间</div>
             <div class="input-group">
               <input class="form-control e_datetime" type="text">
             </div>
        </div>
      </div>
      <div class="row">
        <div>
          <div class="btn KdoBtn2  graphsOK inmsblueBtn gTimeOK">确定</div>
          <div class="btn KdoBtn2 graphsCancel inmsBtnh_hover gTimeCancel">取消</div>
        </div>
      </div>

    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="title" style="padding-left: 40px;">快捷范围</div>
      </div>
      <div class="row timeRangeBody">
      </div>
    </div>
  </div>
</div>
