
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot'); /* IE9*/
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff') format('woff'),
  url('../fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  line-height: 1;
}


.icon-portlets-mgr:before { content: "\e600"; }

.icon-menufold:before { content: "\ee89"; }

.icon-system-mgr:before { content: "\e6a6"; }

.icon-component-mgr:before { content: "\e63b"; }

.icon-menuunfold:before { content: "\e637"; }

.icon-plus-circle:before { content: "\e674"; }

.icon-minus-circle:before { content: "\e633"; }

.icon-archives:before { content: "\f001"; }

.icon-scope-authority:before { content: "\f002"; }

.icon-authorize:before { content: "\f003"; }

.icon-business:before { content: "\f004"; }

.icon-bell:before { content: "\f005"; }

.icon-user-mgr:before { content: "\f006"; }

.icon-org-staff:before { content: "\f007"; }

.icon-role-mgr:before { content: "\f008"; }

.icon-job-mgr:before { content: "\f009"; }

.icon-directory-mgr:before { content: "\f010"; }

.icon-portal-mgr:before { content: "\f011"; }

.icon-log-mgr:before { content: "\f012"; }

.icon-home:before { content: "\f013"; }

.icon-chart:before { content: "\f014"; }

.icon-star:before { content: "\f015"; }

.icon-bulletin:before { content: "\f016"; }

.icon-operate-log:before { content: "\f017"; }

.icon-history:before { content: "\f018"; }

.icon-setting:before { content: "\f019"; }

.icon-list:before { content: "\f020"; }

.icon-maximize:before { content: "\f021"; }

.icon-restore:before { content: "\f022"; }

.icon-resize:before { content: "\f023"; }

.icon-file:before { content: "\f024"; }

.icon-page:before { content: "\f025"; }

.icon-no-read:before { content: "\f026"; }

.icon-read:before { content: "\f027"; }

.icon-ellipsis:before { content: "\f028"; }

.icon-menu-list:before { content: "\f029"; }

.icon-search:before { content: "\f030"; }

.icon-user:before { content: "\f031"; }

.icon-customer:before { content: "\f032"; }

.icon-lock:before { content: "\f033"; }

.icon-unlock:before { content: "\f034"; }

.icon-logout:before { content: "\f035"; }

.icon-refresh:before { content: "\f036"; }

.icon-type:before { content: "\f037"; }

.icon-help:before { content: "\f038"; }

.icon-platform:before { content: "\f039"; }

.icon-angle-right:before { content: "\f040"; }

.icon-angle-left:before { content: "\f041"; }

.icon-angle-down:before { content: "\f042"; }

.icon-angle-up:before { content: "\f043"; }

.icon-double-angle-right:before { content: "\f044"; }

.icon-double-angle-left:before { content: "\f045"; }

.icon-double-angle-down:before { content: "\f046"; }

.icon-double-angle-up:before { content: "\f047"; }

.icon-arrow-down:before { content: "\f048"; }

.icon-arrow-up:before { content: "\f049"; }

.icon-upload:before { content: "\f050"; }

.icon-download:before { content: "\f051"; }

.icon-file-export:before { content: "\f052"; }

.icon-file-import:before { content: "\f053"; }

.icon-add:before { content: "\f054"; }

.icon-minus:before { content: "\f055"; }

.icon-pencil:before { content: "\f056"; }

.icon-ok:before { content: "\f057"; }

.icon-good:before { content: "\f058"; }

.icon-delete:before { content: "\f059"; }

.icon-remove-circle:before { content: "\f060"; }

.icon-trash:before { content: "\f061"; }

.icon-save:before { content: "\f062"; }

.icon-ban-circle:before { content: "\f063"; }

.icon-ban:before { content: "\f064"; }

.icon-circle-o:before { content: "\f065"; }

.icon-circle:before { content: "\f066"; }

.icon-key:before { content: "\f067"; }

.icon-lightbulb:before { content: "\f068"; }

.icon-lightbulb-open:before { content: "\f069"; }

.icon-asterisk:before { content: "\f070"; }

.icon-shield:before { content: "\f071"; }

.icon-examine-verify:before { content: "\f072"; }

.icon-shop:before { content: "\f073"; }

.icon-skin:before { content: "\f074"; }

.icon-skin-solid:before { content: "\f075"; }

.icon-detail:before { content: "\f076"; }

.icon-element-authority:before { content: "\f077"; }