<div class="ad-tab-btn">
    <ul class=" nav nav-tabs ">
        <li class="active"><a data-toggle="tab" href="#demo-tabs-box-1" aria-expanded="true">一次性</a></li>
        <li class=""><a data-toggle="tab" href="#demo-tabs-box-2" aria-expanded="false">每分钟</a></li>
        <li class=""><a data-toggle="tab" href="#demo-tabs-box-3" aria-expanded="false">每小时</a></li>
        <li class=""><a data-toggle="tab" href="#demo-tabs-box-4" aria-expanded="false">每天</a></li>
        <li><a data-toggle="tab" href="#demo-tabs-box-5" aria-expanded="false">每周</a></li>
    </ul>
    <div class=" m-t-sm tab-content">
        <div id="demo-tabs-box-1" class="tab-pane fade active in">
            
            <div class="ad-pcent ">
                <div class="m-b-sm"><b>生效范围</b></div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                        <label class="control-label">开始时间</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                        <label class="control-label">结束时间</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="ad-pcent ">
                <div class="m-b-sm"><b>运行设置</b></div>
                <div class="row">
                <div class="col-md-12">
                    <div class="form-group ">
                    <label class="control-label ">触发时间</label>
                        <BR>
                        <input type="text" class="form-control dis-in-block" style="width:40px"> :
                        <input type="text" class="form-control dis-in-block" style="width:40px">
                        <span class="m-l-sm text-muted">(例如：23:59)</span>
                        <div class=" m-t-xs">
                        <label class="checkbox-inline"><input type="checkbox">周一</label>
                        <label class="checkbox-inline"><input type="checkbox">周二</label>
                        <label class="checkbox-inline"><input type="checkbox">周三</label>
                        <label class="checkbox-inline"><input type="checkbox">周四</label>
                        <label class="checkbox-inline"><input type="checkbox">周五</label>
                        <label class="checkbox-inline"><input type="checkbox">周六</label>
                        <label class="checkbox-inline"><input type="checkbox">周日</label>
                        </div>

                    </div>
                </div>
                </div>
            </div>
        </div>
        <div id="demo-tabs-box-2" class="tab-pane fade">22</div>
        <div id="demo-tabs-box-3" class="tab-pane fade">33</div>
        <div id="demo-tabs-box-4" class="tab-pane fade">44</div>
        <div id="demo-tabs-box-5" class="tab-pane fade">55</div>
    </div>
</div>