.nhc-bg-danger{
    background: #d2100e;
}
.nhc-bg-warning{
    background: #ff4e00;
}
.nhc-bg-success{
    background: #3e9de1;
}
.nhc-bg-normal{
    background: #ffffff;
}
.white-background{
    background: #fff;
}