<div class="AddMainDialogContext container-fluid">
   <div class="row">
     <div class="col-md-6">
       <div class="form-group kdo2-from-group">
           <label for="mainName">{{NAME}}<span class="host_red">*</span></label>
           <input type="text" name="mainName" class="form-control mainName">
        </div>
     </div>
     <div class="col-md-6">
       <div class="form-group kdo2-from-group">
           <label for="mainType">{{TYPE}}</label>
           <div class="radio mainRadio">
             <label>
               <input type="radio" name="mainType" value="0">
               <span>{{WITH_DATA_COLLECTION}}</span>
              </label>
             <label>
              <input type="radio" name="mainType" value="1">
              <span>{{WITHOUT_DATA_COLLECTION}}</span>
              </label>
           </div>
        </div>
     </div>
   </div>
   <div class="row">
     <div class="col-md-6">
       <div class="form-group kdo2-from-group">
           <label for="startTime">{{ACTIVE_SINCE}}</label>
             <div class="input-group" >
              <input type="text" name="startTime" class="form-control startTime" data-rule="开始日期: required; date;">
            </div>
        </div>
     </div>
     <div class="col-md-6">
       <div class="form-group kdo2-from-group">
           <label for="endTime">{{ACTIVE_TILL}}</label>
           <div class="input-group">
            <input type="text" name="endTime"  data-rule="结束日期: match[gte, startTime, date]"  class="form-control endTime">
          </div>
        </div>
     </div>
   </div>
   <div class="row">
     <div class="col-md-12">
       <div class="form-group kdo2-from-group">
           <label for="mainDesc">{{DESCRIPTION}}</label>
          <textarea  class="mainDesc" name="mainDesc" rows="4"  style="width:100%"></textarea>
        </div>
     </div>

   </div>
</div>
