<div class="AddMainDialogContext container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group kdo2-from-group">
        <label for="filterName">分类</label>
        <input type="text" class="teplate_catalogtree filterInput" name="FilterName">
      </div>
    </div>
    <div class="col-md-6 ">
      <div class="form-group kdo2-from-group">
        <label for="filterIP">组</label>
        <input type="text" class="filterGroup filterInput" name="filterIP">
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group kdo2-from-group">
        <label for="filterIP">监控点</label>
        <div class="TemplatesDSelect">
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group kdo2-from-group">
        <label for="filterIP">监控组</label>
        <div class="AllGroupDSelect">
        </div>
      </div>
    </div>
  </div>
</div>
