<div class="kdo-dialog ui-dialog dialog-md">
  <div class="modal-header">
    <h4 class="modal-title">创建周期</h4>
  </div>
  <div class="modal-body filterHostBody">
    <div class="row">
      <div class="col-md-1-12">
        <div class="form-group kdo-from-group">
            <label for="periodsType">周期类型<span class="host_red">*</span></label>
            <input type="text" name="mainName" class="form-control periodsType">
         </div>
      </div>
    </div>
    <div class="row ">
      <div class="col-md-1-12 type0 mainTypPage" style="display:none">
        One time only
      </div>
      <div class="col-md-1-12 type2 mainTypPage" style="display:none">
        Daily
      </div>
      <div class="col-md-1-12 type3 mainTypPage" style="display:none">
        Weekly
      </div>
      <div class="col-md-1-12 type4 mainTypPage" style="display:none">
        Monthly
      </div>
    </div>
    <div class="row">
      <div class="RightDiv">
        <div class="btn KdoBtn2 mainPageCancel">取消</div>
        <div class="btn stepNext KdoBtn2 Kdo_mainColor ">确定</div>
      </div>
    </div>


  </div>
