<div class="kdo-dialog ui-dialog dialog-md">
  <div class="modal-header">
    <h4 class="modal-title">{{CREATE_PERIOD}}</h4>
  </div>
  <div class="modal-body filterHostBody">
    <div class="row">
      <div class="col-md-1-12">
        <div class="form-group kdo-from-group">
          <label for="periodsType">{{PERIOD_TYPE}}<span class="host_red">*</span></label>
          <input type="text" name="mainName" class="form-control periodsType">
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="col-md-1-12 type0 mainTypPage" style="display:none">
        <div class="form-group kdo-from-group">
          <label for="onetimeonlyDate">{{DATE}}</label>
          <div class="input-group">
            <input type="text" name="onetimeonlyDate" class="form-control onetimeonlyDate">
          </div>
        </div>
      </div>
      <div class="col-md-1-12 type2 mainTypPage" style="display:none">
        <div class="form-group kdo-from-group">
          <label for="DaliyEvery">{{EVERY_DAY}}</label>
          <input type="text" name="DaliyEvery" class="form-control daliyEvery" value="1">
        </div>
        <div class="form-group kdo-from-group">
          <label for="onetimeonlyDate">{{AT_HOUR_MINUTE}}</label>
          <div class="form-inline">
            <div class="form-group">
              <input type="text" class="form-control DailyH">
            </div>
            <span>:</span>
            <div class="form-group">
              <input type="text" class="form-control DailyM">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1-12 type3 mainTypPage" style="display:none">
        <div class="form-group kdo-from-group">
          <label for="weeklyEvery">{{EVERY_WEEK}}</label>
          <input type="text" name="weeklyEvery" class="form-control weeklyEvery" value="1">
        </div>
        <div class="form-group kdo-from-group">
          <label for="onetimeonlyDate">{{DAY_OF_WEEK}}</label>
          <!--星期-->
          <div class="row">
            <div class="form-group col-md-3">
              <div class="checkbox">
                <label>
                     <input type="checkbox" class="week1"> {{MONDAY}}
                   </label>
              </div>
            </div>
            <div class="form-group col-md-3">
              <div class="checkbox">
                <label>
                     <input type="checkbox" class="week2"> {{TUESDAY}}
                   </label>
              </div>
            </div>
            <div class="form-group col-md-3" >
              <div class="checkbox">
                <label>
                     <input type="checkbox" class="week3"> {{WEDNESDAY}}
                   </label>
              </div>
            </div>
            <div class="form-group col-md-3">
              <div class="checkbox">
                <label>
                     <input type="checkbox" class="week4"> {{THURSDAY}}
                   </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-3">
              <div class="checkbox">
                <label>
                     <input type="checkbox" class="week5"> {{FRIDAY}}
                   </label>
              </div>
            </div>
            <div class="form-group col-md-3">
              <div class="checkbox">
                <label>
                     <input type="checkbox" class="week6"> {{SATURDAY}}
                   </label>
              </div>
            </div>
            <div class="form-group col-md-3">
              <div class="checkbox">
                <label>
                     <input type="checkbox" class="week7"> {{SUNDAY}}
                   </label>
              </div>
            </div>
          </div>


        </div>
        <div class="form-group kdo-from-group">
          <label for="onetimeonlyDate">{{AT_HOUR_MINUTE}}</label>
          <div class="form-inline">
            <div class="form-group">
              <input type="text" class="form-control weeklyH">
            </div>
            <span>:</span>
            <div class="form-group">
              <input type="text" class="form-control weeklyM">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1-12 type4 mainTypPage" style="display:none">
        <div class="form-group kdo-from-group">
          <label for="onetimeonlyDate">{{MONTH}}</label>
          <div class="row">
            <div class="form-group col-md-3">
              <div class="checkbox">
                <label>
                     <input type="checkbox" class="month1"> {{JANUARY}}
                   </label>
              </div>
            </div>
            <div class="form-group col-md-3">
              <div class="checkbox">
                <label>
                     <input type="checkbox" class="month2">{{FEBRUARY}}
                   </label>
              </div>
            </div>
            <div class="form-group col-md-3">
              <div class="checkbox">
                <label>
                     <input type="checkbox" class="month3"> {{MARCH}}
                   </label>
              </div>
            </div>
            <div class="form-group col-md-3">
              <div class="checkbox">
                <label>
                     <input type="checkbox" class="month4"> {{APRIL}}
                   </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-3">
              <div class="checkbox">
                <label>
                     <input type="checkbox" class="month5">{{MAY}}
                   </label>
              </div>
            </div>
            <div class="form-group col-md-3">
              <div class="checkbox">
                <label>
                     <input type="checkbox" class="month6">{{JUNE}}
                   </label>
              </div>
            </div>
            <div class="form-group col-md-3">
              <div class="checkbox">
                <label>
                     <input type="checkbox" class="month7">{{JULY}}
                   </label>
              </div>
            </div>
            <div class="form-group col-md-3">
              <div class="checkbox">
                <label>
                     <input type="checkbox" class="month8"> {{AUGUST}}
                   </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-3">
              <div class="checkbox">
                <label>
                     <input type="checkbox" class="month9"> {{SEPTEMBER}}
                   </label>
              </div>
            </div>
            <div class="form-group col-md-3">
              <div class="checkbox">
                <label>
                     <input type="checkbox" class="month10"> {{OCTOBER}}
                   </label>
              </div>
            </div>
            <div class="form-group col-md-3">
              <div class="checkbox">
                <label>
                     <input type="checkbox" class="month11">{{NOVEMBER}}
                   </label>
              </div>
            </div>
            <div class="form-group col-md-3">
              <div class="checkbox">
                <label>
                     <input type="checkbox" class="month12">{{DECEMBER}}
                   </label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group kdo-from-group">
          <label for="onetimeonlyDate">{{DATE}}</label>
          <div class="btn-group" role="group" style="margin-left:20px">
            <button type="button" class="btn btn-default monthly_dayType monthly_dayType0" data-value="0">{{DAY}}</button>
            <button type="button" class="btn btn-default monthly_dayType
            monthly_dayType1" data-value="1">{{DAY_OF_WEEK}}</button>
          </div>
        </div>
        <div class="row MonthlyDateType MonthlyDateType0">
          <div class="col-md-12">
            <div class="form-group kdo-from-group">
              <label for="monthly-day-month">{{DAY_OF_MONTH}}</label>
              <div class="input-group">
                <input type="text" name="monthly-day-month"
                      class="form-control monthly-day-month">
              </div>
            </div>
            <div class="form-group kdo-from-group">
              <label for="onetimeonlyDate">{{AT_HOUR_MINUTE}}</label>
              <div class="form-inline">
                <div class="form-group">
                  <input type="text" class="form-control monthlyH">
                </div>
                <span>:</span>
                <div class="form-group">
                  <input type="text" class="form-control monthlyM">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row MonthlyDateType MonthlyDateType1">
          <div class="col-md-12">
            <div class="form-group kdo-from-group">

              <div class="form-inline">
                <div class="form-group">
                   <label for="onetimeonlyDate">{{DAY_OF_WEEK}}</label>
                   <input type="text" class="form-control dayofweekEvery" name="dayofweekEvery" style="margin-left:5px" >
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-3">
                  <div class="checkbox">
                    <label>
                         <input type="checkbox" class="mweek1"> {{MONDAY}}
                       </label>
                  </div>
                </div>
                <div class="form-group col-md-3">
                  <div class="checkbox">
                    <label>
                         <input type="checkbox" class="mweek2"> {{TUESDAY}}
                       </label>
                  </div>
                </div>
                <div class="form-group col-md-3">
                  <div class="checkbox">
                    <label>
                         <input type="checkbox" class="mweek3"> {{WEDNESDAY}}
                       </label>
                  </div>
                </div>
                <div class="form-group col-md-3">
                  <div class="checkbox">
                    <label>
                         <input type="checkbox" class="mweek4"> {{THURSDAY}}
                       </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-3">
                  <div class="checkbox">
                    <label>
                         <input type="checkbox" class="mweek5">{{FRIDAY}}
                       </label>
                  </div>
                </div>
                <div class="form-group col-md-3">
                  <div class="checkbox">
                    <label>
                         <input type="checkbox" class="mweek6"> {{SATURDAY}}
                       </label>
                  </div>
                </div>
                <div class="form-group col-md-3">
                  <div class="checkbox">
                    <label>
                         <input type="checkbox" class="mweek7"> {{SUNDAY}}
                       </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1-12">
        <div class="form-group kdo-from-group">
          <label for="periodsType">{{MAINTENANCE_PERIOD_LENGTH}}<span class="host_red">*</span></label>
          <div class="form-inline">
            <div class="form-group">
              <input type="text" class="form-control periodDay" maxlength="3" value="0">
            </div>
            <span>{{DAYS}}</span>
            <div class="form-group">
              <input type="text" class="form-control mpl_Hours">
            </div>
            <span>{{HOURS}}</span>
            <div class="form-group">
              <input type="text" class="form-control mpl_Minutes">
            </div>
            <span>{{MINUTES}}</span>

          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="RightDiv">
        <div class="btn KdoBtn2 mainPageCancel">{{CANCEL}}</div>
        <div class="btn stepNext KdoBtn2 Kdo_mainColor mainPageOk ">{{OK}}</div>
      </div>
    </div>
  </div>
