<div class="row">
    <div class="col-md-2" style="height:100px">
        <div class="text-center m-t-md">
        	<img src="oss_core/inms/pm/config/task/css/img/task-detail.png" style="width: 80px;">
        </div>
    </div>
    <div class="col-md-10">
    	<div class="js-compute-detail-div">
	        <div class="wrapper"><b>{{TASK_DETAIL}}</b><!-- <a href="#" class="ad-link pull-right" id="btn1" style="margin-top:1px"><i class="fa fa-plus"></i> 新增</a> --></div>
	    	<div class="" style="padding-left: 20px;">
	    		<ul class="ad-timeline ">
	                <li class="tl-header">
	                    <div class="btn btn-info"><i class="fa fa-arrow-circle-down"></i></div>
	                </li>
	                <div class="js-compute-step-div">

	                </div>
	                <li class="tl-item js-compute-add-li">
	                    <div class="tl-wrap br-light">
	                        <div class="btn btn-primary tl-plus js-compute-add-step" style="border-radius:50%" id="testttt"><i class="fa fa-plus"></i> </div>
	                        <div class="tl-content">
	                            <a href="#" class="ad-link js-compute-add-step">{{DATA_MAP_RULE_ADD}}</a>
	                        </div>
	                    </div>
	                </li>
	            </ul>
	        </div>
  		</div>
    </div>
</div>
