<li class="tl-item js-compute-step-li-item">
    <form class="clearfix" step_no='1' step_name='CFG_CHECK'>	
	    <div class="tl-wrap br-light">
	        <div class="btn btn-default tl-plus js-compute-step-seq" style="border-radius:50%">1</div>
	        <div class="tl-content" style="width:98%">
	            <div class="m-b-sm">{{DATA_CHECK_RULE}}<a href="#" class="ad-link pull-right js-compute-check-add" style="margin-top:1px"><i class="fa fa-plus" ></i> {{COMMON_ADD}}</a></div>
	            
	            <div class="br-light">
	                <div class="border wrapper overflow-y-h">
	                	<div class="form-group required js-compute-check-rule-div">
                            <div class="col-md-12">
                            	<label class="control-label">{{DATA_CHECK_RULE_SERV}}</label>
                            </div>
                            <!--
                            <div class="col-md-12 m-t-xs js-compute-check-rule">
	                            <div class="input-group js-compute-check-rule-group">
		                            <input group="CHECK_SERV" class="form-control" data-rule="{{DATA_CHECK_RULE}}:required;length[1~2048, true]" placeholder="{{FOR_EXAMPLE}}:com.ztesoft.zsmart.oss.core.pm.CheckRule">
		                            <span class="input-group-addon js-compute-check-cog"><i class="fa fa-cog"></i></span>
		                            <span class="input-group-addon js-compute-check-del"><i class="fa fa-close"></i></span>
	                            </div>
                            </div>
                            -->
                        </div>
                    </div>
	            </div>
	        </div>
	    </div>
	</form>
</li>