<li class="tl-item js-compute-step-li-item">
	<form class="clearfix" step_no='3' step_name='CFG_MERG'>
		<div class="tl-wrap br-light">
			<div class="btn btn-default tl-plus js-compute-step-seq" style="border-radius:50%">1</div>
			<div class="tl-content" style="width:98%">
				<div class="m-b-sm">{{DATA_MERGE_RULE}}
					<a href="#" class="ad-link pull-right js-compute-merge-mo-list-add" style="margin-top:1px"><i class="fa fa-plus"></i>
						{{COMMON_ADD}}</a>
					<a href="#" class="ad-link pull-right hide js-compute-merge-mo-list-cancel" style="margin-top:1px"><i class="glyphicon glyphicon-remove"></i>
						{{COMMON_CANCEL}}</a>
					<a href="#" class="ad-link pull-right hide js-compute-merge-mo-list-ok" style="margin-top:1px"><i class="glyphicon glyphicon-ok"></i>
						{{COMMON_OK}}</a>
				</div>

				<div class="br-light">
					<div class="b-t b-b">
						<div class="js-compute-merge-mo-list-seled-div">
							<div class="required js-compute-merge-div" style='overflow-x:auto;min-height: 84px;'>

							</div>
						</div>
						<div class="m-t-sm hide js-compute-merge-mo-list-seling-div">
							<div class="search-group" style="width:100%;">
								<i class="fa fa-search" style="position: absolute;top: 7px;left: 10px;z-index:11"></i>
								<input type="text" class="ad-theme-search form-control js-compute-merge-mo-list-seling-search" style="width:93%;">
								<input type="checkbox" class="js-compute-merge-mo-list-seling-all" style="position: absolute;top: 2px;right: 0px;z-index:11">
							</div>
							<div class="ad-group-hack">
								<div class="form-group js-compute-merge-mo-list-seling-item">

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</li>
<style>
	.search-group {
		position: relative;
		max-width: 464px;
	}

	.search-group>.ad-theme-search {
		padding-left: 30px;

	}

	.search-group .form-control {
		border-color: #cfdadd;
		height: 28px;
	}
</style>