<ul class="grid-bar" role="group">
	<li class="js-grant-role">{{COMMON_GRANT}}&nbsp;{{COMMON_ROLE}}</li>
	<li class="js-grant-portal">{{COMMON_GRANT}}&nbsp;{{COMMON_PORTAL}}</li>
	<li class="js-grant-menu">{{COMMON_GRANT}}&nbsp;{{COMMON_MENU}}</li>
 	<li class="js-grant-component">{{COMMON_GRANT}}&nbsp;{{COMMON_COMPONENT}}</li>
	<li class="js-grant-portlet">{{COMMON_GRANT}}&nbsp;{{COMMON_PORTLET}}</li>
	<li class="dropdown dropup js-grant-more">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<span class="iconfont icon-option-horizontal"></span>
		</a>
		<ul class="dropdown-menu grid-bar-popover js-more-menu" role="menu">
			<li class="js-grant-data">{{COMMON_GRANT}}&nbsp;{{COMMON_DATA}}</li>
			<li class="js-show-his">{{USERMGR_SHOW_HIST}}</li>
			<li class="js-export">{{USERMGR_EXPORT}}</li>
		</ul>
	</li>
</ul>
