<div class="row">
	<div class="col-md-8 col-sm-8">
		<form class="form-horizontal">
			<div class="form-group required">
				<label class="col-md-3 col-sm-3 control-label">{{USERMGR_DEFAULT_PORTAL}}</label>
				<div class="col-md-9 col-sm-9">
					<input name="portalId" class="form-control" placeholder="{{COMMON_PLS_SEL}}" data-rule="{{USERMGR_DEFAULT_PORTAL}}:required">
				</div>
			</div>
		</form>
	</div>
	<div class="col-md-4 col-sm-4">
			<button type="button" class="btn btn-primary btn-min-width js-ok">
				{{COMMON_OK}}
			</button>
			<button type="button" class="btn btn-default btn-min-width js-cancel" data-dismiss>
				{{COMMON_CANCEL}}
			</button>
	</div>
</div>
<!-- 	<div class="col-md-4 text-right"> -->
<!-- 		<button type="button" class="btn btn_minwidth btn-primary js-ok" autofocus>{{COMMON_OK}}</button> -->
<!-- 		<button type="button" class="btn btn_minwidth btn-default js-cancel">{{COMMON_CANCEL}}</button> -->
<!-- 	</div> -->
