<div class="kdo-dialog ui-dialog dialog-md">
  <div class="modal-header">
    <h4 class="modal-title">{{FILTER}}</h4>
  </div>
  <div class="modal-body filterHostBody">
    <div class="row">
      <div class="col-xs-12 mt15">
        <div class="form-group host-from-group">
          <label for="filterName">{{NAME}}</label>
          <input type="text" class="filterName filterInput" name="FilterName">
        </div>
      </div>
      <div class="col-xs-12  mt15">
        <div class="form-group host-from-group">
          <label for="filterIP">{{IP}}</label>
          <input type="text" class="filterIP filterInput" name="filterIP">
        </div>
      </div>
      <div class="col-xs-12 mt15">
        <div class="form-group host-from-group">
          <label for="filterDNS">{{DNS}}</label>
          <input type="text" class="filterDNS filterInput" name="filterDNS">
        </div>
      </div>
      <div class="col-xs-12 mt15">
        <div class="form-group host-from-group">
          <label for="filterPort">{{PORT}}</label>
          <input type="text" class="filterPort filterInput" name="filterPort">
        </div>
      </div>

    </div>
    <div class="row mt15px">
      <div class="RightDiv ">
        <div class="KdoBtn2 btn reset">{{RESET}}</div>
        <div class="KdoBtn2 btn OK Kdo_mainColor">{{APPLY}}</div>
      </div>
    </div>

  </div>
