<tr class="kdoHostItemTr">
  <td>
    <div class="kdo-drag-icon pt8"></div>
  </td>
  <td style="width:30%">
    <input type="text" class="interfaceItemInput interfaceIP" placeholder="IP Address">
    <input type="checkbox" name="" value="" class="snmpCheckbox cbox">
    <span class="snmpCheckbox">Use bulk requests</span>
  </td>
  <td style="width:20%">
    <input type="text" class="interfaceItemInput interfaceDNS" placeholder="DNS">
  </td>
  <td width="20%">
    <div class="ipOrDns active pt8 ipOrDnsIP">IP</div>
    <div class="ipOrDns pt8 ipOrDnsDNS">DNS</div>
</div>
</td>
<td>
<input  style="width:50px" type="text" class="interfaceItemInput interfacePort" placeholder="Ports">
</td>
<td style="width:20%"  >
<!-- <input type="radio" name="agentPageRadio" checked> -->
<div class="hostDefault pt8"><span><i class="glyphicon glyphicon-ok"></i></span>Default</div>
</td>

<td>
<span class="hostBtn hostRemove">remove</span>
<input type="hidden" class="inputTypeHide">
</td>
</tr>
