<div class="kdo-dialog ui-dialog dialog-md">
  <div class="modal-header">
    <h4 class="modal-title">模板选择</h4>
  </div>
  <div class="modal-body filterHostBody">
    <div class="row">
      <div class="col-xs-6 mt15">
        <div class="form-group host-from-group">
          <label for="filterName">分类</label>
          <input type="text" class="teplate_catalogtree filterInput" name="FilterName">
        </div>
      </div>
      <div class="col-xs-12  mt15">
        <div class="form-group host-from-group">
          <label for="filterIP">组</label>
          <input type="text" class="filterGroup filterInput" name="filterIP">
        </div>
      </div>
      <div class="col-xs-12">
        <div class="form-group host-from-group">
          <div class="TemplatesDSelect">
          </div>
        </div>
      </div>
    </div>
    <div class="row mt15px">
      <div class="RightDiv ">
        <div class="KdoBtn2 btn reset">取消</div>
        <div class="KdoBtn2 btn OK Kdo_mainColor">保存</div>
      </div>
    </div>

  </div>
