<div class="ui-dialog dialog-sm">
	<div class="modal-header">
		<h4 class="modal-title">{{MYFAV_FAV_MGR}}</h4>
	</div>
	<div class="modal-body">
		<form class="form-horizontal top-padding">
			<div class="form-group">
				<label class="col-md-3 col-sm-3 control-label">{{MYFAV_MENU_NAME}}</label>
				<div class="col-md-7 col-sm-6">
					<input name="menuName" class="form-control"/>
				</div>
				<div class="col-md-2 col-sm-3">
					<button type="button" class="btn btn-min-width btn-primary js-add pull-right">{{COMMON_ADD}}</button>
				</div>
			</div>
		</form>
		<div class="grid grid-height-md"></div>
	</div>
</div>
