<div class="modal-header">
	<h4 class="modal-title js-task-detail-title"></h4>
</div>

<div class="modal-body">
	<div class="ad-modal-box"  style="display: block;">
		<div class="ad-block tab-wizard" style="width:800px;background:#fff;">
		    
		    <ul class="nav nav-tabs nav-justified nav-pills">
		        <li class="active">
		            <a href="#" class="js-nav-tabs" tab-content="js-task-wizard-tab1" data-toggle="tab" aria-expanded="true">{{INPUT_BASE_INFO}}<span class="badge badge-default pull-right wizard-step">1</span></a>
		        </li>
		        <li>
		            <a href="#" class="js-nav-tabs" tab-content="js-task-wizard-tab2" data-toggle="tab">{{SCHEDULE_PLAN}}<span class="badge badge-default pull-right wizard-step">2</span></a>
		        </li>
		        <li>
		            <a href="#" class="js-nav-tabs" tab-content="js-task-wizard-tab3" data-toggle="tab">{{TASK_DETAIL}}<span class="badge badge-default pull-right wizard-step">3</span></a>
		        </li>
		    </ul>
		    <div class="tab-content panel-body border n-scroll-y n-scroll-x">
	            <!--First tab 1-->
	            <div id="js-task-wizard-tab1" class="fadeInUp animated tab-pane active" style="height:320px;">
	                
	            </div>
	            <!--First tab 2-->
	            <div id="js-task-wizard-tab2" class="fadeInUp animated tab-pane" style="height:320px;">
	                
	            </div>
	            <!--First tab 3-->
	            <div id="js-task-wizard-tab3" class="fadeInUp animated tab-pane" style="height:320px;">

	        	</div>
	        </div>
		</div>
	</div>
</div>

<div class="modal-footer">
	<div class="col-md-12">
    <button class="btn btn-default pull-left js-task-previous-btn" data-toggle="tab">{{PREVIOUS}}</button>
    <button class="btn btn-success js-task-next-btn"  data-toggle="tab">{{NEXT}}</button>
    </div>
</div>

