<div class="row">
    <div class="col-md-6 col-sm-6">
        <div class="js-layout-left">
            <div class="panel panel-default">
                <div class="panel-body js-profile-body" style="overflow-y:auto;">
                    <div class="personal-avatar">
                        <img src="static/modules/images/user.png">
                        <a href="#" class="js-btn-change-pwd">{{PERSON_PASSWORD}}</a>
                    </div>
                    <div class="personal-profile">
                        <form class="form-horizontal js-personal-form">
                            <!-- <div class="form-group required js-staff-name-input">
                                <label class="col-md-4 col-sm-4 control-label">
                                    {{PERSON_STAFF_NAME}}
                                </label>
                                <div class="col-md-8 col-sm-8">
                                    <input class="form-control js-staff-name" name="staffName">
                                </div>
                            </div> -->
                            <div class="form-group">
                                <label class="col-md-4 col-sm-4 control-label">
                                    {{COMMON_USER_CODE}}
                                </label>
                                <div class="col-md-8 col-sm-8">
                                    <input class="form-control js-user-code" name="userCode">
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-md-4 col-sm-4 control-label">
                                    {{COMMON_USER_NAME}}
                                </label>
                                <div class="col-md-8 col-sm-8">
                                    <input class="form-control js-user-name" name="userName">
                                </div>
                            </div>                         
                            <div class="form-group required">
                                <label class="col-md-4 col-sm-4 control-label">
                                    {{PERSON_DEFAULT_PORTAL}}
                                </label>
                                <div class="col-md-8 col-sm-8">
                                    <input class="form-control js-default-portal" name="portalId" placeholder="{{COMMON_PLS_SEL}}" >
                                </div>
                            </div>
                            <div class="form-group js-phone-div">
                                <label class="col-md-4 col-sm-4 control-label">
                                    {{PERSON_PHONE}}
                                </label>
                                <div class="col-md-8 col-sm-8">
                                    <input class="form-control phone" name="phone">
                                </div>
                            </div>
                            <div class="form-group js-email-dom">
                                <label class="col-md-4 col-sm-4 control-label">
                                    {{PERSON_EMAIL}}
                                </label>
                                <div class="col-md-8 col-sm-8">
                                    <input class="form-control email" name="email">
                                </div>
                            </div>
                            <div class="js-profile-property"></div>
                            <div class="form-group js-address-div">
                                <label class="col-md-4 col-sm-4 control-label">
                                    {{PERSON_ADDRESS}}
                                </label>
                                <div class="col-md-8 col-sm-8">
                                    <textarea class="form-control address" row="3" name="address"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 col-sm-4 control-label">
                                    {{COMMON_REMARKS}}
                                </label>
                                <div class="col-md-8 col-sm-8">
                                    <textarea class="form-control memo" row="3" name="memo"></textarea>
                                </div>
                            </div>
                        </form>
                        <form class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-4 col-sm-8 col-sm-offset-4">
                                    <button type="button" class="btn btn-primary btn-min-width js-edit">{{COMMON_EDIT}}</button>
                                    <button type="button" class="btn btn-primary btn-min-width js-ok">
                                       {{COMMON_OK}}
                                    </button>
                                    <button type="button" class="btn btn-default btn-min-width js-cancel">
                                        {{COMMON_CANCEL}}
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                  <!--   <div class="panel panel-default delegatePanel">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{COMMON_DETAIL}}</h3>
                        </div>
                        <div class="grid js-delegateInfo-grid"></div>
                    </div>  -->                 
                </div>
            </div>
        </div>
    </div>
    <!-- end of col-md-6 -->
    <div class="col-md-6 col-sm-6">
        <div class="js-layout-right">
            <div class="tabs-border js-personal-tab">
                <ul>
                    <li><a href="#tabs-log">{{PERSON_USER_LOGS}}</a></li>
                   <!--  <li class="delegateTab"><a href="#tabs-delegate">{{PERSON_USER_DELEGATE}}</a></li> -->
                </ul>
                <div id="tabs-log">
                </div>
                <!-- <div id="tabs-delegate">
                </div>   -->
            </div>
        </div>
    </div>
</div>
