<div class="wizard">
    <div class="tabs-pill ui-tabs tabs-pill-schedule">
        <ul class="ui-tabs-nav">
            <li>
                <a href="#tabs-pill-once">
                    <span class="glyphicon glyphicon-ok none-margin5px tabs-pill-once-li" ></span> {{ONE_TIME}}
                </a>
            </li>
            <li>
                <a href="#tabs-pill-minute">
                    <span class="glyphicon glyphicon-ok tabs-pill-minute-li none-margin5px"></span> {{PER_MINUTE}}
                </a>
            </li>
            <li>
                <a href="#tabs-pill-hour">
                    <span class="glyphicon glyphicon-ok tabs-pill-hour-li none-margin5px"></span> {{PER_HOUR}}
                </a>
            </li>
            <li>
                <a href="#tabs-pill-day">
                    <span class="glyphicon glyphicon-ok tabs-pill-day-li none-margin5px"></span> {{PER_DAY}}
                </a>
            </li>
            <li>
                <a href="#tabs-pill-week">
                    <span class="glyphicon glyphicon-ok tabs-pill-week-li none-margin5px"></span> {{PER_WEEK}}
                </a>
            </li>
            <li>
                <a href="#tabs-pill-month-li">
                    <span class="glyphicon glyphicon-ok tabs-pill-month-li none-margin5px"></span> {{PER_MONTH}}
                </a>
            </li>
        </ul>
        <!--{{ONE_TIME}}-->
        <div id="tabs-pill-once">
            <div>
                <div class="schedule-panel">
                    <form class="once-setting-from form-inline">
                        <div class="m-b-sm">
                            <b>{{RUN_SETTING}}</b>
                            <input id="once-checkbox" class="toggle-switch toggle-switch-tab" type="checkbox" data-tab=".tabs-pill-once-li" data-row=".tabs-pill-once-row-setting" data-sub='.tabs-pill-once-row'>
                            <label for="once-checkbox"></label>
                        </div>
                        <div class="tabs-pill-once-row-setting" style="display: none">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="once-rigger_time_m">{{TRIGGER_TIME}}:</label>
                                        <input type="text" class="form-control" id="once-rigger_time_m" data-rule="required; integer; range[0~23]" style="width: 40px;">
                                    </div>
                                    <div class="form-group">
                                        <label for="once-rigger_time_m">:</label>
                                        <input type="email" class="form-control" id="once-rigger_time_s" data-rule="required; integer; range[0~59]" style="width: 40px;">
                                    </div>
                                    <div class="form-group">
                                        <label for="once-endTime">({{FOR_EXAMPLE}}：23:59)</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 12px">
                                <div class="col-md-12">
                                    <label for="once-startTime">{{RUN_DATE}}:</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control once-setting-runtime" data-rule="{{B_DATE}}: required;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--{{PER_MINUTE}}-->
        <div id="tabs-pill-minute">
            <div class="schedule-panel">
                <form class="minute-setting-from form-inline">
                    <div class="m-b-sm">
                        <b>{{RUN_SETTING}}</b>
                        <input id="minute-checkbox" class="toggle-switch toggle-switch-tab" type="checkbox" data-tab=".tabs-pill-minute-li" data-row=".tabs-pill-minute-row-setting" data-sub='.tabs-pill-minute-row'>
                        <label for="minute-checkbox"></label>
                    </div>
                    <div class="tabs-pill-minute-row-setting" style="display: none">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="minute-rigger_time_m">{{TRIGGER_TIME}}:</label>
                                    <input type="text" class="form-control" id="minute-rigger_time_m" data-rule="required; integer; range[0~23]" style="width: 40px;">
                                </div>
                                <div class="form-group">
                                    <label for="minute-rigger_time_s">:</label>
                                    <input type="text" class="form-control" id="minute-rigger_time_s" data-rule="required; integer; range[0~59]" style="width: 40px;">
                                </div>
                                <div class="form-group">
                                    <label for="once-endTime">({{FOR_EXAMPLE}}：23:59)</label>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 12px">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="minute-interval">{{INTERVAL_TIME}}:</label>
                                    <select class="minute-select">
                                        <option value="15">15</option>
                                        <option value="30">30</option>
                                    </select>{{MINUTE}}
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="schedule-panel">
                <form class="minute-datetime-from">
                    <div class="m-b-sm"><b>{{EFFECTIVE_RANGE}}</b></div>
                    <div class="row tabs-pill-minute-row" style="display: none;">
                        <div class="col-md-6">
                            <label class="control-label">{{B_DATE}}</label>
                            <div class="input-group">
                                <input type="text" name="minute-beginDate" class="form-control minute-datetime-begin" data-rule="{{B_DATE}}: required;">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">{{E_DATE}}</label>
                            <div class="input-group">
                                <input type="text" class="form-control minute-datetime-end" data-rule="{{E_DATE}}: match[gte, minute-beginDate, date]">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--{{PER_HOUR}}-->
        <div id="tabs-pill-hour">
            <div class="schedule-panel">
                <form class="hour-setting-from form-inline">
                    <div class="m-b-sm">
                        <b>{{RUN_SETTING}}</b>
                        <input id="hour-checkbox" class="toggle-switch toggle-switch-tab" type="checkbox" data-tab=".tabs-pill-hour-li" data-row=".tabs-pill-hour-row-setting" data-sub='.tabs-pill-hour-row'>
                        <label for="hour-checkbox"></label>
                    </div>
                    <div class="tabs-pill-hour-row-setting" style="display: none">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="hour-rigger_time_m">{{TRIGGER_TIME}}:</label>
                                    <input type="text" class="form-control" id="hour-rigger_time_m" data-rule="required; integer; range[0~23]" style="width: 40px;">
                                </div>
                                <div class="form-group">
                                    <label for="hour-rigger_time_s">:</label>
                                    <input type="text" class="form-control" id="hour-rigger_time_s" data-rule="required; integer; range[0~59]" style="width: 40px;">
                                </div>
                                <div class="form-group">
                                    <label for="hour-endTime">({{FOR_EXAMPLE}}：23:59)</label>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 12px">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="hour-interval">{{INTERVAL_TIME}}:</label>
                                    <select class="hour-select">
                                        <option value="1">1</option>
                                    </select>{{HOUR}}
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="schedule-panel">
                <form class="hour-datetime-from">
                    <div class="m-b-sm"><b>{{EFFECTIVE_RANGE}}</b></div>
                    <div class="row tabs-pill-hour-row" style="display: none">
                        <div class="col-md-6">
                            <label class="control-label">{{B_DATE}}</label>
                            <div class="input-group">
                                <input type="text" name="hour-beginDate" class="form-control hour-datetime-begin" data-rule="{{B_DATE}}: required;">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">{{E_DATE}}</label>
                            <div class="input-group">
                                <input type="text" class="form-control hour-datetime-end" data-rule="{{E_DATE}}: match[gte, hour-beginDate, date]">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--{{PER_DAY}}-->
        <div id="tabs-pill-day">
            <div class="schedule-panel">
                <form class="day-setting-from form-inline">
                    <div class="m-b-sm">
                        <b>{{RUN_SETTING}}</b>
                        <input id="day-checkbox" class="toggle-switch toggle-switch-tab" type="checkbox" data-tab=".tabs-pill-day-li" data-row=".tabs-pill-day-row-setting" data-sub='.tabs-pill-day-row'>
                        <label for="day-checkbox"></label>
                    </div>
                    <div class="tabs-pill-day-row-setting" style="display: none">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="day-rigger_time_m">{{TRIGGER_TIME}}:</label>
                                    <input type="text" class="form-control" id="day-rigger_time_m" data-rule="required; integer; range[0~23]" style="width: 40px;">
                                </div>
                                <div class="form-group">
                                    <label for="day-rigger_time_s">:</label>
                                    <input type="text" class="form-control" id="day-rigger_time_s" data-rule="required; integer; range[0~59]" style="width: 40px;">
                                </div>
                                <div class="form-group">
                                    <label for="hour-endTime">({{FOR_EXAMPLE}}：23:59)</label>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 12px">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="day-interval">{{INTERVAL_TIME}}:</label>
                                    <select class="day-select">
                                        <option value="1">1</option>
                                    </select>{{DAY}}
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="schedule-panel">
                <form class="day-datetime-from">
                    <div class="m-b-sm"><b>{{EFFECTIVE_RANGE}}</b></div>
                    <div class="row tabs-pill-day-row" style="display: none">
                        <div class="col-md-6">
                            <label class="control-label">{{B_DATE}}</label>
                            <div class="input-group">
                                <input type="text" name="day-beginDate" class="form-control day-datetime-begin" data-rule="{{B_DATE}}: required;">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">{{E_DATE}}</label>
                            <div class="input-group">
                                <input type="text" class="form-control day-datetime-end" data-rule="{{E_DATE}}: match[gte, day-beginDate, date]">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--{{PER_WEEK}}-->
        <div id="tabs-pill-week">
            <div class="schedule-panel">
                <form class="week-setting-from form-inline">
                    <div class="m-b-sm">
                        <b>{{RUN_SETTING}}</b>
                        <input id="week-checkbox" class="toggle-switch toggle-switch-tab" type="checkbox" data-tab=".tabs-pill-week-li" data-row=".tabs-pill-week-row-setting" data-sub='.tabs-pill-week-row'>
                        <label for="week-checkbox"></label>
                    </div>
                    <div class="tabs-pill-week-row-setting" style="display: none">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="week-rigger_time_m">{{TRIGGER_TIME}}:</label>
                                    <input type="text" class="form-control" id="week-rigger_time_m" data-rule="required; integer; range[0~23]" style="width: 40px;">
                                </div>
                                <div class="form-group">
                                    <label for="week-rigger_time_s">:</label>
                                    <input type="text" class="form-control" id="week-rigger_time_s" data-rule="required; integer; range[0~59]" style="width: 40px;">
                                </div>
                                <div class="form-group">
                                    <label>({{FOR_EXAMPLE}}：23:59)</label>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 12px">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>{{SELECT_WEEK}}:</label>
                                    <label class="checkbox-inline">
                                        <input name="week-radio"  type="radio" value="1"  checked="checked" class="week-checkbox-input-1  week-checkbox-all">{{MONDAY}}</label>
                                    <label class="checkbox-inline">
                                        <input name="week-radio" type="radio" value="2" class="week-checkbox-input-2 week-checkbox-all">{{TUESDAY}}</label>
                                    <label class="checkbox-inline">
                                        <input name="week-radio" type="radio" value="3" class="week-checkbox-input-3 week-checkbox-all">{{WEDNESDAY}}</label>
                                    <label class="checkbox-inline">
                                        <input name="week-radio" type="radio" value="4" class="week-checkbox-input-4 week-checkbox-all">{{THURSDAY}}</label>
                                    <label class="checkbox-inline">
                                        <input name="week-radio" type="radio" value="5" class="week-checkbox-input-5 week-checkbox-all">{{FRIDAY}}</label>
                                    <label class="checkbox-inline">
                                        <input name="week-radio" type="radio" value="6" class="week-checkbox-input-6 week-checkbox-all">{{SATURDAY}}</label>
                                    <label class="checkbox-inline">
                                        <input name="week-radio" type="radio" value="7" class="week-checkbox-input-7 week-checkbox-all">{{SUNDAY}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="schedule-panel">
                <form class="week-datetime-from">
                    <div class="m-b-sm"><b>{{EFFECTIVE_RANGE}}</b></div>
                    <div class="row tabs-pill-week-row" style="display: none">
                        <div class="col-md-6">
                            <label class="control-label">{{B_DATE}}</label>
                            <div class="input-group">
                                <input type="text" name="week-beginDate" class="form-control week-datetime-begin" data-rule="{{B_DATE}}: required;">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">{{E_DATE}}</label>
                            <div class="input-group">
                                <input type="text" class="form-control week-datetime-end" data-rule="{{E_DATE}}: match[gte, week-beginDate, date]">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--{{PER_MONTH}}-->
        <div id="tabs-pill-month-li">
            <div class="schedule-panel">
                <form class="month-setting-from form-inline">
                    <div class="m-b-sm">
                        <b>{{RUN_SETTING}}</b>
                        <input id="month-checkbox" class="toggle-switch toggle-switch-tab" type="checkbox" data-tab=".tabs-pill-month-li" data-row=".tabs-pill-month-row-setting" data-sub='.tabs-pill-month-row'>
                        <label for="month-checkbox"></label>
                    </div>
                    <div class="tabs-pill-month-row-setting" style="display: none">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="month-rigger_time_m">{{TRIGGER_TIME}}:</label>
                                    <input type="text" class="form-control" id="month-rigger_time_m" data-rule="required; integer; range[0~23]" style="width: 40px;">
                                </div>
                                <div class="form-group">
                                    <label for="month-rigger_time_s">:</label>
                                    <input type="text" class="form-control" id="month-rigger_time_s" data-rule="required; integer; range[0~59]" style="width: 40px;">
                                </div>
                                <div class="form-group">
                                    <label for="week-endTime">({{FOR_EXAMPLE}}：23:59)</label>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 12px">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>{{INTERVAL_TIME}}:</label>
                                    <select class="month-select">
                                    </select>{{DAY}}
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 12px">
                            <div class="col-md-12">
                                <label>{{SELECT_MONTH}}:</label>
                                <div class="form-group">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="1" class="month-checkbox-input-1 month-checkbox-all" checked="checked">{{JANUARY}}</label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="2" class="month-checkbox-input-2 month-checkbox-all " checked="checked">{{FEBRUARY}}</label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="3" class="month-checkbox-input-3 month-checkbox-all" checked="checked">{{MARCH}}</label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="4" class="month-checkbox-input-4 month-checkbox-all" checked="checked">{{APRIL}}</label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="5" class="month-checkbox-input-5 month-checkbox-all" checked="checked">{{MAY}}</label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="6" class="month-checkbox-input-6 month-checkbox-all" checked="checked">{{JUNE}}</label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="7" class="month-checkbox-input-7 month-checkbox-all" checked="checked">{{JULY}}</label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="8" class="month-checkbox-input-8 month-checkbox-all" checked="checked">{{AUGUST}}</label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="9" class="month-checkbox-input-9 month-checkbox-all" checked="checked">{{SEPTEMBER}}</label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="10" class="month-checkbox-input-10 month-checkbox-all" checked="checked">{{OCTOBER}}</label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="11" class="month-checkbox-input-11 month-checkbox-all" checked="checked">{{NOVEMBER}}</label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="12" class="month-checkbox-input-12 month-checkbox-all " checked="checked">{{DECEMBER}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="schedule-panel">
                <form class="month-datetime-from">
                    <div class="m-b-sm"><b>{{EFFECTIVE_RANGE}}</b></div>
                    <div class="row tabs-pill-month-row" style="display: none">
                        <div class="col-md-6">
                            <label class="control-label" for="month-beginDate2">{{B_DATE}}</label>
                            <div class="input-group">
                                <input type="text" name="month-beginDate2" class="form-control month-datetime-begin" data-rule="{{B_DATE}}: required;">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">{{E_DATE}}</label>
                            <div class="input-group">
                                <input type="text" class="form-control month-datetime-end" data-rule="{{E_DATE}}: match[gte, month-beginDate2, date]">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--手工输入-->
    </div>
</div>
