<div class="kdo-pickcolor-dialog ui-dialog dialog-md">
  <div class="modal-header">
    <h4 class="modal-title">Color Setting</h4>
  </div>
  <div class="modal-body filterHostBody">
    <div class="kdo-pick-block">
      <div class="row">
        <ul  class="kdo-colorpanel" style="margin-left:15px">
          <li class="color-thumb" style="background: #F35352;"  data-color="#F35352">
            <i class="bdp-icon ico-ok-white ico-no-opacity"></i>
          </li>
          <li data-color="#5182E4" class="color-thumb" style="background: #5182E4;">
            <i class="bdp-icon ico-ok-white ico-no-opacity"></i>
          </li>
          <li data-color="#F7CB4A" class="color-thumb checked" style="background: #F7CB4A;">
            <i class="bdp-icon ico-ok-white ico-no-opacity"></i>
          </li>
          <li data-color="#3FB27E" class="color-thumb" style="background: #3FB27E;"><i class="bdp-icon ico-ok-white ico-no-opacity"></i></li>
          <li data-color="#F88D48" class="color-thumb" style="background: #F88D48;"><i class="bdp-icon ico-ok-white ico-no-opacity"></i></li>
          <li data-color="#51B4F1" class="color-thumb" style="background: #51B4F1;"><i class="bdp-icon ico-ok-white ico-no-opacity"></i></li>
          <li  data-color="#5156B8"  class="color-thumb" style="background: #5156B8;"><i class="bdp-icon ico-ok-white ico-no-opacity"></i></li>
          <li data-color="#69D4DB" class="color-thumb" style="background: #69D4DB;"><i class="bdp-icon ico-ok-white ico-no-opacity"></i></li>
          <li  data-color="#CE62D6" class="color-thumb" style="background: #CE62D6;"><i class="bdp-icon ico-ok-white ico-no-opacity"></i></li>
        </ul>
        <div style="float:right">
         <input class="colorPick" type="text" name="" value="">
        </div>
      </div>
    </div>
    <div class="row mt15px">
      <div class="RightDiv ">
        <div class="KdoBtn2 btn OK Kdo_mainColor" style="min-width:50px">OK</div>
        <div class="KdoBtn2 btn reset" style="min-width:50px">Cancel</div>
      </div>
    </div>

  </div>
