<div class="modal-header">
	<h4 class="modal-title">{{CUSTOM_TIME}}</h4>
</div>
<!--设置字段数值显示格式-->
<div class="modal-body ad-modal-body-bg-color" style="padding-left: 100px;padding-top: 40px">
	<div class="ad-modal-box ad-modal-body-bg-color">
		<div class="ad-tolbad">
			<form id="ad-custome-date-form">
				<div class="form-group required ad-modal-body-bg-color">
					<label class="col-md-3 control-label">{{START_TIME}}</label>
					<div class="input-group col-md-6">
						<input type="text" class="form-control" id="ad-btime" data-rule="required">
					</div>
				</div>
				<div class="form-group required ad-modal-body-bg-color">
					<label class="col-md-3 control-label">{{END_TIME}}</label>
					<div class="input-group col-md-6">
						<input type="text" class="form-control" id="ad-etime" data-rule="required">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal-footer">
	<div class="col-md-12 text-right">
		<button type="button" class="btn btn_primary btn_minwidth" id="btn-slm-slimgr-ok" autofocus>
			{{ADHOC_OK}}
		</button>
		<button type="button" class="btn btn_cancel btn_minwidth" id="btn-slm-slimgr-cancel">
			{{ADHOC_CANCEL}}
		</button>
	</div>
</div>
