<div class="modal-header">
	<h4 class="modal-title">{{MARKLINE}}</h4>
</div>
<div class="modal-body">
	<div class="ad-modal-box">
		<div class="ad-tolbad">
			<div class="ad-block" id="ad-markline-container" style="height: 200px">
				<div class="row">
					<form class="form-horizontal clearfix">
						<div class="col-md-12">
							<div id="ad-markline-emptydiv" style="text-align:center;padding-top: 80px">
								{{NO_MARKLINE}}
								<button type="button" id="ad-markline-empty-plus">
									{{CLICK_HERE_TO_ADD}}
								</button>
							</div>
							<span id="ad-markline-cfgdiv" class="wrapper scrollable p-b-none">

							</span>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<div class="col-md-12 text-right">
		<button type="button" class="btn btn_primary btn_minwidth" id="ad-markline-ok" autofocus>
			{{ADHOC_OK}}
		</button>
		<button type="button" class="btn btn_cancel btn_minwidth" id="ad-markline-cancel">
			{{ADHOC_CANCEL}}
		</button>
	</div>
</div>