/*-------------------------portlet mgr-----------------------*/
.modal-info-bar {
  padding: 10px 20px;
  margin: 0 -8px 10px;
  border-bottom: 1px solid #e3e3e3;
  overflow: hidden;
}
.modal-info-bar > div {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.role-priv-container {
  width: 47%;
  float: left;
}
.role-priv-btn-container {
  width: 6%;
  float: left;
  padding: 60px 0 0;
  text-align: center;
}
.slimScrollDiv + form {
  margin-top: 5px;
}
