
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#baseConfig" aria-controls="baseConfig" role="tab" data-toggle="tab">基本配置</a></li>
  <li role="presentation"><a href="#dataSource" aria-controls="dataSource" role="tab" data-toggle="tab">数据配置</a></li>
</ul>
<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="baseConfig">
         <div class="tabpanelDiv">
           <label>文本配置</label>
		    <form class="form">
		          <div class="form-group">
		                                   文本: <input id="gCharaterNodeText" type="text"  placeholder="未命名">
		          </div>
		          
		    <div class="form-group">
		                  色彩: <input   id="gCharaterNodeColor" type="text"  placeholder="未命名">
		    </div>

            
		</form>
       </div>
       
  </div>
  <div role="tabpanel" class="tab-pane fade" id="dataSource">
    
  </div>
</div>




