<div class="row" name="{{rule_dt_id}}">
    <div class="col-md-6">
        <div class="form-group">
            <div class="col-md-4">
                <label class="control-label">指标</label>
            </div>
            <div class="col-md-8">
                <input name="KPI_CODE_{{rule_dt_id}}" class="form-control">
            </div>
        </div>
    </div>
    <div class="col-md-6" style="margin-left:-15px">
        <div class="form-group">
            <div class="col-md-4">
                <label class="control-label">条件类型</label>
            </div>
            <div class="col-md-8">
                <input name="OPER_TYPE_{{rule_dt_id}}" class="form-control">
            </div>
        </div>
    </div>
    <div class="col-md-6" style="margin-top:-15px">
        <div class="form-group">
            <div class="col-md-4">
                <label class="control-label">阈值类型</label>
            </div>
            <div class="col-md-8">
                <input name="THRESHOLD_TYPE_{{rule_dt_id}}" class="form-control" >
            </div>
        </div>
    </div>
    <div class="col-md-6" name="THRESHOLD_VALUE_DIV_01_{{rule_dt_id}}" style="display:none;margin-left:-16px;margin-top:-15px">
        <div class="form-group">
            <div class="col-md-6">
                <input name="THRESHOLD_VALUE_01_{{rule_dt_id}}" class="form-control" >
            </div>
            <div class="col-md-6">
                <input name="THRESHOLD_VALUE2_01_{{rule_dt_id}}" class="form-control" >
            </div>
        </div>
    </div>
    <div class="col-md-12" name="THRESHOLD_VALUE_DIV_01_{{rule_dt_id}}" style="display:none;margin-top:-15px">
        <div class="form-group">
            <div class="col-md-2">
                <label class="control-label">阈值</label>
            </div>
            <div class="col-md-4">
                <input name="THRESHOLD_VALUE3_01_{{rule_dt_id}}" maxlength="10" oninput="value=value.replace(/[^\-?\d.]/g,'')" style="width: 61px" type="text" class="form-control col-md-5"/>
                <div class="col-md-2" style="padding-top: 5px;padding-left: 10px"> ~</div>
                <input name="THRESHOLD_VALUE4_01_{{rule_dt_id}}" maxlength="10" oninput="value=value.replace(/[^\-?\d.]/g,'')" style="width: 61px" type="text" class="form-control col-md-5"/>
            </div>
            <div class="col-md-3" style="margin-left:-16px">
                <input name="THRESHOLD_VALUE5_01_{{rule_dt_id}}" style="width: 61px" type="text" class="form-control"/>
            </div>
        </div>
    </div>
    <div class="col-md-6" name="THRESHOLD_VALUE_DIV_00_{{rule_dt_id}}" style="margin-left:-15px;margin-top:-15px">
        <div class="form-group">
            <div class="col-md-4">
                <label class="control-label">阈值</label>
            </div>
            <div class="col-md-8">
                <input name="THRESHOLD_VALUE3_00_{{rule_dt_id}}" maxlength="10" oninput="value=value.replace(/[^\-?\d.]/g,'')" style="width: 61px" type="text" class="form-control col-md-5"/>
                <div class="col-md-2" style="padding-top: 5px;padding-left: 10px"> ~</div>
                <input name="THRESHOLD_VALUE4_00_{{rule_dt_id}}" maxlength="10" oninput="value=value.replace(/[^\-?\d.]/g,'')" style="width: 61px" type="text" class="form-control col-md-5"/>
            </div>
        </div>
    </div>
    <button type="button" id="tplmgr-alarmgenerateitem-remove"
            style="margin-top: -60px;margin-right:-5px"
            class="pull-right btn btn-ico">
        <i class="fa fa-minus"></i>
    </button>
    <hr style="width: 100%">
</div>
