<div class="ui-dialog dialog-sm">
    <div class="modal-header">
        <h4 class="modal-title">{{COMMON_DETAIL}}</h4>
    </div>   
    <div class="modal-body">       
            <div class="bulletin-head">
                <div class="bulletin-detail">
                    <span>{{BULLETIN_RELEASE_DATE}}： {{stateDate}}</span>
                    <span>{{BULLETIN_LEVEL_NAME}}： {{levelName}}</span>
                    <span>{{BULLETIN_TYPE_NAME}}： {{typeName}}</span>
                </div>
                <div class="bulletin-title">{{BULLETIN_DETAIL_TITLE}}</div>
            </div>
			<div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="content" >
                        
                    </div>
                </div>  
            </div>     
    </div>  
    <div class="modal-footer">           
        <button type="button" class="btn btn-primary btn-min-width js-ok" data-dismiss>
            {{COMMON_OK}}
        </button>      
    </div>  
</div>