<div class="panel panel-default">
		<div class="panel-body">
			<form class="form-horizontal js-bulletin-query">
				<div class="row">
				<div class="col-md-4 col-sm-6">
					<div class="form-group">
						<label class="col-md-4 col-sm-6 control-label">{{BULLETIN_TITLE}}</label>
						<div class="col-md-8 col-sm-6">
							<input name="title" class="form-control">
						</div>
					</div>
				</div>
				<!-- col-md-4 end -->
				<div class="col-md-4 col-sm-6">
					<div class="form-group">
						<label class="col-md-4 col-sm-6 control-label">{{BULLETIN_CREATE_DATE_FROM}}</label>
						<div class="col-md-8 col-sm-6">
							<div class="input-group">
								<input name="startDate" class="form-control">
							</div>
						</div>
					</div>
				</div>
				<!-- col-md-4 end -->
				<div class="col-md-4 col-sm-6">
					<div class="form-group">
						<label class="col-md-4 col-sm-6 control-label">{{BULLETIN_CREATE_DATE_TO}}</label>
						<div class="col-md-8 col-sm-6">
							<div class="input-group">
								<input name="endDate" class="form-control">
							</div>
						</div>
					</div>
				</div>		
				<!-- col-md-4 end -->
			<div class="col-md-4 col-sm-6">
					<div class="form-group">
						<div class="col-md-8 col-md-offset-4 col-sm-8 col-sm-offset-4">
							<button type="button" class="btn btn-primary btn-min-width js-query">{{COMMON_QUERY}}</button>
							<button type="reset" class="btn btn-default btn-min-width">{{COMMON_RESET}}</button>
						</div>
					</div>
				</div>
			</div>
			</form>
		</div>
	</div>
	<div class="grid js-bulletin-grid grid-height-sm"></div>
	
	</div>
	