<div class="comprivroot">
<section class="vbox js-task-left-panel">
    <section>
        <section class="hbox stretch">
            <aside class="ad-left-md b-r">
                <div class="ad-title b-b js-task-left-panel-h3">
                    <h3 class="m-n font-thin"><a href="#">{{EMS_TYPE}}>{{EMS}}>{{EMS_VER}}</a></h3>
				</div>

                <!--Tree-->
                <div class="ad-tree">
                    <div class="grid comprivroot js-catalog-tree"></div>
                </div>
                <!--Tree End-->
            </aside>

            <!--Right-->
            <section>
                <section class="vbox ad-chart-bg js-task-right-panel">
                    <header class="wrapper b-b clearfix">
                        <div class="ad-title pull-left ">
                            <h4>{{TASK_LIST}}</h4>
                        </div>

                        <div class=" pull-right text-right">
                            <!--
                            <div class="btn-group">
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
                                    批量 <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-left">
                                    <li><a href="#">全部</a></li>
                                    <li><a href="#">正常</a></li>
                                    <li><a href="#">禁用</a></li>
                                    <li><a href="#">过期</a></li>
                                </ul>
                            </div>

                            <div class="btn-group m-l-sm">
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
                                    状态 <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-left">
                                    <li><a href="#">批量</a></li>
                                    <li><a href="#">删除</a></li>
                                    <li><a href="#">禁用</a></li>
                                    <li><a href="#">启用</a></li>
                                </ul>
                            </div>
							-->
							<div class="m-l-sm dis-in-block">
                                <div class="btn-group ">
                                    <button class="btn btn-primary dropdown-toggle js-task-add" type="button" aria-expanded="true" title='{{COMMON_NEW}}'>
                                    	<i class="fa fa-plus">&nbsp;</i><span class='js-task-add-span'>{{COMMON_NEW}}</span>
                                    </button>
                                    <button class="btn btn-primary dropdown-toggle js-task-dropdown-btn" data-toggle="dropdown" type="button" aria-expanded="true">
                                    	<span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-left js-task-dropdown-ul">
                                        
                                    </ul>
                                </div>
                            </div>
                            
                            <button class="btn btn-primary dropdown-toggle js-task-copy-add" type="button" title='{{COPY_NEW}}'>
                            	<i class="fa fa-plus"></i> {{COPY_NEW}}
                            </button>
                        </div>

                        <div class="col-md-4 pull-right">
                            <div class="input-group search-group pull-left" >
                               <i class="fa fa-search" style="position: absolute;top: 7px;left: 10px;z-index:11"></i>
                                <input type="text" class="ad-theme-search form-control js-task-search-input" placeholder="{{TASK_INPUT}}" >
                                <span class="input-group-btn">
                                    <a href="#" class="btn js-task-search" title="{{SEARCH}}">{{SEARCH}}</a>
                                </span>
                                <span class="input-group-btn">
                                    <a href="#" class="btn js-task-reset" title="{{COMMON_RESET}}">{{COMMON_RESET}}</a>
                                </span>
                            </div>
                        </div>
                    </header>
                    <section class="wrapper scrollable p-b-none">
                        <div class="col-md-12">
	                        <div class="ad-table ">
	                            <div class="table-responsive ">
	                                <div class="grid comprivroot js-catalog-grid"></div>
	                            </div>
	                        </div>
                        </div>
                    </section>
                </section>
            </section>
        </section>
    </section>
</section>
</div>