<div class="container-fluid">
  <div class='row netDate'>
    <div class="col-md-12">
            <div type="button" class=" netChooseDate">
              <i class="glyphicon glyphicon-calendar"></i>
              <label class="timeShow"></label>
            </div>
    </div>
  </div>
  <div class="row ">
    <div class="col-md-8">
       <div class="row">
         <div class="netPanel2" style="height:300px">
            <h4 class="lineTitle"></h4>
            <div class="linechart">

            </div>
         </div>
       </div>
       <div class="row initPanelsContext">

       </div>
    </div>


    <div class="col-md-4 LeftPage">
      <div class="row">
        <!-- <div class="col-md-12 all">
        </div> -->
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="netPanel2" style="height:300px">
            <h4 class="pieTitle"></h4>
            <div class="piechart">

            </div>
          </div>
        </div>
        <!-- <div class="col-md-6">
          <div class="netPanel2" style="height:300px">
            <h4 class="lineTitle"></h4>
            <div class="linechart">

            </div>
          </div>
        </div> -->
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="netPanel2" style="height:1025px;position: relative;
    ">
            <h4 class="topListTitle"></h4>
             <div class="row TOPN" style="height:870px;">
             </div>
             <div class="pagination-List" style="text-align:center ;white-space: normal;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
