<div class="white-background" style="padding: 30px 30px 30px 30px">
	<div id="tm-template-form" class="row">
		<div class="col-md-12">
			<div class="col-md-6">
				<div class="form-group required">
					<label>
						{{NAME}}
					</label>
					<input id="tm-template-name-input" data-rule="required;length[~30]" class="form-control" autocomplete="off"/>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label>
						{{VISIBLE_NAME}}
					</label>
					<input id="tm-template-visiblename-input" data-rule="required;length[~30]" class="form-control" autocomplete="off"/>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-12">
				<div class="form-group">
					<label>
						{{DESCRIPTION}}
					</label>
					<textarea id="tm-template-description-input" name="remarks" rows=3 class="form-control" data-rule="length[~300]"></textarea>
				</div>
			</div>
		</div>
	</div>
	<!-- -->
	<div class="row">
		<div class="kdoWizardSteps">
			<div style="width:50%" class="active Step1" data-view='.Step1Page'><span>群组</span><span class="host_red">*</span></div>
			<div style="width:50%" class=" Step2" data-view='.Step2Page'><span>模板成员</span></div>
		</div>
		<div class="StepBody">
			<div class="Step1Page " style="padding:20px 3px 0px;padding-bottom:0px">
				<div class="form-group required">
					<label>
						{{GROUP}}
					</label>
					<div class="tm-group-sel" style="padding:0px;">

					</div>
					<div class="row">
						<div class="col-md-1" style="min-width:100px;padding-top:5px">
							<label class="checkbox-inline">
								<input id="tm-new-group-btn" type="checkbox">新的监测组
							</label>
						</div>
						<div class="col-md-10" id="tm-new-group-input-container" style="display: none">
							<div class="col-md-2">
								<div id="tm-step1-subtypes-sel"/>
							</div>
							<input id="tm-newgroup-name-input" class="col-md-4" type="text" style="height:27px"/>
							<div class="col-md-6"/>
						</div>
					</div>
				</div>
			</div>
			<!-- -->
			<div class="Step2Page" style="display:none;padding:20px 3px 0px;padding-bottom:0px">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>
								分类
							</label>
							<input id="tm-step2-subtypes-sel" class="form-control"/>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>
								监测组
							</label>
							<input id="tm-step2-group-sel" class="form-control"/>
						</div>
					</div>
				</div>
				<div class="tm-host-sel" style="padding:5px">

				</div>
			</div>
		</div>
		<div class="StepBtns">
			<div class="btn stepUp KdoBtn2 Kdo_mainColor hide pull-left">上一步</div>
			<div class="RightDiv">
				<div class="btn KdoBtn2 hostPageCancel">取消</div>
				<div class="btn stepNext KdoBtn2 Kdo_mainColor ">下一步</div>
			</div>
		</div>
	</div>
</div>