<div class="kdo_container">
    <div class="kdo_left">
        <div class="kdoTitle">
            <div>
                <h4 class="allHostShow">{{TEMPLATE}}</h4>
            </div>
        </div>
        <div class="tree-content">
        </div>
    </div>
    <div id="tm-homepage" class="kdo_cotent">
        <section>
            <section class="vbox hg-bg">
                <div class="panel-body" style="padding: 4px">
                    <div class="portlet-view comprivroot">
                        <div class="col-md-12" style="padding-left:10px;padding-right:6px">
                            <div class="col-md-8">
                                <div class="pm-portal">
                                    <a id="tm-back-btn" style="display: none" type="button" class="btn btn-link ad-btn pull-left">
                                        <i class="fa fa-reply"></i>
                                    </a>
                                    <h3>{{TEMPLATE}}</h3>
                                </div>
                            </div>
                            <div class="col-md-4" style="margin-top:22px">
                                <div class="m-l-sm" style="position:absolute;right:5px;width:70">
                                    <button id="tm-import-btn" type="button" class="btn btn-primary ">
                                        <i class="fa fa-cloud-upload"></i> Import
                                    </button>
                                </div>
                                <div class="m-l-sm" style="position:absolute;right:80px">
                                    <button id="tm-createtemplate-btn" type="button" class="btn btn-primary ">
                                        <i class="fa fa-plus"></i> Create template
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- -->
                        <div class="col-md-12" style="margin-top:10px;margin-left:10px;padding-right: 20px">
                            <div class="template-groupfilter">
                                <input id="tm-group-sel" class="form-control"/>
                            </div>
                            <div class="tm-template-grid kdoGrid">

                            </div>
                        </div>
                    </div>
                </div>
                <!-- -->
                <div id="tm-grid-btngroup" class="col-md-12" style="padding-left:18px;display: none">
                    <button type="button" id="tm-delete-btn" class="btn btn-default tm-grid-btngroup">Delete</button>
                </div>
            </section>
        </section>
    </div>
    <!-- -->
    <div id="tm-createtemplate" class="kdo_cotent" style="display: none">
        <section>
            <section class="vbox hg-bg">
                <div id="tm-createtemplate-container" class="panel-body" style="overflow-y:auto;overflow-x:hidden;">
                    <div class="portlet-view comprivroot">
                        <div class="col-md-12" style="padding-left:10px;padding-right:6px">
                            <div class="col-md-8">
                                <div class="pm-portal">
                                    <h3 id="tm-create-title">{{CREATE_TEMPLATE}}</h3>
                                </div>
                            </div>
                        </div>
                        <!-- -->
                        <div class="col-md-12" style="margin-top:10px;margin-left:10px;padding-right: 20px">
                            <div class="kdo-right-page-cotent">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div>
    <!-- -->
    <div id="tm-importtemplate" class="kdo_cotent" style="display: none">

    </div>
    <!-- -->
    <div id="tm-template-item" class="kdo_cotent" style="display: none">

    </div>
</div>
<ul class="dropdown-menu" role="menu" aria-labelledby="hg-grid-more">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
    <li role="presentation" class="divider"></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
</ul>

