<div class="kdo_container">
    <div class="kdo_left">
        <div class="kdoTitle">
            <div>
                <h4 class="allHostShow">{{DISCOVERY_RULE}}</h4>
            </div>
        </div>
        <div class="tree-content">
        </div>
    </div>
    <div id="tm-homepage" class="kdo_cotent">
        <section>
            <section class="vbox hg-bg">
                <div class="panel-body" style="padding: 4px">
                    <div class="portlet-view comprivroot">
                        <div class="col-md-12" style="padding-left:10px;padding-right:6px">
                            <div class="col-md-8">
                                <div class="pm-portal">
                                    <a id="tm-back-btn" style="display: none" type="button" class="btn btn-link ad-btn pull-left">
                                        <i class="fa fa-reply"></i>
                                    </a>
                                    <h3>{{DISCOVERY_RULE}}</h3>
                                </div>
                            </div>
                            <div class="col-md-4" style="margin-top:22px">
                                <div class="m-l-sm" style="position:absolute;right:5px">
                                    <button id="dr-createdrule-btn" type="button" class="btn btn-primary ">
                                        <i class="fa fa-plus"></i> {{CREATE_DRULE}}
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- -->
                        <div class="col-md-12" style="margin-top:10px;margin-left:10px;padding-right: 20px">
                            <div class="template-groupfilter">
                                <input id="dr-status-sel" class="form-control"/>
                            </div>
                            <div class="dr_grid kdoGrid">

                            </div>
                        </div>
                    </div>
                </div>
                <!-- -->
                <div id="dr-grid-btngroup" class="col-md-12" style="padding-left:18px;display: none">
                    <button type="button" id="dr-enable-drule-btn" class="btn btn-default dr-grid-btngroup">{{ENABLE}}</button>
                    <button type="button" id="dr-disable-drule-btn" class="btn btn-default dr-grid-btngroup">{{DISABLE}}</button>
                    <!--<button type="button" id="dr-move-btn" class="btn btn-default dr-grid-btngroup">{{MOVE}}</button>-->
                    <button type="button" id="dr-delete-btn" class="btn btn-default dr-grid-btngroup">{{DELETE}}</button>
                </div>
            </section>
        </section>
    </div>
    <!-- -->
    <div id="tm-createtemplate" class="kdo_cotent" style="display: none">
        <section>
            <section class="vbox hg-bg">
                <div id="tm-createtemplate-container" class="panel-body" style="overflow-y:auto;overflow-x:hidden;">
                    <div class="portlet-view comprivroot">
                        <div class="col-md-12" style="padding-left:10px;padding-right:6px">
                            <div class="col-md-8">
                                <div class="pm-portal">
                                    <h3 id="dr-create-title">{{CREATE_DRULE}}</h3>
                                </div>
                            </div>
                        </div>
                        <!-- -->
                        <div class="col-md-12" style="margin-top:10px;margin-left:10px;padding-right: 20px">
                            <div class="kdo-right-page-cotent">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div>
    <!-- -->
    <div id="tm-importtemplate" class="kdo_cotent" style="display: none">

    </div>
    <!-- -->
    <div id="tm-template-item" class="kdo_cotent" style="display: none">

    </div>
</div>

