<div class="comprivroot">
<section class="vbox js-counter-panel">
    <section>
        <section class="hbox stretch"> 
            <!--Right-->
            <section>
                <section class="vbox ad-chart-bg">
                    <header class="wrapper b-b clearfix bg-white js-counter-condition-panel">
                        
						<div class="pull-right text-right">
                            <button class="btn btn-primary js-counter-query"><i class="fa fa-search"></i> {{COMMON_QUERY}}</button>                            
                        </div>
                        <div class="pull-left">
                        	<label class="control-label" style="text-align: left">{{DATE}}</label>
                        	<div class="btn-group timebtn">
	                            <a class="btn btn-default tooltip-test a1 js-counter-date-btn" b='0' e='1' type="button" title="{{TODAY}}" data-toggle="tooltip" title="" data-original-title="Layer Control"></a>
	
	                            <a class="btn btn-default tooltip-test a2 js-counter-date-btn" b='-1' e='0' type="button" title="{{YESTERDAY}}" data-toggle="tooltip" title="" data-original-title="Layer Control"></a>
	
	                            <a class="btn btn-default tooltip-test a3 js-counter-date-btn" b='-6' e='1' type="button" title="{{LAST_7_DAY}}" data-toggle="tooltip" title="" data-original-title="Layer Control"></a>
	
	                            <a class="btn btn-default tooltip-test a4 js-counter-date-btn" b='-29' e='1' type="button" title="{{LAST_30_DAY}}" data-toggle="tooltip" title="" data-original-title="Layer Control"></a>
	                        </div>
	                        <div class="btn-group">
	                        	<input class="form-control" name="B_TIME" data-rule="{{B_DATE}}:required;match[lt, EXP_DATE, date]">
	                        </div>
	                        <div class="btn-group">
	                        	<input class="form-control" name="E_TIME" data-rule="{{E_DATE}}:match[gt,EFF_DATE, date]">
	                        </div>
	                        <div class="btn-group m-l-sm">
	                        	
	                        	<button class="btn btn-default dropdown-toggle js-counter-setting" type="button">
                                	<i class="fa fa-gear"></i> {{COUNTER_SETTING}}
                                </button>
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"  aria-expanded="true">
                                	<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-left">
                                    <li><a href="#">{{LOAD_TPL}}</a></li>
                                    <li><a href="#">{{SAVE_TPL}}</a></li>
                                </ul>
	                        </div>
	                        <div class="btn-group"  style='width:400px;height:28px;'>
								<div id="slick">
								      
								</div>
	                        </div>
	                    </div>
                    </header>
                    <div class="wrapper scrollable p-b-none overflow-y-h">
                        <div class="col-md-12 m-t-sm">
                        	<div class="ui-tabs js-counter-qry-tab">
		                        <ul class="ui-tabs-nav js-counter-qry-ul">
		                            
		                        </ul>
		                        
		                    </div>
		                </div>
                    </div>
                </section>
            </section>
        </section>
    </section>
</section>
</div>