<div class="alramMontior">
    <div class="PageSideBar">
      <div class="AlrmHeader">
          <i class="glyphicon glyphicon-time" id="alrmSortTime" style="font-size:21px;top:-2px;left:-5px;cursor:pointer"></i>
      </div>
      <div class="AlrmChartsContext">
          <div class="AlarmCharts">
              <div class="BigCircle" id="alram_bigCircle"></div>
              <div class="fourCircle">
                  <div class="circle" id="alram_critical"></div>
                  <div class="circle" id="alram_Trouble"></div>
                  <div class="circle" id="alram_Attention"></div>
                  <div class="circle" id="alram_ServiceDown"></div>
              </div>
          </div>
      </div>
    </div>
    <div class="PageContent">
        <div class="AlrmGrid">
            <div class="AlrmHeader">
                <div class="AlrmInfo">
                    <span class="AlrmInfo_title"> Alarms (<span id="alramQueryCount">5</span>) </span><span class="AlrmInfo_time">- <span id="alramQueryTime">Last 1 Hour</span></span>
                </div>
            </div>
            <div class="alrmCusGrid">
                <div class="girdData" id="grid01"></div>
                <div id="AlrmPager" ></div>
            </div>
        </div>
    </div>
    <div id="alermSortByTime" class='alermSortByTime' style="display: none">
        <div class="alermPopoverHeader">
            Sort By Time
            <i class="glyphicon glyphicon-remove alramRemove"></i>
        </div>
        <ul>
            <li data-value="1">Last 1 Hour</li>
            <li data-value="2">Last 2 Hour</li>
            <li data-value="4">Last 4 Hour</li>
            <li data-value="6">Last 6 Hour</li>
            <li data-value="8">Last 8 Hour</li>
            <li data-value="12">Last 12 Hour</li>
            <li data-value="24">Last 24 Hour</li>
            <li data-value="today">Today</li>
            <li data-value="yday">Yesterday</li>
            <li data-value="7d">7 Days</li>
            <li data-value="30d">30 Days</li>
            <li data-value="90d">90 Days</li>
            <li data-value="week">Week</li>
            <li data-value="month">Month</li>
            <li data-value="custom">Custom</li>
        </ul>
        <div class="setAlramTimeCustom">
          <form action="#" method="post" autocomplete="off">
            <div class="TimeCustomBody">
            <span class="TimeCustomBodyMessage" style="color:red"></span>
            <div class="form-group">
                    <label for="datetimepicker" class="col-md-4 control-label">Start Time</label>
                    <div class="input-group col-md-8">
                        <input type="text" class="form-control"  data-rule="required" name="alram_start_datetimepicker" id="alram_start_datetimepicker">
                    </div>
                </div>
                <div class="form-group">
                    <label for="datetimepicker" class="col-md-4 control-label">End Time</label>
                    <div class="input-group col-md-8">
                        <input type="text" class="form-control"  data-rule="required"  name="alram_end_datetimepicker" id="alram_end_datetimepicker">
                    </div>
                </div>
            </div>
            <div class="TimeCustomBtns">
                <a href="#"  class="OkBtn btn" >OK</a>
                <a href="#"  class="CancelBtn btn">Cancel</a>
            </div>
        </form>
        </div>
    </div>
</div>
