<div>
    <section class="vbox">
        <section>
            <section class="hbox stretch">
                <!--Right-->
                <section>
                    <section class="vbox ad-chart-bg" style="background-color:#fff;">
                        <div id="parammgr-grid" class="col-md-6" style="padding: 0 0 0 0;margin: 10px 0 0 10px"></div>
                        <div class="col-md-6 text-right" style="margin:10px 0 0 20px">
                            <button type="button" disabled class="btn btn_minwidth" id="parammgr-confirm-btn">
                                {{COMMON_OK}}
                            </button>
                            <button type="button" class="btn btn_cancel btn_minwidth" id="parammgr-reset-btn">
                                {{COMMON_RESET}}
                            </button>
                        </div>
                    </section>
                </section>
            </section>
        </section>
    </section>
</div>