<div class="row">
<div class="col-md-12 col-sm-12">
	<div class="form-group">
		<label class="col-md-4 col-sm-4 control-label">{{ROLEMGR_ROLE_NAME}}</label>
		<div class="col-md-8 col-sm-8">
			<input name="roleName" class="form-control">
		</div>
	</div>
</div>
<!-- col-md-4 end -->
<div class="col-md-12 col-sm-12">
	<div class="form-group">
		<label class="col-md-4 col-sm-4 control-label">{{ROLEMGR_ROLE_CODE}}</label>
		<div class="col-md-8 col-sm-8">
			<input name="roleCode" class="form-control">
		</div>
	</div>
</div>
</div>
