<div class="row">
<div class="col-md-12 col-sm-12">
	<div class="form-group">
		<label class="col-md-4 col-sm-4 control-label">{{USERMGR_USER_NAME}}</label>
		<div class="col-md-8 col-sm-8">
			<input name="userName" class="form-control">
		</div>
	</div>
</div>
<!-- col-md-4 end -->
<div class="col-md-12 col-sm-12">
	<div class="form-group">
		<label class="col-md-4 col-sm-4 control-label">{{USERMGR_USER_CODE}}</label>
		<div class="col-md-8 col-sm-8">
			<input name="userCode" class="form-control">
		</div>
	</div>
</div>
</div>
