<div class="ui-dialog dialog-sm">
    <div class="modal-header">
        <h4 class="modal-title">{{TITLE}}</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal js-form">
            <div class="form-group js-combox-div">
                <label class="col-md-4 col-sm-4 control-label">
                    {{SEL_LABEL}}
                </label>
                <div class="col-md-8 col-sm-8">
                    <input type="text" class="form-control js-combox" placeholder="{{COMMON_PLS_SEL}}" >
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn_minwidth btn-primary js-ok" autofocus>
            {{COMMON_OK}}
        </button>
        <button type="button" class="btn btn_minwidth btn-default js-cancel" data-dismiss>
            {{COMMON_CANCEL}}
        </button>
    </div>
</div>