<div class="filterItemBody" style="background: #fff;">
	<div class="modal-header">
	    <h4 class="modal-title">{{ITEM}}</h4>
	</div>
	<div class="modal-body triggerList">
		<div class="row">
			<div class="col-xs-6">
                <div class="form-group itemFrom">
                    <label for="priority">{{HOUST_GROUP}}</label>
                    <input type="text" class="comboboxGroups filterInput tranItem" name="comboboxGroups">
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-
                </div>
            </div>group itemFrom">
                    <label for="priority">{{HOUST}}/{{TEMPLATE}}</label>
                    <input type="text" class="comboboxhost filterInput tranItem" name="comboboxhost">
                </div>
            </div>
		</div>
		<div class="ItemListGrid HongListGrid TriggerListGrid kdoGrid">
        </div>
	</div>
</div>