<li class="tl-item js-compute-step-li-item">
    <form class="clearfix" step_no='4' step_name='CFG_OUTKPI'>	
	    <div class="tl-wrap br-light">
	        <div class="btn btn-default tl-plus js-compute-step-seq" style="border-radius:50%">1</div>
	        <div class="tl-content" style="width:98%">
	            <div class="m-b-sm">输出KPI指标<a href="#" class="pull-right" id="btn1" style="margin-top:1px"> </a></div>
	            
	            <div class="br-light">
	                <div class="border wrapper">
                        <div class="row">
                            <div class="col-md-6 b-r">
                                <div class="ad-title">选择</div>
                                <div class="input-group search-group" style="width:100%">
                                    <i class="fa fa-search" style="position: absolute;top: 7px;left: 10px;z-index:11"></i>
                                    <input type="text" class="ad-theme-search form-control">
                                </div>

                                <div class="clearfix m-t-sm m-block">
	                                <ul id="sortable" class="ui-sortable js-compute-kpi-seling-ul" style="hight:200px">
										<li class="ui-sortable-handle">KPI<a href="#" class="js-compute-kpi-add" code='' name='KPI'>添加</a></li>
										<li class="ui-sortable-handle">KPI<a href="#" class="js-compute-kpi-add" code='' name='KPI'>添加</a></li>
	                                </ul>
	                                <div class="ad-bar"><a href="#" class="js-compute-kpi-add-all">全部添加</a></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="ad-title">已添加</div>
                                <div class="input-group search-group" style="width:100%">
                                    <i class="fa fa-search" style="position: absolute;top: 7px;left: 10px;z-index:11"></i>
                                    <input type="text" class="ad-theme-search form-control">
                                </div>
                                <div class="clearfix m-t-sm m-block">
									<ul id="sortable" class="ui-sortable js-compute-kpi-seled-ul" style="hight:200px;">
										<li class="ui-sortable-handle"><span><i class="fa fa-ellipsis-v"></i><i class="fa fa-ellipsis-v"></i></span>KPI<a href="#" class="js-compute-kpi-del" code='' name='KPI'>删除</a></li>
										<li class="ui-sortable-handle"><span><i class="fa fa-ellipsis-v"></i><i class="fa fa-ellipsis-v"></i></span>KPI<a href="#" class="js-compute-kpi-del" code='' name='KPI'>删除</a></li>
										<li class="ui-sortable-handle"><span><i class="fa fa-ellipsis-v"></i><i class="fa fa-ellipsis-v"></i></span>KPI<a href="#" class="js-compute-kpi-del" code='' name='KPI'>删除</a></li>
										<li class="ui-sortable-handle"><span><i class="fa fa-ellipsis-v"></i><i class="fa fa-ellipsis-v"></i></span>KPI<a href="#" class="js-compute-kpi-del" code='' name='KPI'>删除</a></li>
										
									</ul>
									<div class="ad-bar"><span>已添加2条</span><a href="#" class="js-compute-kpi-del-all">清空</a></div>
								</div>
                            </div>
                        </div>
                    </div>
	            </div>
	        </div>
	    </div>
	</form>
</li>