<li class="tl-item js-compute-step-li-item">
    <form class="clearfix" step_no='5' step_name='CFG_DATAMAP'>	
	    <div class="tl-wrap br-light">
	        <div class="btn btn-default tl-plus js-compute-step-seq" style="border-radius:50%">1</div>
	        <div class="tl-content" style="width:98%">
	            <div class="m-b-sm">{{DATA_MAP_RULE}}<a href="#" class="pull-right" id="btn1" style="margin-top:1px"><i class="fa fa-close js-compute-del-step"></i> </a></div>
	            
	            <div class="br-light">
	                <div class="border wrapper overflow-y-h">
	                    <div class="form-group required">
		                    <div class="col-md-8 no-padding">
	                            <label class="control-label">{{MODEL_PHY}}</label>
	                        	<input name="BUSINESS_MODEL" class="form-control" data-rule="{{MODEL_PHY}}:required;" placeholder="{{COMMON_PLS_SEL}}">
	                        </div>
	                        <div class="col-md-4 no-padding">
	                        	<label class="control-label">{{GRANU}}</label>
	                            <input name="GRANU" class="form-control" data-rule="{{GRANU}}:required;" placeholder="{{COMMON_PLS_SEL}}">
	                        </div>
	                        
	                    </div>
	                    <div class="form-group">
	                    	<label class="control-label">{{DATA_MAP_SQL}}</label>
	                    	<div class="wizard">
			                    <div class="tabs-pill ui-tabs js-compute-map-tab">
			                        <ul class="ui-tabs-nav js-compute-map-ul">
			                            
			                        </ul>
			                        <div class="m-t-sm tab-content js-compute-map-content">
				                        
			                        </div>
			                    </div>
			                </div>
						</div>	
	                </div>
	            </div>
	        </div>
	    </div>
	</form>
</li>