<div class="modal-header ui-draggable-handle">

<button type="button" class="close" data-dismiss="" aria-label="Close"><span aria-hidden="true">×</span></button>
<h4 class="modal-title js-adapter-detail-title">Config New Server</h4>
    <!-- <h2>Config New Server</h2>
    <div class="title_r">
        <a class="btn btn-sm  closeButton configDBSourceClose">X</a>
    </div> -->
</div>
<div class="modal-body">
    <div class="sd-modal-box">
        <div class="sd-block tab-wizard" id="configDBTabs" style="width:800px">
           <ul  class="nav nav-tabs">
             <li>
               <a href="#tabs-a">First</a>
             </li>
             <li>
               <a href="#tabs-b">Second</a>
             </li>

           </ul>
            <div id="tabs-a" class="fadeInUp animated  tab-pane nav-tabs" style="height:320px;">
               First
            </div>
            <div id="tabs-b" class="fadeInUp animated  tab-pane" style="height:320px;">
               Second
            </div>

        </div>
    </div>
</div>

</div>
<div class="modal-footer" >
    <!-- <div style="float:right;margin-top:5px">
      <button class="btn btn_minwidth btn-primary  blueBtn nextbutton">Next</button>
      <button class="btn btn_minwidth btn-primary  blueBtn Prevbutton" style="display:none">Prev</button>
      <button class="btn btn_minwidth btn-primary  blueBtn doneButton" style="display:none">Done</button>
      <button class="btn btn_minwidth btn-primary cancel configDBSourceClose">Cancel</button>
     </div> -->
</div>
