<div class="db_panel_side">
    <div class="panel_row_r1">

        <h2>服务名</h2>
        <a href="#" class="x_table_i">
            <i class="icon-uniE600"></i>
           <span>新装量服务</span>
       </a>
        <div class="db_edit clearfix">
            <ul>
                <li><a href="#">切换</a></li>

            </ul>
        </div>
        <div class="db_edit_plane">

        </div>

    </div>
    <div class="g_field">
        <div class="g_field_data">
            <div class="g_tt">
                <h3>所有数据字段</h3>
            </div>
            <div class="g_field_context">
                <div class="g_tt">
                    <h4>维度（X轴）</h4>
                </div>
                <ul>
                    <li>

                        <span>
                          <i class="g_ico icon-uniE6012"></i>
                          地区
                      </span>
                    </li>
                </ul>
                <div class="g_tt">
                    <h4>指标（Y轴）</h4>
                </div>
                <ul class="none-bottom">
                    <li>
                        <span>
                          <i class="g_ico icon-uniE6002"></i>
                          3G新装量
                      </span>
                    </li>
                    <li>
                        <span>
                          <i class="g_ico icon-uniE6002"></i>
                          4G新装量
                      </span>
                    </li>
                    <li>
                        <span>
                          <i class="g_ico icon-uniE6002"></i>
                          套餐A新装数
                      </span>
                    </li>
                    <li>
                        <span>
                          <i class="g_ico icon-uniE6002"></i>
                          套餐B新装数
                      </span>
                    </li>
                    <li>
                        <span>
                          <i class="g_ico icon-uniE6002"></i>
                          套餐C新装数
                      </span>
                    </li>
                    <li>
                        <span>
                          <i class="g_ico icon-uniE6002"></i>
                          套餐C新装数
                      </span>
                    </li>
                    <li>
                        <span>
                          <i class="g_ico icon-uniE6002"></i>
                          套餐C新装数
                      </span>
                    </li>
                    <li>
                        <span>
                          <i class="g_ico icon-uniE6002"></i>
                          套餐C新装数
                      </span>
                    </li>
                    <li>
                        <span>
                          <i class="g_ico icon-uniE6002"></i>
                          套餐C新装数
                      </span>
                    </li>
                    <li>
                        <span>
                          <i class="g_ico icon-uniE6002"></i>
                          套餐C新装数
                      </span>
                    </li>
                    <li>
                        <span>
                          <i class="g_ico icon-uniE6002"></i>
                          套餐C新装数
                      </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="dbCommand">
        <div class="db_edit clearfix martop5px">
            <ul>
                <li><a href="#" class="db_edit_btn">編辑</a></li>
                <li><a href="#" class="db_sure">确定</a></li>
                <li><a href="#" class="db_cancel">取消</a></li>
            </ul>
        </div>

    </div>
</div>