<div class="db_panel_side">
    <div class="panel_row_r1">

        <h2>{{SERVICE_NAME}}</h2>
        <a href="#" class="x_table_i">
            <i class="icon-uniE600"></i>
            <span class="dbServerName"></span>
       </a>
        <div class="db_edit clearfix serverCommand">
            <ul>
                <li><a href="#" class="lookDBSource">{{LOOK}}</a></li>
                <li><a href="#" class="choiceDBSource">{{SWITCH}}</a></li>
            </ul>
        </div>
        <div class="db_edit_plane">
            <div class="g_tt">
                <h3>{{SWITCH}}</h3>
            </div>
            <div>
                <div class="db_edit_body">
                    <div class="db_search">
                        <span>{{QUERY}}:</span><input type="serach" />
                    </div>
                    <div class="dbserverlist">

                          <ul>
                             <li style="color:#36b0c8"  >NetworkOverviewQryService</li>
                          </ul>
                            <!-- <li> <input type="radio" name="dbServer"><span>激活服务<span></li>
                          <li> <input type="radio" name="dbServer"><span>流程服务<span></li> -->
                   </div>
                </div>

          <div class="db_edit clearfix martop5px">
              <ul>
                  <li><a href="#" class="db_edit_plane_sure" >{{SURE}}</a></li>
                  <li><a href="#" class="db_edit_plane_cancel">{{CANCEL}}</a></li>
              </ul>
          </div>

        </div>

    </div>
    <div class="g_field">
        <div class="g_field_data">
            <div class="g_tt">
                <h3 class="coa">{{SEL_FIELDS}}</h3>
            </div>

            <div class="g_field_context">
                <div class="g_tt">
                    <h4>{{DIME}}</h4><span class="dbTipMessage">{{TIPNUM}}<span class="xnums">1</span></span>
                </div>
                <div class="xmessage"></div>
                <ul class="xAxisUL" >

                </ul>
                <div class="g_tt">
                    <h4>{{INDICATOR}}</h4><span class="dbTipMessage">{{TIPNUM}}<span class="ynums">2</span></span>
                </div>
                <div class="ymessage"></div>
                <ul class="none-bottom yAxisUL">

                </ul>
            </div>
        </div>
    </div>
    <div class="dbCommand">
        <div class="db_edit clearfix martop5px" >
            <ul>
                <li><a href="#" class="db_edit_btn">{{EDIT}}</a></li>
                <li><a href="#" class="db_sure" >{{SURE}}</a></li>
                <li><a href="#" class="db_cancel">{{CANCEL}}</a></li>
            </ul>
        </div>

    </div>
</div>
