<div class="ad-collect-center">
	<div class="ad-collect-block">
	
	<div class="m-t-sm">
		<div class="col-md-6 n-p-l" style="height: 390px">
		<div>
			<b>{{TASK_SELING}}</b>
			<div id="searchbar1" class="input-group search-group" data-toggle="searchbar"></div>
			<div class="border m-t-sm">
				<div id="grid1"></div>
			</div>
			<div  class="m-t-sm">
				<button type="button" class="btn btn-primary btn_minwidth" id="machineAddTask" autofocus>{{TASK_ADD}}</button>
			</div>
		</div>
	</div>
	<div class="col-md-6 n-p-r">
		<div>
			<b>{{TASK_SELED}}</b>
			<div id="searchbar2" class="input-group search-group" data-toggle="searchbar"></div>
			<div class="border m-t-sm">
				<div id="grid2"></div>
			</div>
			<div class="m-t-sm">
				<button type="button" class="btn btn-primary btn_minwidth" id="machineRemoveTask" autofocus>{{TASK_DEL}}</button>

				<button type="button" class="btn btn-primary btn_minwidth" style="display:none" id="setRemain" autofocus>{{SET_DEFAULT_REMAIN}}</button>
				<button type="button" class="btn btn-primary btn_minwidth" style="display:none" id="cancelRemain" autofocus>{{CANCEL_DEFAULT_REMAIN}}</button>
			</div>
		</div>
	</div>
	</div>
</div>
</div>
		

