<li class="tl-item js-collect-step-li-item">
    <form class="clearfix" step_no='1' step_name='CFG_COLLECT'>	
	    <div class="tl-wrap br-light">
	        <div class="btn btn-default tl-plus js-collect-step-seq" style="border-radius:50%">1</div>
	        <div class="tl-content" style="width:98%">
	            <div class="m-b-sm">{{MO_LIST}}<a href="#" class="pull-right" id="btn1" style="margin-top:1px"><i class="fa fa-close js-collect-del-step"></i> </a></div>
	            
	            <div class="br-light">
	                <div class="border wrapper overflow-y-h">
	                   <div class="form-group required">
	                        <label class="control-label">{{MO}}</label>
	                        <input name="MO_NO" class="form-control" data-rule="{{MO_CODE}}:required;" placeholder="{{COMMON_PLS_SEL}}">
	                    </div>
	                    <div class="form-group">
	                        <label class="control-label">{{DATA_MAP_SQL}}</label>
	                        <div class="wizard">
			                    <div class="tabs-pill ui-tabs js-collect-map-tab">
			                        <ul class="ui-tabs-nav js-collect-map-ul">
			                            
			                        </ul>
			                        <div class="m-t-sm tab-content js-collect-map-content">
				                        
			                        </div>
			                    </div>
			                </div>
	                    </div>	
	                </div>
	            </div>
	        </div>
	    </div>
	</form>
</li>