<div class="kdo-right-page">
  <div class="kdo-right-page-header">
    <div class="title">Edit Graphs</div>
    <div class="kdoTopBtn">
      <div class="kdoBtn perview-iconBtn">
        <i class="glyphicon glyphicon-blackboard" style="margin-left:2px"></i>
      </div>
    </div>
  </div>

  <div class="kdo-right-page-cotent createGraphsViewContext">
    <div class="graphs-edit-body">
      <div class="row graphs-edit-row">
        <div class="col-md-6 col-sm-6">
         <div class="kdo-input-style">
           <span class="tag">Name</span>
           <input type="text" class="textInput"></input>
         </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="kdo-input-style">
            <span class="tag kdo-color-gray">Title Position</span>
            <div class="kdo-combobox-style">
              <input type="text" class="titlePosition textInput"></input>
            </div>
          </div>
        </div>
      </div>
      <div class="row graphs-edit-row">
        <div class="col-md-6 col-sm-6">
         <div class="kdo-input-style">
           <span class="tag" >Width</span>
           <input type="text" class="textInput"></input>
         </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="kdo-input-style">
            <span class="tag" >Height</span>
            <input type="text" class="textInput"></input>
          </div>
        </div>
      </div>
      <div class="row graphs-edit-row">
        <div class="col-md-6 col-sm-6">
           <div class="kdo-header-title">Graphs Type</div>
           <div>
             <div class="kdo-Tm20">
               <div class="kdo-dash-container" data-type="Line">
                 <div class="kdo-dashboardicon">
                   <div class="kdo-chart kdo-line"></div>
                 </div>
                 <div class="kdo-dashChartTitle">Line</div>
               </div>
               <div class="kdo-dash-container" data-type="Donut">
                 <div class="kdo-dashboardicon">
                   <div class="kdo-chart kdo-donut"></div>
                 </div>
                 <div class="kdo-dashChartTitle">Donut</div>
               </div>
               <div class="kdo-dash-container" data-type="Pie">
                 <div class="kdo-dashboardicon">
                   <div class="kdo-chart kdo-pie"></div>
                 </div>
                 <div class="kdo-dashChartTitle">Pie</div>
               </div>
             </div>
             <div class="kdo-Tm20">
               <div class="kdo-dash-container" data-type="Area">
                 <div class="kdo-dashboardicon">
                   <div class="kdo-chart kdo-area"></div>
                 </div>
                 <div class="kdo-dashChartTitle">Area</div>
               </div>
               <div class="kdo-dash-container" data-type="Horizontal">
                 <div class="kdo-dashboardicon">
                   <div class="kdo-chart kdo-horizontal"></div>
                 </div>
                 <div class="kdo-dashChartTitle">Horizontal</div>
               </div>
               <div class="kdo-dash-container" data-type="Vertical">
                 <div class="kdo-dashboardicon">
                   <div class="kdo-chart kdo-vertical"></div>
                 </div>
                 <div class="kdo-dashChartTitle">Vertical</div>
               </div>
             </div>
             <div class="kdo-Tm20">
               <div class="kdo-dash-container" data-type="Funnel">
                 <div class="kdo-dashboardicon">
                   <div class="kdo-chart kdo-funnel"></div>
                 </div>
                 <div class="kdo-dashChartTitle">Funnel</div>
               </div>
               <div class="kdo-dash-container" data-type="Table">
                 <div class="kdo-dashboardicon">
                   <div class="kdo-chart kdo-table"></div>
                 </div>
                 <div class="kdo-dashChartTitle">Table</div>
               </div>

             </div>
           </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="kdo-header-title">Graphs Information</div>
          <div class="graphs-tabs">

          </div>
        </div>
      </div>
      <div class="RightDiv" style="margin-right:50px">
        <div class="btn KdoBtn2 graphsCancel">Cancel</div>
        <div class="btn KdoBtn2 Kdo_mainColor graphsOK">OK</div>
      </div>
    </div>



  </div>

</div>
