<div class="kdo-right-page">
  <div class="kdo-right-page-header">
    <div class="title"><i class="glyphicon glyphicon-menu-left graphscallback kdo-callback"></i>Graphs</div>
    <div class="kdoTopBtn">
         <div class="kdoBtn createGraphs"><i class="glyphicon glyphicon-plus"></i>Create Graphs</div>
    </div>
  </div>

  <div class="kdo-right-page-cotent">

      <div class="filterArea">
       <div class="kdo-floatDiv">
         <input type="text" name="combobox1" class="form-control comboboxGraphsGroup">

       </div>
        <div class="kdo-floatDiv">
             <input type="text" name="combobox1" class="form-control comboboxGraphsHost">
        </div>
       <div class="filterComands">
         <i class="glyphicon glyphicon-filter filterHostList"></i>
       </div>
      </div>
      <div class="graphsListGrid kdoGrid">
      </div>
      <div  class="hostListBtn col-md-12">
         <button type="button"   class="btn btn-default kdoPageBtn" data-bis="delHosts">Delete</button>
      </div>
  </div>

</div>
