<div class="container-fluid" id="SDIndex">
    <!-- <h1 id='new43243'>New</h1> -->
    <div class="padder_lg_sm">
        <div class="padder_panel">
            <div class="blank_disc">
                <a class="add_dashboard">
                    <img src="oss_core/pm/screendesigner/images/icon_add.png">
                    <p class="mt10">{{CREATE_BLANK_DASHBOARD}}</p>
                </a>
            </div>
            <div class="blank_disc">
                <a class="add_dashboardFromExist">
                    <img src="oss_core/pm/screendesigner/images/icon_add.png">
                    <p class="mt10">{{FROM_EXISTING_DASHBOARD_TO_CREATE}}</p>
                </a>
            </div>

        </div>
        <div class="mode_title">{{ALL_DASHBOARD}}</div>
        <div class="padder_panel">
            <div class="model_list">
            </div>
        </div>
    </div>
</div>
