<div class="sdesigner">
    <div id="tabs" class="ui-tabs">
        <ul class="ui-tabs-nav">
            <li>
                <a href="#tabs-setting">{{SETTING}}</a>
            </li>
            <li>
                <a href="#tabs-background-setting">{{BACK_GROUND}}</a>
            </li>

            <!-- <li>
                <a href="#tabs-other-setting">{{OTHER}}</a>
            </li> -->
        </ul>
        <div id="tabs-setting" class="ui-tabs-panel">
            <div class="m_u_box">
                <div class="bi-attr-edit-list-div">
                    <h4>{{CANVAS_BASIS_SET}}</h4>
                    <!-- TODO: 仪表盘名称 (done)-->
                    <div class="bi-attr-edit-list-div-rengs">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="from-inline">
                                    <div class="form-group">
                                        <lable for="name " class="bi-lable" style='width:20%'>{{NAME}}:</lable>
                                        <input type="text" id="canvas_name" style='width:60%' class="form-control bi-input-text" name="name" placeholder="{{PLEASE_INPUT_NAME}}">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- TODO: 仪表盘的风格(done) -->
                    <div class="bi-attr-edit-list-div-rengs">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="from-inline">
                                    <div class="form-group">
                                        <lable for="name " class="bi-lable" style='width:20%'>{{STYLE}}:</lable>
                                        <input type="radio" name="fenge" value="0" />
                                        <img src="oss_core/pm/screendesigner/images/fenge1.jpg" style="width:52px; height:24px" />
                                        <input type="radio" name="fenge" value="1" />
                                        <img src="oss_core/pm/screendesigner/images/fenge2.jpg" style="width:52px;height:24px" />
                                        <!-- <label>
                                          <input type="checkbox" name="grade" value="Female"> Female
                                        </label> -->
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="bi-attr-edit-list-div">
                    <h4>{{GRIDS_AND_GUIDES}}</h4>
                    <!-- TODO: 显示 / 隐藏(done) -->
                    <div class="bi-attr-edit-list-div-rengs">
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <lable class="bi-lable" style="margin-right:0px;margin-left:10px">{{SHOW_HIDE}}:</lable>
                            </div>
                            <div class="col-md-4 col-sm-4  col-md-offset-4 .col-sm-offset-4">
                                <label class="switch">
                                    <input type="checkbox" checked="true" class='switchGrid'>
                                    <span style=""></span>
                                 </label>
                            </div>
                        </div>

                    </div>
                    <!-- TODO: 透明度(done)-->
                    <div class="bi-attr-edit-list-div-rengs">
                        <div class="row">
                            <div class="col-md-3 col-sm-3">
                                <label class="bi-lable" style="margin-right:0px;margin-left:10px;padding-top:5px">
                                 {{OPACITY}}
                                </label>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div id="slider1" style="position:relative; top:12px;"></div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <input id="slider1_input" type="text" class="bi-input-number-range-input" readonly>
                            </div>
                        </div>
                    </div>
                    <!-- TODO:  横向数(done) -->
                    <div class="bi-attr-edit-list-div-rengs">
                        <div class="row">
                            <div class="col-md-3 col-sm-3">
                                <label class="bi-lable" style="margin-right:0px;margin-left:10px;padding-top:5px">
                                {{LANDSCAPE_NUMS}}
                                </label>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div id="slider2" style="position:relative; top:12px;"></div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <input id="slider2_input" type="text" class="bi-input-number-range-input" readonly>
                            </div>
                        </div>
                    </div>
                    <!-- TODO:  纵向数(done) -->
                    <div class="bi-attr-edit-list-div-rengs">
                        <div class="row">
                            <div class="col-md-3 col-sm-3">
                                <label class="bi-lable" style="margin-right:0px;margin-left:10px;padding-top:5px">
                                  {{PORTRAIT_NUMS}}
                                </label>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div id="slider3" style="position:relative; top:12px;"></div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <input id="slider3_input" type="text" class="bi-input-number-range-input" readonly>
                            </div>
                        </div>
                    </div>
                </div>


                  <div class="bi-attr-edit-list-div" id="bg_stView">

                  </div>


            </div>
            <!--
            <form class="form-inline">
                <div class="form-group">
                    <input type="checkbox" class="form-control" id="checkbox_bks">
                    <label for="checkbox_bks">启动背景图</label>
                </div>
            </form> -->
        </div>
        <div id="tabs-background-setting" class="ui-tabs-panel">
          <div class="m_u_box">

              <div class="bi-attr-edit-list-div">
                  <h4>{{BACKGROUND_IMAGE}}</h4>
                  <!-- TODO: 仪表盘名称 (done)-->
                  <div class="bi-attr-edit-list-div-rengs">
                      <div class="row">
                          <div class="col-md-12">

                            <div class="bgItem" id="bgItem1" data-src="oss_core/pm/screendesigner/images/backgrounds/1.png">
                                 <img src="oss_core/pm/screendesigner/images/backgrounds/1.png" width="64" height="36"></img>
                                 <span class="glyphicon glyphicon-ok" ></span>
                            </div>

                          </div>
                      </div>
                  </div>


              </div>

          </div>
        </div>
      <!--  <div id="tabs-other-setting" class="ui-tabs-panel">
             <div class="btn btn_primary btn_minwidth" id="uplodImage849023809489028938409">上传</div> -->
            <!-- <form id="uploadForm" action="http://127.0.0.1:8080/oss/upload?modelName=shift/&genName=true" method="post" enctype="multipart/form-data" target="postframe">
                <label for="fileinput" id="link">图片上传</label>
                <input id="fileinput" name="file" type="file" accept="image/*" />
            </form>
            <iframe name='postframe' id='postframe'></iframe>

        </div>-->

    </div>
</div>
