.chosiceMapType {
  cursor: pointer;
  margin-left: 5px;
}

.chosiceMapType:hover {
  color: #42a5f5;
}

.MapDialog .modal-header {
  padding: 8px;
  text-align: center;
}

.MapDialog .modal-body {
  background: #fff;
  padding: 0px;
}

.MapDialog .modal-footer {
  padding: 8px;
}

.MapDialog .exportCustomMap {
  float: right;
}

.MapDialog .exportCustomMap:hover .webuploader-pick {
  background: #039cfd;
  color: #fff;
  border-color: #fff;
}

.MapDialog .exportCustomMap .webuploader-pick {
  background: #fff;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.MapList {
  list-style: none;
  margin: 0px;
  padding: 0px;
  height: 370px;
}

.MapList li {
  padding: 5px;
  font-size: 15px;
  padding-right: 15px;
  color: #333;
  padding-left: 15px;
  cursor: pointer;
}

.MapList li .choiceMap {
  font-size: 12px;
  margin-right: 10px;
  display: none;
}

.MapList li.active {
  background: #6792d8;
  color: #fff;
}

.MapList li.active .choiceMap {
  display: inline-block;
}

.MapList li.active .MapLibtn {
  display: block;
}

.MapList li.active:hover {
  background: #6792d8;
}

.MapList li .MapLibtn {
  float: right;
  font-size: 12px;
  display: none;
  margin-top: 5px;
}

.MapList li .MapLibtn i {
  margin-left: 5px;
}

.MapList li .MapLibtn i:hover {
  font-size: 15px;
}

.MapList li:hover {
  background: #039cfd;
  color: #fff;
}

.MapList li:hover .MapLibtn {
  display: block;
}

.MapinputText {
  border: NONE;
  border-bottom: 1px  solid #c3c3c3;
  width: 40px;
  text-align: center;
}
