<div class="sdesigner">
    <div id="tabs" class="ui-tabs">
        <ul class="ui-tabs-nav">
            <li>
                <a href="#tabs-setting">{{SETTING}}</a>
            </li>
            <li>
                <a href="#tabs-other-setting">{{DATA_SOURCE}}</a>
            </li>
            <!-- <li>
                <a href="#tabs-json-editor">JSON</a>
            </li> -->
        </ul>
        <div id="tabs-setting" class="ui-tabs-panel">
            <div class="m_u_box">
                <div class="bi-attr-edit-list-div">
                    <h4>{{BASIC_SETTING}}</h4>
                    <div class="bi-attr-edit-list-div-rengs">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="from-inline">
                                    <div class="form-group">
                                        <label for="gtext_title" class="bi-lable">{{TITLE}}:</label>
                                        <input type="text" class="gtext_title" name="gtext_title">
                                    </div>
                                    <div class="form-group">
                                        <label for="gtext_colorpicker" class="bi-lable">{{TITLE_COLOR}}:</label>
                                        <input type="text" class="gtext_colorpicker" name="gtext_colorpicker">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bi-attr-edit-list-div">
                     <h4>{{VALUE_SETTING}}</h4>
                     <div class="bi-attr-edit-list-div-rengs">
                         <div class="row">
                             <div class="col-md-12">


                                     <div class="form-group">
                                         <label for="g_unit" class="bi-lable">{{UNIT}}:</label>
                                         <input type="text" class="g_unit" name="g_unit">
                                     </div>

                             </div>
                         </div>
                     </div>
                 </div>

                 <div class="bi-attr-edit-list-div" id="bg_stView">
                 </div>


            </div>
        </div>
        <div id="tabs-other-setting" class="ui-tabs-panel">
          <div class="dbCofnfigTree"></div>
        </div>
        <!-- <div id="tabs-json-editor" class="ui-tabs-panel">
             <div class="json-menu">
                <a href="#" class="btn btn-blue btn-sm btn-sure" style="float:right">确定</a>
              </div>
             <div id="json-editor"></div>
        </div> -->

    </div>
</div>
