<div class="sdesigner">
    <div id="textNodetabs" class="ui-tabs">
        <ul class="ui-tabs-nav">
            <li>
                <a href="#tabs-setting">{{SETTING}}</a>
            </li>
        </ul>
        <div id="tabs-setting" class="ui-tabs-panel">
            <div class="m_u_box">
                <div class="bi-attr-edit-list-div">
                    <h4>Basic Setting</h4>
                    <!-- TODO: 仪表盘名称 (done)-->
                    <div class="bi-attr-edit-list-div-rengs">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="from-inline">
                                    <div class="form-group">
                                        <lable for="name " class="bi-lable" style='width:20%'>Font Size:</lable>
                                        <select class="FontSizeSel" name="FontSizeSel">
                                             <option value="12">12</option>
                                             <option value="14">14</option>
                                             <option value="16">16</option>
                                             <option value="18">18</option>
                                             <option value="24">24</option>
                                             <option value="32">32</option>
                                             <option value="48">48</option>
                                        </select>
                                    </div>
                                        <div class="form-group">
                                            <label for="textNode_colorpicker" class="bi-lable">Font Color:</label>
                                            <input type="text" class="textNode_colorpicker" name="textNode_colorpicker">
                                        </div>
                                    <div class="form-group">
                                        <lable for="name " class="bi-lable" style='width:20%'>Font Family:</lable>
                                        <select class="FontFamilySel" name="FontFamilySel" style="width:54%">
                                             <option value="Times New Roman">Times New Roman</option>
                                             <option value="Microsoft YaHei">Microsoft YaHei</option>
                                             <option value="Arial">Arial</option>
                                             <option value="Courier New">Courier New</option>
                                             <option value="Verdana">Verdana</option>
                                        </select>
                                    </div>




                                </form>
                            </div>
                        </div>
                    </div>


                </div>

            </div>

        </div>

    </div>
</div>
