<div class="ui-dialog dialog-xs">
    <div class="modal-header">
        <h4 class="modal-title">{{STAFFORG_SEL_JOB_WIN}}</h4>
    </div>
    <div class="modal-body">
        <!-- <div class="searchbar-grid">
            <div class="search-bar">
                <div class="input-group js-searchbar search-group" data-toggle="searchbar"></div>
            </div>
            <div class="grid grid-row-10 bottom-padding"></div>
        </div> -->
        <div class="grid grid-height-md"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-min-width js-ok">
            {{COMMON_OK}}
        </button>
        <button type="button" class="btn btn-default btn-min-width js-cancel" data-dismiss>
            {{COMMON_CANCEL}}
        </button>
    </div>
</div>
