<div class="ui-dialog dialog dialog-lg">
    <div class="modal-header">
        <h4 class="modal-title">{{STAFFORG_STAFF_ORG_CHANGE_HIS}}</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label class="col-md-4 col-sm-4 control-label">
                        {{COMMON_BEGIN_TIME}}
                    </label>
                    <div class="col-md-8 col-sm-8">
                        <div class="input-group">
                            <input name="startDate" class="form-control js-date-begin">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label class="col-md-4 col-sm-4 control-label">
                        {{COMMON_END_TIME}}
                    </label>
                    <div class="col-md-8 col-sm-8">
                        <div class="input-group">
                            <input name="endDate" class="form-control js-date-end">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="text-right">
                    <button type="button" class="btn btn-primary btn-min-width js-query">
                        {{COMMON_QUERY}}
                    </button>
                    <button type="reset" class="btn btn-default btn-min-width">{{COMMON_RESET}}</button>
                </div>
            </div>
        </div>
        </form>
        <div class="grid grid-height-md"></div>
    </div>
</div>
