<div class="ui-dialog dialog dialog-lg">
	<div class="modal-header">
		<h4 class="modal-title">{{JOBMGR_ADD_JOB_ROLE}}</h4>
	</div>
	<div class="modal-body">
		<!-- <div class="searchbar-grid">
	        <div class="search-bar">
	           	<h4 class="title-forgrid pull-left">
	               	<span>{{JOBMGR_JOB_NAME}}:</span>
	               	<span class="js-job-name"></span>
	           	</h4>
				<div class="input-group pull-right" data-toggle="searchbar"></div>
	        </div> -->
	        <div class="grid js-grid-role grid-height-md"></div>
	    <!-- </div> -->
	</div>
	<div class="modal-footer">
		<div class="row">
			<div class="col-md-8 col-sm-8">
				<form class="form-horizontal invisible text-left js-add-type">
					<div class="form-group required">
					    <label class="col-md-2 col-sm-2 control-label">{{JOBMGR_ADD_TYPE}}</label>
					    <div class="col-md-9 col-sm-9">
					        <label class="radio-inline">
					          <input type="radio" value="T" name="addType"> {{JOBMGR_ADD_TO_JOB_TPL}}
					        </label>
					        <label class="radio-inline">
					          <input type="radio" value="U" name="addType"> {{JOBMGR_ADD_TO_JOB_USER}}
					        </label>
					    </div>
					</div>
				</form>
			</div>
			<div class="col-md-4 col-sm-4">
				<button type="button" class="btn btn-primary btn-min-width js-ok" autofocus>{{COMMON_OK}}</button>
				<button type="button" class="btn btn-default btn-min-width js-cancel" data-dismiss>{{COMMON_CANCEL}}</button>
			</div>
			<!-- <div class="col-md-6">
				<div class="form-group required">
					<label class="col-md-2 control-label">{{JOBMGR_ADD_TYPE}}</label>
					<div class="col-md-8">
						<select class="form-control js-add-type">
							<option value="#" selected="selected">{{COMMON_PLS_SEL}}</option>
							<option value="T">{{JOBMGR_ADD_TO_JOB_TPL}}</option>
							<option value="U">{{JOBMGR_ADD_TO_JOB_USER}}</option>
						</select>
					</div>
				</div>
			</div> -->
		</div>
	</div>
</div>
