<div class="ui-dialog dialog-lg">
	<div class="modal-header">
		<h4 class="modal-title">{{JOBMGR_ADD_ROLE_TO_USER}}</h4>
	</div>
	<div class="modal-body">
		<!-- <div class="searchbar-grid">
			<h4 class="title-forgrid">
				<span>{{JOBMGR_ROLE_LIST}}:</span>
				<span class="js-oper-roles"></span>
			</h4>
			<div class="search-bar">
				<h4 class="title-forgrid pull-left">
					<span>{{JOBMGR_JOB_NAME}}:</span>
					<span class="js-job-name"></span>
				</h4>
				<div class="input-group pull-right" data-toggle="searchbar"></div>
			</div>
			<div class="grid grid-height-md"></div>
		</div> -->
		<h4 class="title-forgrid">
			<span>{{JOBMGR_ROLE_LIST}}:</span>
			<span class="js-oper-roles"></span>
		</h4>
		<div class="grid grid-height-md"></div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary btn-min-width js-ok" autofocus>{{COMMON_OK}}</button>
		<button type="button" class="btn btn-default btn-min-width js-cancel" data-dismiss>{{COMMON_CANCEL}}</button>
	</div>
</div>
