<div class="comprivroot">
    <div class="row">
        <div class="col-md-12">
            <div class="">
                <div class="form-group col-md-3" style="height:15px;padding-left:0px;padding-right: 10px">
                    <input type="text" name="nhc-template-combobox" id="nhc-template-combobox" class="form-control">
                </div>
            </div>
            <div class="btn-group pull-right">
                <button type="button" class="nhc-choosetime-btn btn btn-default">Choose Time</button>
            </div>
        </div>
    </div>

    <div class="row m-t-sm" style="margin-top: 4px">
        <div class="col-md-3">
            <div class="container_left">
                <div class="panel panel_shadow">
                    <div class="search-bar clearfix b-b">
                        <div class="input-group search-group" style="width:100%;display: none">
                            <i class="fa fa-search" style="position: absolute;top: 7px;left: 10px;z-index:11"></i>
                            <input type="text" class="ad-theme-search form-control" placeholder="关键词/搜索词...">
                            <span class="input-group-btn">
                                <a href="search.html" class="btn " title="Search">搜索
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="input-group col-md-6">
                            <input type="text" class="form-control" id="nhc-netype-select">
                        </div>
                        <div id="nhc-nelist-container" style="height: 465px;padding-right:2px;overflow-y: auto">
                            <!--
                            <div class="m-t-sm" style="height:110px">
                                <h5>Ericsson：</h5>
                                <div class="list-group m-b-none">
                                    <a class="nhc-list-item list-group-item">
                                        ZTE:Mutare iBSC2(MAN1001)
                                        <span class="badge  nhc-bg-danger">58</span>
                                    </a>

                                </div>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="container_right" style="overflow-y: auto;overflow-x: hidden">
                <div class="panel panel_shadow">
                    <div id="nhc-right-heading" class="panel-heading" style="height:41px;padding-top: 12px">
                        <span class="panel-title">ZTE:Mutare iBSC2(MAN1001)健康度得分</span>
                        Final Assessment Time：2017-12-21
                    </div>
                    <div class="panel-body">
                        <div class="col-md-3">
                            <!--健康度得分概览-->
                            <div id="nhc-gauge-container" style="min-height: 220px">

                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="ad-apwidth">
                                <div id="holderMore27550" class="example_full" canvasheight="200" canvaswidth="90%" circler="70" circlerx="100" circlery="100" rectheight="16" animation="true" showlegend="true" c_stroke_width="13" r_stroke_width="2initrectwidth=0" style="height:200px;margin-top:0px;margin-left:0px;width:800px; position:relative;z-index:101;">
                                    <svg height="200" version="1.1" width="811.6" xmlns="http://www.w3.org/2000/svg"
                                         style="overflow: hidden; position: relative;margin-left:-100px">
                                        <defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                                            <linearGradient id="lg_1_1" x1="0" y1="0" x2="1" y2="0" gradientTransform="matrix(1,0,0,1,0,0)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                                                <stop offset="0%" stop-color="#dc0303" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></stop>
                                                <stop offset="12%" stop-color="#dc0303" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></stop>
                                                <stop offset="100%" stop-color="#dc0303" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></stop>
                                            </linearGradient>
                                            <linearGradient id="lg_1_2" x1="0" y1="0" x2="1" y2="0" gradientTransform="matrix(1,0,0,1,0,0)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                                                <stop offset="0%" stop-color="#dc0303" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></stop>
                                                <stop offset="12%" stop-color="#dc0303" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></stop>
                                                <stop offset="100%" stop-color="#ff5400" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></stop>
                                            </linearGradient>
                                            <linearGradient id="lg_1_3" x1="0" y1="0" x2="1" y2="0" gradientTransform="matrix(1,0,0,1,0,0)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                                                <stop offset="0%" stop-color="#dc0303" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></stop>
                                                <stop offset="12%" stop-color="#dc0303" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></stop>
                                                <stop offset="100%" stop-color="#3598db" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></stop>
                                            </linearGradient>
                                            <linearGradient id="lg_2_1" x1="0" y1="0" x2="1" y2="0" gradientTransform="matrix(1,0,0,1,0,0)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                                                <stop offset="0%" stop-color="#ff5400" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></stop>
                                                <stop offset="12%" stop-color="#ff5400" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></stop>
                                                <stop offset="100%" stop-color="#dc0303" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></stop>
                                            </linearGradient>
                                            <linearGradient id="lg_2_2" x1="0" y1="0" x2="1" y2="0" gradientTransform="matrix(1,0,0,1,0,0)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                                                <stop offset="0%" stop-color="#ff5400" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></stop>
                                                <stop offset="12%" stop-color="#ff5400" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></stop>
                                                <stop offset="100%" stop-color="#ff5400" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></stop>
                                            </linearGradient>
                                            <linearGradient id="lg_2_3" x1="0" y1="0" x2="1" y2="0" gradientTransform="matrix(1,0,0,1,0,0)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                                                <stop offset="0%" stop-color="#ff5400" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></stop>
                                                <stop offset="12%" stop-color="#ff5400" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></stop>
                                                <stop offset="100%" stop-color="#3598db" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></stop>
                                            </linearGradient>
                                            <linearGradient id="lg_3_1" x1="0" y1="0" x2="1" y2="0" gradientTransform="matrix(1,0,0,1,0,0)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                                                <stop offset="0%" stop-color="#3598db" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></stop>
                                                <stop offset="12%" stop-color="#3598db" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></stop>
                                                <stop offset="100%" stop-color="#dc0303" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></stop>
                                            </linearGradient>
                                            <linearGradient id="lg_3_2" x1="0" y1="0" x2="1" y2="0" gradientTransform="matrix(1,0,0,1,0,0)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                                                <stop offset="0%" stop-color="#3598db" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></stop>
                                                <stop offset="12%" stop-color="#3598db" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></stop>
                                                <stop offset="100%" stop-color="#ff5400" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></stop>
                                            </linearGradient>
                                            <linearGradient id="lg_3_3" x1="0" y1="0" x2="1" y2="0" gradientTransform="matrix(1,0,0,1,0,0)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                                                <stop offset="0%" stop-color="#3598db" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></stop>
                                                <stop offset="12%" stop-color="#3598db" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></stop>
                                                <stop offset="100%" stop-color="#3598db" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></stop>
                                            </linearGradient>
                                            <linearGradient id="lg_gray_gray" x1="0" y1="0" x2="1" y2="0" gradientTransform="matrix(1,0,0,1,0,0)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                                                <stop offset="0%" stop-color="#aaaaaa" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></stop>
                                                <stop offset="12%" stop-color="#aaaaaa" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></stop>
                                                <stop offset="100%" stop-color="#aaaaaa" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></stop>
                                            </linearGradient>
                                        </defs>
                                        <text x="100" y="100" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 23px; line-height: normal; font-family: Arial;" font-size="23px"></text>
                                        <rect id="nhc-kpi1-2-rect" x="256" y="92" width="211" height="16" r="0" rx="0" ry="0" fill="url(#lg_1_1)" stroke="#ffffff" stroke-width="0.1" opacity="1" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1; fill-opacity: 1;"></rect>
                                        <image id="nhc-kpi1-image" x="230" y="74" width="52" height="52" preserveAspectRatio="none" xmlns:xlink="http://www.w3.org/1999/xlink"
                                               xlink:href="oss_core/pm/report/health/assets/img/levelColor_1.png" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></image>
                                        <text x="256" y="134" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#666666" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: Arial;" font-size="12px">
                                            <tspan id="nhc-kpi1-name" dy="4.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Congestion</tspan></text>
                                        <text id="nhc-kpi1-score-text" x="256" y="66" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#ff5400" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: Arial;" font-size="12px">
                                            <tspan id="nhc-kpi1-score" dy="4.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">82</tspan></text>
                                        <rect id="nhc-kpi2-3-rect" x="467" y="92" width="211" height="16" r="0" rx="0" ry="0" fill="url(#lg_3_3)" stroke="#ffffff" stroke-width="0.1" opacity="1" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1; fill-opacity: 1;"></rect>
                                        <image id="nhc-kpi2-image"x="441" y="74" width="52" height="52" preserveAspectRatio="none" xmlns:xlink="http://www.w3.org/1999/xlink"
                                               xlink:href="oss_core/pm/report/health/assets/img/levelColor_2.png" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></image>
                                        <text x="467" y="134" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#666666" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: Arial;" font-size="12px">
                                            <tspan id="nhc-kpi2-name" dy="4.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Accessibility</tspan></text>
                                        <text id="nhc-kpi2-score-text" x="467" y="66" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#dc0303" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: Arial;" font-size="12px">
                                            <tspan id="nhc-kpi2-score" dy="4.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">80</tspan></text>
                                        <image id="nhc-kpi3-image"x="652" y="74" width="52" height="52" preserveAspectRatio="none" xmlns:xlink="http://www.w3.org/1999/xlink"
                                               xlink:href="oss_core/pm/report/health/assets/img/levelColor_3.png" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></image>
                                        <text x="678" y="134" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#666666" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: Arial;" font-size="12px">
                                            <tspan id="nhc-kpi3-name" dy="4.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Retainability</tspan></text>
                                        <text id="nhc-kpi3-score-text" x="678" y="66" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#3598db" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: Arial;" font-size="12px">
                                            <tspan id="nhc-kpi3-score" dy="4.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">0%</tspan></text>
                                        <text x="100" y="100" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#dc0303" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 60px; line-height: normal; font-family: Arial;" font-size="60px"></text>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-heading b-t"><span class="panel-title">健康度趋势</span></div>
                    <div class="panel-body">
                        <div class="col-md-12">

                            <div id="nhc-trend-container" style="min-height: 220px">

                            </div>

                        </div>
                    </div>

                    <div class="panel-heading b-t"><span class="panel-title">指标详情</span></div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div id="nhc-kpidetail-grid-tabs" class="ui-tabs">
                                <ul class="ui-tabs-nav">
                                    <li>
                                        <a href="#nhc-kpidetail-grid-tabs-a">概览</a>
                                    </li>
                                    <li>
                                        <a href="#nhc-kpidetail-grid-tabs-b">接入性</a>
                                    </li>
                                    <li>
                                        <a href="#nhc-kpidetail-grid-tabs-c">保持性</a>
                                    </li>
                                    <li>
                                        <a href="#nhc-kpidetail-grid-tabs-d">可用性</a>
                                    </li>
                                </ul>
                                <div id="nhc-kpidetail-grid-tabs-a">
                                </div>
                                <div id="nhc-kpidetail-grid-tabs-b">
                                </div>
                                <div id="nhc-kpidetail-grid-tabs-c">
                                </div>
                                <div id="nhc-kpidetail-grid-tabs-d">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>