<div class="modal-header white-background">
	<h4 class="modal-title">Choose Time</h4>
</div>
<div class="modal-body white-background" style="overflow: hidden;">
	<div class="ad-modal-box white-background">
		<div class="ad-tolbad white-background">
			<input type="checkbox" class="switch-btn _formIngoreValue" data-on-color="primary" data-off-color="info" data-on-text="小时" data-off-text="天" data-ui-role="switchbutton">
		</div>
		<div class="ad-tolbad white-background" style="padding-top: 15px">
			<div id="nhc-tc-dayslider"></div>
			<div id="nhc-tc-hourslider" style="display: none"></div>
		</div>
	</div>
</div>
<div class="modal-footer white-background">
	<div class="col-md-12 text-right" style="margin-top:-5px;padding-right:0px;">
		<button type="button" class="btn btn_primary btn_minwidth" id="btn-slm-slimgr-ok" autofocus>
			设置
		</button>
	</div>
</div>
