<div class="row">
	<div class="col-md-3 js-dim-left-panel">
		<div class="container_left">
		<div class="grid_container">
			<div class="search-bar js-search-bar">
		    	<div class="input-group search-group" data-toggle="searchbar"></div>
		    </div>
		    <div class="grid js-dim-grid"></div>
		</div>
		</div>
	</div>

	<div class="col-md-9 js-dim-right-panel">
		<div class="container_right">
		<div class="panel panel_shadow">
			<div class="panel-heading"><span class="panel-title">{{COMMON_DETAIL}}</span></div>
			<div class="panel-body js-dim-detail-content">
					
			</div>
		</div>
		</div>
	</div>
</div>
