<div class="kdo-dialog ui-dialog dialog-md" style="overflow-y: auto;overflow-x: hidden;">
    <div class="modal-header">
        <h4 class="modal-title">filter</h4>
    </div>
    <div class="modal-body filterItemBody">
        <div class="row filterPross">
            <div class="col-xs-12">
                <div class="form-group itemFrom">
                    <label for="filterPreprocess">预处理方法名称</label>
                    <input type="text" class="filterPreprocess filterInput tranItem" name="FilterName">
                </div>
            </div>
            <div class="col-xs-12 prarp">
                <div class="form-group itemFrom">
                    <label for="filterPattern">参数<span class="item_red"></span></label>
                </div>
            </div>
            <div class="filterProssR"></div>
        </div>
        <div class="row mgt15">
            <div class="fr">
                <div class="KdoBtn2 btn reset">Cancle</div>
                <div class="KdoBtn2 btn OK Kdo_mainColor">Sure</div>
            </div>
        </div>
    </div>
</div>