<div class="comprivroot" >
<section class="vbox">
    <section>
        <section class="hbox stretch">
            <!--Center-->
            <section>
                <section class="vbox ad-chart-bg">
                    <section class="wrapper scrollable p-b-none js-task-monitor-div">
                        <div class="ad-tab-btn">

					        <ul class="nav nav-tabs">
					            <li class="active"><a data-toggle="tab" href='#' tab-content="demo-tabs-box-1" aria-expanded="true" class='js-task-monitor-tab'>{{TASK_GENERAL}}</a></li>
					            <li class=""><a data-toggle="tab" href='#' tab-content="demo-tabs-box-2" aria-expanded="false" class='js-task-monitor-tab'>{{TASK_DETAIL}}</a></li>
					            <!--
						            <li style='float:right'>
						            	<div class="input-group pull-right">
						            		<input id="STATE" name="STATE" class="toggle-switch" type="checkbox" checked="">
						                    <label for="STATE"></label>
						                    
						                </div>
						            </li>
						        -->
					        </ul>

					    </div>
				        <div class="ad-tolbad">
				            <div class="ad-block">
				                <div class="tab-content m-t-sm">
				                    <div id="demo-tabs-box-1" class="tab-pane fade active in">
				                        <div class="row js-task-monitor-total-div">
				                        </div>
				                        
				                        <div class="ad-box-pd">
					                        <div style='height:160px' class='js-task-monitor-chart'></div>
					
					                        <div class="ad-title">
					                            <h4>{{COMMON_DETAIL}}</h4>
					                            
					                            <div class="col-md-3 pull-right m-l-sm dis-in-block">
					                            	<div class="input-group search-group pull-left">
														<i class="fa fa-search" style="position: absolute;top: 7px;left: 10px;z-index:11"></i>
														<input type="text" class="ad-theme-search form-control  js-task-monitor-search-input" placeholder="{{TASK_INPUT}}">
														<span class="input-group-btn">
															<a href="#" class="btn  js-task-monitor-search" title="{{SEARCH}}">{{SEARCH}}</a>
														</span>
														<span class="input-group-btn">
															<a href="#" class="btn  js-task-monitor-reset" title="{{COMMON_RESET}}">{{COMMON_RESET}}</a>
														</span>
					                                </div>
					                                
					                            </div>
					
					                            <div class="col-md-2 pull-right">
					                                <div class="form-group ">
					                                	<div class="col-md-12">
					                                    	<input type="text" name='TASK_TYPE' class="form-control" placeholder="{{COMMON_PLS_SEL}}" />
					                                    </div>
					                                </div>
					                            </div>
					                        </div>
					
					                        <div class="table-responsive  m-t-sm">
					                    		<div class="grid js-task-monitor-grid"></div>
					                    	</div>                    
				                        </div>
				                    </div>
				                    <div id="demo-tabs-box-2" class="tab-pane fade">
				                        <div class="ad-box-pd">
				                        	<div class="ad-title ">
					                            <h4 class='js-task-monitor-inst-data-path'>&nbsp;</h4>
					                            
					                            <div class="col-md-3 pull-right m-l-sm dis-in-block">
					                                <div class="input-group search-group pull-left">
					                                   	<i class="fa fa-search" style="position: absolute;top: 7px;left: 10px;z-index:11"></i>
														<input type="text" class="ad-theme-search form-control  js-task-inst-monitor-search-input" placeholder="{{TASK_INPUT}}">
														<span class="input-group-btn">
															<a href="#" class="btn js-task-inst-monitor-search" title="{{SEARCH}}">{{SEARCH}}</a>
														</span>
														<span class="input-group-btn">
															<a href="#" class="btn  js-task-inst-monitor-reset" title="{{COMMON_RESET}}">{{COMMON_RESET}}</a>
														</span>
					                                </div>
					                            </div>
					
					                            <div class="col-md-2 pull-right js-task-type-inst-div">
					                                <div class="form-group ">
					                                	<div class="col-md-12">
					                                    	<input type="text" name='TASK_TYPE_INST' class="form-control" placeholder="{{COMMON_PLS_SEL}}" />
					                                    </div>
					                                </div>
					                            </div>
					                        </div>
			                        		<div class="table-responsive  m-t-sm">
				                    			<div class="grid js-task-monitor-inst-grid"></div>
				                    		</div>
				                        </div>
				                    </div>
				                </div>
				            </div>
				        </div>
                    </section>
                </section>
            </section><!--/ Center End-->
        </section>
    </section>
</section>
<!--End Div-->
</div>