.pm-portal dt,.pm-portal dd
{
        padding-left: 20px
}
.pm-portal dl{
        margin-top: 20px
}
.pm-portal dt{
        font-size: 14px
}
.pm-portal .borrus{
        border: 2px solid #4acde2;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        float: left;
        margin-top: 3px;
        margin-left: -15px;
}
